[2016-10-27 18:09] mbroadst commented on #276
@princjef could something like this help here: https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/index.js#L37, you should be able to define types like:
[code]
or
[code]

I'd really prefer to figure out how to make this thing more natural, and complete than expose the internal classes if possible.

[2016-10-27 18:12] mbroadst commented on #277
@princjef have you checked out the source for [amqp10-rpc](https://github.com/mbroadst/amqp10-rpc) ? I think I'm doing something similar here: https://github.com/mbroadst/amqp10-rpc/blob/master/lib/rpc-client.js#L16.

You should definitely be able to override any value using the `policyOverrides`, so if we have a problem there (perhaps `deepMerge`/`deepCopy` is striking again!) then we need to res

[2016-10-27 18:17] princjef commented on #276
@mbroadst Yeah that's reasonable. I had seen `node-amqp-encoder` but not the translator.

I'll play around with it a bit and see if I can get it to work. At the very least extending that would probably be preferable to exporting the classes

[2016-10-27 18:20] mbroadst commented on #276
@princjef yeah I mean, if you have the time it would be really appreciated. I'd like to make that (or whatever replaces it) the default method for explicit typing, so if we can think up a great interface together that would be fantastic.

[2016-10-27 18:24] mbroadst commented on #276
@princjef for instance, I kind of like the idea of exporting something like `translator` as `type` instead, maybe with properties for each type. e.g.:

[code]

just spitballing

[2016-10-27 20:50] anthonyvercolano commented on #273
There is a current c implementation in the  Azure uAMQP where essentially a CBS object is provided by uAMQP.  The cbs object is maintained by uAMQP.   It provides as part of its interface a method to be handed a new sas token and it takes care of putting the token and processing the response.  Callbacks are used to provide the status to the application (in this case the iot sdk.  I just wasn't sur

[2016-10-27 23:43] princjef commented on #276
@mbroadst yeah something like that would be incredibly useful. I should have some time here and there and would be happy to do some brainstorming/coding. A good explicit type format would be very helpful in resolving some of the encoding issues people have.

I do like wrapping values with a type because it still keeps the general structure, just with some extra annotations. The big question with t

[2016-10-28 00:07] princjef commented on #277
@mbroadst I think I have the opposite. I need to specify the address for the link that I am creating (a.k.a sender -> source, receiver -> target). I believe dynamic tells the link on the opposite end (sender -> target, receiver -> source) to set its own address.

As for whether it is overridable, it looks like `deepMerge` gives precendence in the opposite order of `Object.assign`, overriding value

[2016-10-28 12:47] mbroadst commented on #277
@princjef yeah `deepMerge`/`deepCopy` has been a pretty steady source of issues, I'd like to get rid of them possibly in favor of an `Object.assign` ponyfill or at least making it act more like `Object.assign` in terms of ordering etc (`deepMerge` does constructor-level copying, so its a weird beast with particular requirements unfortunately).  It's also a breaking change, so we'd have to push up

[2016-10-28 22:24] princjef commented on #277
@mbroadst not sure what kind of change you had in mind, but I added a couple of tests for the way I addressed it and submitted a pull request. I can also modify if you have a better idea of how to address it.

Is there a place where features/changes for 4.x are being tracked? An ES6 codebase would be very welcome, though a large refactor. Just curious if there are any other big changes on the road

[2016-10-30 20:46] mbroadst commented on #277
@princjef I took a stab at refactoring your PR over here: https://github.com/noodlefrenzy/node-amqp10/pull/279. I think this is probably closer to what we want, and should not be a breaking change (like your solution).  Please give it a shot locally and let me know if you have any issues.

As far as features being tracked for 4.x, currently the short answer is: no. We're in the process of moving t

[2016-10-30 21:34] mbroadst commented on #218
@jacoscaz hey, if you're still using this I just pushed a PR for a `SenderLink` feature I'm calling `noReply`. The idea here being that sends would no longer return a Promise (i.e. "track" the send) when `send` is called on them with `{ noReply: true }` set.  The performance increase is remarkable (something like 50x faster on the streams test which used to take `3979ms` vs `79ms` now).

[2016-10-31 18:08] princjef commented on #277
@mbroadst I tested it out and everything looks good. Thanks!

Thanks for the info. I'll take a look at gitter. I'm not sure what Babel's compatibility level looks like but you might be able to get it to transpile ES6 into node 0.10 compatible code. You could even potentially keep transpiled and non-transpiled forms in the package, exporting the transpiled form under `'amqp10/legacy'` or something

[2016-10-31 18:11] #277 closed

[2016-11-10 14:56] mbroadst commented on #269
@dnwe I'm looking into this today. Do you feel like having documentation generated for every file was useful for you from a user's perspective? It seems to me like maybe our documentation should just be for user-facing API (so like `AmqpClient` and `Policy` basically), but I could be convinced otherwise

[2016-11-10 15:10] mbroadst commented on #276
@princjef sorry I let this one get away from me. Can you provide a small example of how the translator is failing you here? It actually occurs to me that the biggest gap in our code coverage is around the translator, so I'd like to get some unit tests in there for that 😄

[2016-11-10 22:44] princjef commented on #276
@mbroadst no worries. I had actually given some thought to a new translation/type API like you mentioned but haven't had time to do much with it.

If I remember correctly, it was anything involving an array. I think it was something like this, but you should run into the same problem for any array filled with anything (uuid won't work because of [a gap in node-amqp-encoder](https://github.com/nood

[2016-11-14 07:53] wingedfox commented on #267
Thanks, it works pretty well, but is there a good way to find out whether we're creating sender/receiver for queue or topic?

Also, it worth to rewrite Policies using classes and utilize parent methods from extended policies instead of binding to the prototypes. Guess, I'll make a PR with such changes.

[2016-11-14 13:08] mbroadst commented on #267
@wingedfox the same method is called for both sender and receiver, can you explain the use case behind needing to know more context for address parsing?

Also, the policies _are_ using classes (insofar as javascript supports them). The above example, extending `parseLinkAddress` is how you override methods in "subclasses" in javascript.

[2016-11-14 13:21] wingedfox commented on #267
@mbroadst, the question was about the distinction between queues and topics from within the link parser.

About the classes, it's all about the syntax sugar.

[2016-11-14 13:24] mbroadst commented on #267
@wingedfox I still don't understand the question about queues and topics, could you please elaborate.

I'm also not clear what you're getting at with classes? Do you mean using ES6 classes? There has been discussion of an ES6 port, however we still have a large legacy user base that require support for node 0.10 so the transition has not begun yet.

[2016-11-16 13:18] wingedfox commented on #267
@mbroadst
From my point of view, it is a good idea to have single MQ connection in an application and this leads to a problem: how to find out whether sender (or publisher) is going to be connected to a queue or topic from within a policy.

This question comes from the initial requirement set by Apache Artemis to explicitly use topic and message prefixes during link set up.

There's a simple way:

[2016-11-16 14:22] mbroadst commented on #267
@wingedfox I feel like we are caught in an [XY problem](http://xyproblem.info/) here. I agree that having a single connection is the ideal path for an application (and this is indeed the intent put forth in the spec, for most cases). What I am still unclear of is what your actual problem is when parsing the link address, can you please provide some code to further explain your use case?

Specifica

[2016-11-18 19:12] mbroadst commented on #269
@dnwe https://github.com/noodlefrenzy/node-amqp10/blob/update-docs/DOCUMENTATION.md

That's the work I got through today. It looks like adding this directly to our README would involve an extra build step (generating our README from a handlebars template etc), so I went directly with placing a DOCUMENTATION.md file in the root which can be linked to from the README.md.

It's definitely incomplete,

[2016-11-21 08:47] 030 opened #281 "Must provide either settings json file or appropriate environment variables"
I have read the README and the comments in the simple_eventhub_test.js file but it is not clear to provide the settings. I have tried ```node simple_eventhub_test.js settings.json```, but the issue persists.

[2016-11-23 13:56] mbroadst commented on #269
@dnwe I've merged in the documentation updates. It's far from complete but I think in a much better place than it was before, also it should be somewhat easier for users to help fill in now (via jsdoc). Documentation is built using `make docs` from the command line in the top level of the repo, and its linked to from the `README.md`

[2016-11-23 13:56] #269 closed

[2016-12-21 15:52] ajukraine opened #284 "Slow performance on single node with 4 receivers"
I have Azure event hub with 4 partitions (and 4 TPU) with 2500 events per each partition.

I've executed script in single Node.js instance, which creates 4 receivers. Total execution time is 3m2.943s
After that I've executed simultaneously 4 instances, each had 1 receiver. The average execution time is 56s.

Also I have C# .NET application, which creates 4 receivers (each in separate thread). Tota

[2016-12-21 16:20] mbroadst commented on #284
@ajukraine can you please provide a minimal working example of this so we can test locally?

The performance of the module in my experience is pretty great, and its definitely not blocking, so I suspect there might be some specific settings omitted between the test cases/implementations.

[2016-12-21 16:31] ajukraine commented on #284
https://gist.github.com/ajukraine/50393bfc255bb73c8d4a8f4bfcfde5f8

[2016-12-21 16:34] ajukraine commented on #284
Each event is 12KB Json document

[2016-12-21 16:35] mbroadst commented on #284
@ajukraine is it possible at all to get a sample of what the payload looks like? just to make sure its not related to a particular decoding issue

[2016-12-21 16:39] mbroadst commented on #284
Also, I noticed that in your example you are using the `azure-event-hubs` npm, could you possibly modify one of our EventHub [examples](https://github.com/noodlefrenzy/node-amqp10/blob/master/examples) to attempt this process with just the amqp10 driver?

[2016-12-21 16:45] ajukraine commented on #284
@mbroadst here's the example of the payload https://gist.github.com/ajukraine/6c5dff3df2659c585c3eece3d1d4330c

Yes, I've tried to use amqp10 directly - the performance was quite same (that's why I tried the Azure one, but under the hood it uses amqp10 with modified policy).

I will perform test again with amqp10 driver, and will share results.

[2016-12-21 16:50] ajukraine commented on #284
Here's the script with amqp10: https://gist.github.com/ajukraine/c9c1078a83d8f77ed8f8cb1cf23fbd65

Total execution time is 2m58.447s, which almost the same as with Azure's wrapper library.

[2016-12-21 17:01] ajukraine commented on #284
Is it possible that receiver's IO threads are locking each other?

[2016-12-21 17:08] ajukraine commented on #284
It seems to work, if I create separate client for each partition (and single receiver per client). Total execution time is 0m57.465s, which is a bit higher than 4 processes but for sure much simpler solution.

[2016-12-21 17:10] ajukraine commented on #284
So is it a bug or expected behavior?

[2016-12-21 17:22] ajukraine commented on #284
Another thing is that with 4 clients I get messages in random order:

received(2)
received(1)
received(0)
received(3)
received(2)
received(1)
received(3)
received(2)
received(0)
received(1)
received(3)
received(2)
received(1)
received(0)
received(3)
received(2)
received(1)
received(0)
received(2)
received(1)
received(0)
received(2)
received(1)
received(0)
received(3)
received(2)
received(1)

And w

[2016-12-21 18:48] ajukraine commented on #284
I have created virtual machine in the same Azure data center, where EventHub is hosted.

C# .NET solution - 8.037s
Node.Js amqp10 (4 clients) - 10.406s
Node.Js amqp10 (1 client) - 10.617s

So it seems, that problem is also caused by network (maybe latency). But it looks strange, that number of clients are making the difference. Is it ok to scale clients instead of receivers? Is there any differenc

[2016-12-22 13:21] mbroadst commented on #284
@ajukraine its definitely not the expected behavior that having separate clients yields faster results than multiplexing a single client. In fact using a single client is the intended approach, so I'll spend some time today trying to figure out what's going on here - your feedback is very much appreciated. Just one last clarifying question regarding the payload example you sent: are you actually s

[2016-12-22 13:37] ajukraine commented on #284
I've sent it as bytes array using C# .NET Api. So my guess it's sent using binary format.

[2016-12-22 13:38] mbroadst commented on #284
@ajukraine you should be able to check the type of the `message.body` in your `received` handler

[2016-12-22 15:36] mbroadst commented on #284
@ajukraine I'm able to confirm this locally, researching the cause of the bug at the moment.

[2016-12-22 19:19] ajukraine commented on #284
Hm, it might be tricky, I suspect

[2016-12-22 23:42] mbroadst commented on #284
@ajukraine so I've put together a similar test using our CI's EventHub setup, running this code: https://gist.github.com/mbroadst/6add091dea7ebea97236b0fc0a5b98da

the results for both tests are as follows:
[code]

Then I set up a similar test against a local qpidd, where I created 4 queues (test-queue0-3), and I ran a test using attach option `distributionMode: 'copy'`, which should not actually

[2016-12-23 02:51] albhardy opened #285 "Using websocket for simple_eventhub_test.js"
I noticed there's already support for [AMQP over websockets for Azure IoT Hub](https://github.com/noodlefrenzy/node-amqp10/pull/194), however I could not figure out configuration needed to connect to IOT Event Hub-compatible endpoint websocket port 443 in simple_eventhub_test.js (Tried to change the  protocol to `wss` as well as appending `:443`)

    {
        "SASKeyName":"iothubowner",

[2016-12-23 03:49] mbroadst commented on #285
You'll need to make sure you are using the websocket transport [module](https://github.com/noodlefrenzy/node-amqp10-transport-ws). So you would basically have at the top of your script:

[code]

[2016-12-23 04:29] albhardy commented on #285
I tried it but receive no response :(

       'use strict';
        const amqp = require('amqp10'),
            wsTransport = require('amqp10-transport-ws');
        wsTransport.register(amqp.TransportProvider);

        var AMQPClient = amqp.Client;
        var Policy = require('amqp10').Policy;
        var translator = require('amqp10').translator;
        var Promise = require('bluebird');

[2016-12-23 04:50] mbroadst commented on #285
@albhardy could you try running with debug messages enabled (specify `DEBUG=amqp*` as an environment variable before running your script), and paste the output here?

[2016-12-23 05:16] albhardy commented on #285
Following is the output:

        uri:amqps://iothubowner:xxxxxxxxxx%3D@yyyyyyyyyyyyyyy.servicebus.windows.net
          amqp10:client connecting to: amqps://iothubowner:xxxxxxxxxx%3D@yyyyyyyyyyyyyyy.servicebus.windows.net +0ms
          amqp10:transport:tls Connecting to yyyyyyyyyyyyyyy.servicebus.windows.net:5671 via TLS +15ms
          amqp10:connection Transitioning from DISCONNECTED to START

[2016-12-23 08:50] ajukraine commented on #284
I've changed the C# .NET implementation to use 1 client per partition. Results remain same. Total execution time about 7.8 seconds.

And here is timings per partition. It's always like that - 1st created partition finished faster, rest of them are throttled (according to EventHub pricing/limitation).

Receiver 0, total 2728 ms
Receiver 2, total 5027 ms
Receiver 1, total 6285 ms
Receiver 3, total 7

[2016-12-23 13:30] mbroadst commented on #285
@albhardy I hope you'll bear with me, because I'm the "non-windows" side of the team who made this module. It looks to me that, generally, you are connecting to the wrong address in some way. The first example output above indicates that the remote server simply isn't even responding in any way, while the second output indicates that perhaps you are trying to connect via websockets to a server tha

[2016-12-24 16:40] pierreca commented on #285
@mbroadst @albhardy I can confirm that `wss` is the protocol that needs to be used for amqp10 to use the websocket transport but you figured that already. About the handshake error, I'll have to look into it more closely when I get back after the holidays. Either there's a special endpoint, or the websocket library we use doesn't support something event hubs does and we'll have to find an alternat

[2016-12-24 17:20] albhardy commented on #285
Thanks Matt and Pierre for looking into this - really appreciate your help in narrowing down the issue. I posted similar question in [Azure IOT repository](https://github.com/Azure/azure-iot-sdk-node/issues/6) as well (but no response yet) - will continue to keep a look out and give you any update. Meanwhile wishing you all a happy holidays!

[2017-01-07 12:07] geoffreysamper commented on #234
Can i send a pull request for this issue?

[2017-01-07 15:49] mbroadst commented on #234
@geoffreysamper absolutely. We already have this PR #235, but it was unclear whether it resolved the issue brought up here. Would you be willing to verify the fix?

[2017-01-07 15:50] geoffreysamper commented on #234
Yes i can do it on monday

Op 7 jan. 2017 16:49 schreef "Matt Broadstone" <notifications@github.com>:

[2017-01-08 13:44] geoffreysamper commented on #234
Hi @mbroadst ,

I tested the PR and for me it works. The problem is not really eventhub but is wat is reading the eventhub. For example we can set the input format of Stream analytics to Avro so what eventhub deliversmust must be avro and not something else. So my suggestion should be if the the body is a buffer then don't jsonify it.

Is this acceptable for your or do you expect more info or test

[2017-01-08 14:08] mbroadst commented on #234
@geoffreysamper totally fine by me

[2017-01-08 14:10] mbroadst commented on #234
fixed in 0814658

[2017-01-08 14:10] #234 closed

[2017-01-09 13:07] geoffreysamper opened #286 "Question about no credit"
Hi,
I'm using amqp library in and the amqp10-link-cache and sometimes I receive follow error. How would I handle this cause of error?

amqp:link:transfer-limit-exceeded:There is no link credit to accept the delivery

Thx

[2017-01-09 13:21] mbroadst commented on #286
@geoffreysamper I'm assuming this is for a receiver link? this looks like the [credit](https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/policies/policy.js#L175) function isn't being called. This could happen for a number of reasons:
 * there isn't a defined credit function (by default there is one provided)
 * messages are not being settled upon receipt (by default we auto settle)
 * ??

[2017-01-09 13:42] geoffreysamper commented on #286
So what you mean is that I'm using eventhub and there would be a problem. I will try to simulate it again but i can take a while

[2017-01-09 13:50] mbroadst commented on #286
@geoffreysamper no.  We have integration tests that run against EventHub and ServiceBus with no issue, what I'm saying is that its possible that you have a configuration error that is preventing the client from "flowing", and thus refreshing its credits

[2017-01-09 13:52] geoffreysamper commented on #286
Ok and the only thing you need is the the debug information

[2017-01-09 13:53] mbroadst commented on #286
Yes that would be useful, but also if you could provide more information on whether you modifying the default policy, or if you've opted to not use auto-settle and therefore are not manually sending disposition information for received messages.

[2017-01-09 14:14] geoffreysamper commented on #286
I copied the the content of event policy because of the pullrequest with the encoder

https://gist.github.com/geoffreysamper/ba994b545bd64ab48de39047b1791be8

[2017-01-09 14:45] geoffreysamper commented on #286
Hi,

I found the issue with the reason was the the policy was not on setteld. Thanks for the response

[2017-01-09 14:46] mbroadst commented on #286
@geoffreysamper cool, glad that wasn't too hard to figure out :)

[2017-01-09 16:02] geoffreysamper commented on #286
I can you leave it open I still have the issue. But difficult to simulate I will try it in the next couple of days

[2017-01-09 16:29] mbroadst commented on #286
Sorry about that, we'll leave it open until you close it

[2017-01-12 09:43] geoffreysamper commented on #286
I can't simulate the bug for the moment. The next couple of weeks I will do more stress testing. May then i can resimulate it. So for now you can close the issue for me.

Thx

[2017-01-15 07:26] jeffmcaffer opened #287 "Warning: a promise was rejected with a non-error: [object Object]"
Running 3.4.0 I'm getting warnings (see title) dumped to the console reasonably consistently (when I get, for example size errors).  This is coming from Bluebird.  They have an [explanation as to why](https://github.com/petkaantonov/bluebird/blob/master/docs/docs/warning-explanations.md#warning-a-promise-was-rejected-with-a-non-error) they log the warning.

The root cause appears to be some code i

[2017-01-15 08:22] jeffmcaffer opened #288 "Error can"
I'm consistently getting errors related to accept()'ing messages.  There are no issues receiving and processing the messages but when the system goes to accept() it seems the connection has gone away and errors like the one quoted below occur.  (Note that sometimes it is a different property like sendFrame).  There will be a spurt of these (5-20) and the connection seems to rehabilitate itself and

[2017-01-15 20:26] mbroadst commented on #287
@jeffmcaffer this appears to be because you are receiving a protocol error off the link, but its somehow not being wrapped properly to inherit `Error`. I've never seen this before myself, are you able to easily reproduce this? Could you possibly run your example in debug mode (with `DEBUG=amqp*` as an environment variable) and paste the output here?

[2017-01-15 20:27] #286 closed

[2017-01-15 20:30] mbroadst commented on #288
AMQP 1.0 itself is meant to be multiplexed over single clients, however that doesn't prohibit you from using multiple clients. Also, there appears to be anecdotal evidence that we get some performance degradation with ServiceBus and the use of a single client (see [this](https://github.com/noodlefrenzy/node-amqp10/issues/284) issue).

What you are describing sounds like the remote side of the conn

[2017-01-16 00:27] jeffmcaffer commented on #288
@mbroadst Thanks for the quick reply!  Feel free to check out [the code of our queue receiver](https://github.com/Microsoft/ospo-ghcrawler/blob/develop/lib/amqp10Queue.js).  We create 5 of those in [ospoCrawler.js](https://github.com/Microsoft/ospo-ghcrawler/blob/develop/lib/ospoCrawler.js#L389).  Could just as well switch to one AmqpClient though I'm not sure if that will affect the server discon

[2017-01-16 00:31] jeffmcaffer commented on #287
I've not tried this directly but this problem appears (at least) when receiving a message that is larger than the configured size for the receiver_link.  Some of our messages get pretty big (200K) but most are more like 1K.  We can look at creating a repro unless you have some easy test harness to make this happen.

I got the above stack trace by hacking the Bluebird code to dump the stack at the

[2017-01-16 01:09] mbroadst commented on #288
@jeffmcaffer looks like the repo is still private

[2017-01-16 03:39] jeffmcaffer commented on #288
D'oh.  Public now.

[2017-01-16 13:13] mbroadst commented on #288
@jeffmcaffer there looks to be some weirdness with your policy code. Initially `policy` is defined to be a function [here](https://github.com/Microsoft/ospo-ghcrawler/blob/develop/lib/amqp10Queue.js#L33) and then subsequently changed to an object using `Policy.merge` [here](https://github.com/Microsoft/ospo-ghcrawler/blob/develop/lib/amqp10Queue.js#L35). I'm not actually sure what that would do, b

[2017-01-18 02:49] pierreca commented on #285
We'll be taking care of it on the Event-hubs side (https://github.com/Azure/azure-event-hubs-node/issues/2). there's nothing that need to change in amqp10 to support this. I think this issue can be closed.

[2017-01-18 12:45] #285 closed

[2017-01-25 09:45] geoffreysamper commented on #286
Hi,
I was able to resolve the situation on a production site. When I ran a stress test after a while I got follow error

[code]
What I think is that my server gets to many requests and can't follow sending the messages to eventhub.  How could I resolve this kind of issue so that I don't loose any messages.

[2017-01-25 15:02] geoffreysamper commented on #286
I called MS support and it would be that I send to many message so I have to increase my throughput units

[2017-01-25 19:34] sebastus opened #289 "TOC for events in docs not showing in a clear way"
Different classes have the same events through inheritance, but the events show in the TOC with just the event name, so it appears to have a bunch of repetitions.

[2017-01-27 16:01] wingedfox opened #291 "How to handle detached link state after re-connection"
Hi,

I've met the following issue
[code]
The issue is that all messages sent between 'detached'  and 'connection:errorReceived' events were reported as sent (promise resolved), but they did not came to a server.

The questing is: should I handle re-attach from the client code or library has a feature to reattach link?
I use `AMQP.Policy.ActiveMQ` without any tweaks.

amqp10 version 3.2.5

[2017-01-28 17:56] mbroadst commented on #291
@wingedfox the client should be able to handle re-attach events, could you possibly isolate the exact order of events that lead to this? We should be able to recreate your situation within the unit tests by following the remote frame order

[2017-01-31 15:53] wingedfox commented on #291
@mbroadst I've updated the log in the first message.
The very first message in the log is the last successful send, the one before the last is 1st lost message.
All messages in between - ampq10 event handlers.

I'm not sure that can I add to log, because I haven't met the same issue. Our investigation shows that at the same time there was about 10-minutes long freeze of the VM, where client reside

[2017-02-01 22:56] mbroadst commented on #291
@wingedfox apologies. I'm traveling this week, I will update the ticket when I'm back.

[2017-02-06 15:49] klexxp opened #292 "ActiveMQ delayed messages"
Hi,

is it possible to send the 'AMQ_SCHEDULED_DELAY' property on a message?
And if, how would that look like.

Thanks

[2017-02-07 00:27] pierreca opened #293 "Latest versions won't accept custom event hubs errors"
Some custom event hubs AMQP errors (such as `com.microsoft:argument-out-of-range` when trying to connect to a non-existing partition) get swallowed. This is a breaking change, and as far as I can tell there's no way for the client to know what happened, the connection is just killed with an EncodingError that masks the real cause.
This is due to the changes in `connection.js` in this commit: https

[2017-02-07 06:25] klexxp commented on #292
I think I found it

https://issues.apache.org/jira/browse/AMQ-6037

[2017-02-07 13:18] mbroadst commented on #293
@pierreca can you explain why you think the error was introduced there? To me it seems far more likely that an error frame is being received, however it has an unknown `ErrorCondition` and therefore we're not wrapping it properly.  It would be incredibly helpful to have e.g. the hex for the data representing that error frame so we could create a unit test for it. The `EncodingError` makes me feel

[2017-02-07 13:22] mbroadst commented on #293
@pierreca ah sorry I found the culprit, you're talking about this: https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/types/amqp_error.js#L7. Yeah that totally looks like a bug if MS is using custom errors, I had read the spec to indicate that they only wanted to support the listed error conditions. Again it would be very helpful if you could provide a sample custom error, we can get this

[2017-02-07 13:24] mbroadst commented on #293
@pierreca for your local testing, it might be enough to replace the `throw new errors.EncodingError...` there with `return value;`

[2017-02-07 19:19] pierreca commented on #293
Here's what I believe is the sample error trace for the unit test:
[code]

[2017-02-07 23:18] #293 closed

[2017-02-08 17:46] klexxp commented on #292
I'm sorry to open this up again.

I activated the scheduler in the server, which works when sending messages through the web interface.

[code]

[2017-02-08 17:46] klexxp commented on #292
I'm sorry to open this up again.

I activated the scheduler in the server, which works when sending messages through the web interface.

[code]

When I try it like this, the message gets returned immediately. Am I totally wrong?

Thanks

[2017-02-08 19:08] mbroadst commented on #292
@klexxp that looks correct, for completeness sake could you provide the raw hex of the data sent when you send that message? (enable debug mode by specifying the environment variable `DEBUG=amqp*`).  Perhaps ActiveMQ requires it to be encoded differently?

[2017-02-08 21:30] klexxp commented on #292
Oh, that would make sense.

[code]

[debug_log.txt](https://github.com/noodlefrenzy/node-amqp10/files/761987/debug_log.txt)

[2017-02-08 22:04] mbroadst commented on #292
@klexxp can you try running this instead:
[code]

[2017-02-08 22:05] mbroadst commented on #292
oh doh, scratch all of that. There is no such thing as `annotations`, they are either `deliveryAnnotations` or `messageAnnotations` (I _believe_ JMS calls `messageAnnotations` just `annotations`, but please don't quote me here).

[2017-02-09 09:17] klexxp commented on #292
It worked using `messageAnnotations`.

Thank you very much.

[2017-02-09 09:17] #292 closed

[2017-02-14 14:50] mbroadst commented on #291
@wingedfox the link should reattach automatically, but with an exponential backoff which might explain the wait times. I would not recommend reattaching it manually. Are you using the link cache plugin by any chance?

[2017-02-14 21:11] wingedfox commented on #291
@mbroadst, the problem is that there were no link reattach for more than 12 hours and I was not able to track the issue because amqp10 told me 'everything is ok' by return of Promise.resolve but actually sent nothing.

Our dig to the issue shows that there were a VM suspend for several minutes. Probably client met a kind of window shift issue when the message was actually sent to an amqp server (A

[2017-02-16 15:23] geoffreysamper opened #295 "Cannot read property 'write' of null."
Some times when my server is under load and the connection is lost then I recveive this exception. When the connection is restored everything works fine

there was an error during sending  TypeError: Cannot read property 'write' of null
    at Object.frames.writeFrame (C:\github\profiling-tracker-api\node_modules\amqp10\lib\frames.js:56:9)
    at Connection.sendFrame (C:\github\profiling-tracker-a

[2017-02-20 21:33] mfisch04 opened #296 "AmqpError: Out of available 0 channels"
The server I'm connecting to has a channel max of 0, which appears to mean unlimited.  This throws an OverCapacityError.

`amqp10:connection Connected with params { maxFrameSize= 32768 , channelMax= 0 , idleTimeout= 120000 , remoteIdleTimeout= 120000  } +0ms`

https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/connection.js#L341

[2017-02-21 03:22] mbroadst commented on #296
@mfisch04 what server are you connecting to? The spec makes no mention of a special case for 0, this sounds like something that needs to be shoehorned into a policy

[2017-02-21 21:31] wingedfox commented on #291
Any ideas on fix or reproduction of this issue?

[2017-02-25 01:34] jeffmcaffer commented on #295
We are seeing something very similar but with different outcomes.  Once the queues get messed up they detach and reattach.  Sometimes we see traces like the OP.  Other times it is the sendFrame() call in _sendMessage that is that fails as the connection is null.

More fundamentally, we end up in a state where the promises returned from senderLink.send() are not settling. As a result, the calling s

[2017-02-27 10:56] geoffreysamper commented on #295
How I could simulate my problem is to load test my server and ensure that the cpu is saturated and then try to run to force a close connection.  [repo](https://github.com/geoffreysamper/amqp-issue-multi-client-same-eventhub)

[2017-02-27 11:29] gjr-qm opened #299 "Error sending message: AmqpProtocolError: com.microsoft:timeout:The operation did not complete within the allotted timeout of 00:01:00."
After 6 months with no problems using node-amqp10 (version 3.2.2) in production last Friday suddenly errors occurred when sending messages to ASB topics.

The problem is that the errors occur on sender level (on errorReceived ) and not on when calling send (rejected promise). My code:

[code]

and sending the messages with:

[code]

The .error (promise rejection) is never called and my problem is

[2017-02-27 12:54] geoffreysamper opened #300 "New Release"
Hi @mbroadst,

Any idea when you will create a new release that fixes the issue with the link credit. PS: I don't know that it is alright to ask questions for new release via issues

[2017-02-27 13:05] magnusjt commented on #245
I also have this problem in version 3.4.0. Has anyone looked into it?

[2017-02-27 14:44] mbroadst commented on #300
@geoffreysamper I was holding off until I could sign off on some "translator-encoder" changes I wanted to integrate, however it's fine to push the patch release now before integrating that PR.

[2017-02-27 14:45] mbroadst commented on #300
pushed in 95446a9628d3eb0f405e1a12211c0d48595bfc15

[2017-02-27 14:45] #300 closed

[2017-02-27 14:49] mbroadst commented on #299
@gjr-qm Hi, can you confirm that your `SenderLink` callback policy (`policy.callback`) is 'sent` (or `SenderCallbackPolicies.OnSent`)?  As you can see [here](https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/sender_link.js#L138), if that is the case then the sent message will resolve as soon as we send the message, rather than waiting for disposition (or errors) to occur.

[2017-02-27 14:52] mbroadst commented on #295
@jeffmcaffer @geoffreysamper my hunch here is that when detatch/closing the connection (either manually, or forced) we do not clean up some local bookkeeping that would otherwise indicate that we cannot send data ([SenderLink.prototype.canSend](https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/sender_link.js#L39)), which would otherwise queue your messages.  I'll try to put together a un

[2017-02-27 15:02] mbroadst commented on #245
@magnusjt the ticket has lagged a little bit due to lack of data and difficulty in reproduction. Do you happen to have debug logs for your failure?

[2017-02-27 15:11] gjr-qm commented on #299
We're creating the AMQPClient like this:

[code]

I didn't check before, but the default of policy.callback is OnSettle if I'm correct? I do think that is the case because the promise (.then) is never resolved. My hope was that the timeout would result in a rejection of the promise, so we could handle it in the .error part of the code.

[2017-02-27 16:28] mbroadst commented on #299
@gjr-qm hm yes, it should indeed reject if it receives that error. I wonder if you're receiving disposition and _then_ receiving an error? Could you potentially post some logs for a reproduction of this case? I'll look into seeing if there's a bug on our side.

[2017-02-27 17:07] jeffmcaffer commented on #295
Thanks @mbroadst.  Really appreciate you help here.  We are standing up a production service and hitting this a lot.

I noticed a few things that might help figuring this out.

* typically I see a mess of errors like the one that started this issue THEN I see the link detach and attach
* We switched from multiple AMQPClient objects (one per queue) to just one client that is reused across 5 differe

[2017-02-27 17:19] mbroadst commented on #295
@jeffmcaffer my guess is something like this is going on:

  * the connection is broken because of <somereason>
  * in this case we erroneously do not cleanup some very important book keeping information
  * you attempt to send a message, and it checks if it can currently send (in order to determine whether to push to pendingSends or not):
    * [this code](https://github.com/noodlefrenzy/node-amq

[2017-02-27 17:23] mbroadst commented on #299
@gjr-qm in particular it would be incredibly helpful to see if you are in fact getting a `disposition` _before_ the error occurs.

[2017-02-27 18:36] jeffmcaffer commented on #295
Agreed that the exception root cause is elsewhere.

Try/catch may still be applicable because sendMessage can still throw (it does a network call so unless that is guaranteed to not throw...) and there will be nothing to settle the promise.  If you can't send (!canSend) then sendMessage() will be called from _dispatchPendingSends().  That has no ability to settle the promise.  If I get my promise

[2017-02-27 19:04] mbroadst commented on #295
@jeffmcaffer its perhaps confusingly named, but the `sendMessage` that is pushed to pendingSends actually [this](https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/sender_link.js#L121) which includes the logic for what to do wrt callback policy.  `dispatchPendingSends` in this scenario is called when an `attached` event is processed, and therefore we should be covered there in expecting i

[2017-02-27 19:23] jeffmcaffer commented on #295
Will try to carve off some testing time this afternoon/evening.

I do still think there is a potential problem with sendMessage().  Consider the pared down version below.  The fact that the sendMessage() function is declare in a Promise constructor is immaterial, it has resolve and reject handlers injected.  Now, when the handler() function runs, sendMessage() is called and doSomethingThatCanThrow

[2017-02-27 19:40] mbroadst commented on #295
@jeffmcaffer right, what I'm saying is that given the connection is setup properly a call to `_sendMessage` _cannot_ throw. We could wrap the subsequent call to the `sendMessage` wrapper with a try/catch, but it would not be solving the problem you guys are running into imho. So, while I agree that it's probably a safer approach in general, it would have only further hidden the actual problem here

[2017-02-27 19:41] gjr-qm commented on #299
I will dive into the logs. At the moment our queues are running fine again and of course, we don't run with full debug logs during normal operation. But I think I can reconstruct the important parts from the normal logs. As far as I can see we were not getting any `disposition` on the faulty queue. Looks like the timeout error on the queue is the only thing we're getting.

Back to the logs...

[2017-02-27 20:15] gjr-qm commented on #299
I've been going through a lot of log files and didn't find any send promise rejected. So I think the conclusion is that de client emits an `errorReceived` but no `disposition` (or send error) occurs.

[2017-02-27 20:15] geoffreysamper commented on #295
@jeffmcaffer  is possible to share the log file. What I cannot understand is that you said that most of the time the issue occures in attaching mode but if you look at the code of the canSend function it the first line says when not attached return false

[2017-02-27 20:41] gjr-qm commented on #299
Maybe a stack trace helps?

[code]

[2017-02-27 21:48] jeffmcaffer commented on #295
@geoffreysamper that logging code was removed once we isolated the issue as not in our project.  I'll look for an old file or we can look at adding it back if it will help.  You can see the calling code [here](https://github.com/Microsoft/ospo-ghcrawler/blob/develop/lib/amqp10Queue.js).  Imagine push() being called many times per second.

More and more I think there are two separate but related is

[2017-02-28 05:29] jeffmcaffer commented on #295
I found a log.  It was pretty verbose so I trimmed it down, put it in a Word doc and annotated with comments so you could tell what's what.  It does not really show much other than the problem happens.

[ampqlog.docx](https://github.com/noodlefrenzy/node-amqp10/files/805792/ampqlog.docx)

[2017-02-28 07:34] geoffreysamper commented on #295
@jeffmcaffer question if I would setup the ospo-ghcrawler project and run it on my env would the issue occur on my env? If this is the case I will try to setup it my env and see better understand the problem.
Is it correct that the client disconnect after a couple of minutes and you can recover from it? The reason that I asked is that I had a simular problem in my project.

[2017-02-28 08:36] gjr-qm commented on #299
This morning the error appeared again. I restarted the system with `DEBUG=amqp10:se*` to get sender and session debug info. Is that ok, or should I choose a different debug target? I was afraid a full debug (amqp*) would be an overkill for this problem...

[2017-02-28 14:17] mbroadst commented on #299
@gjr-qm I usually do a full `amqp*`, if you feel like that's too much info you might do `session*`/`sender*`/`link*`

[2017-02-28 16:07] mbroadst commented on #295
@jeffmcaffer any chance you have the amqp10 logs (`DEBUG=amqp*` in the environment variables) ?

I'm actually in the process of writing some unit tests around all of this, and am discovering the behavior to be that all `SenderLink` send promises are unconditionally rejected upon reconnect/reattach - a bug indeed, but also would indicate the cases you guys are encountering are almost impossible to

[2017-02-28 17:32] jeffmcaffer commented on #295
@mbroadst very interesting.  Thanks for looking at this.  We are definitely, from time to time, seeing the Force Detach errors BUT, I only started seeing them yesterday.  That is, we were having all these problems without ever seeing the amqp:link:detach-forced messages.

One thing that I noticed is that if you call send() when !canSend() then sendMessage is not immediately called, it is added to

[2017-02-28 19:28] geoffreysamper commented on #295
@jeffmcaffer I will first try to simulate with the amqp lib itself. So that I can verify if the issue is in the amqp lib or how amqp lib is used in the project. I had a simular issue in my another project and it was that after a couple of minutes I lost my connection and couldn't recover from it.
After some analysis we saw that the memory was always increasing and we lost the connection and bam no

[2017-03-01 07:48] jeffmcaffer commented on #295
Thank @geoffreysamper.  I played around a bit this evening.  Similar to you, I started with just the AMQP code.  To illustrate my scenario (lost promises) I imagined a scenario where the code send()s while !canSend(). Then eventually canSend and _dispatchPendingSends is called.  That triggers the actual send which throws.  In the code below `sender` is a configured and connected SenderLink.  Indee

[2017-03-01 08:49] geoffreysamper commented on #295
@jeffmcaffer Here is a small sample of my [app](https://github.com/geoffreysamper/amqp10-issue-with-reconnection). I will run this in azure to see if I can simulate the problem. Currently I ran it for an hour and I multiple time forced the connection to be killed with cports (windows) or  tcpkill linux and the connection still recovers and I it send messages. Can you take a look at the sample so t

[2017-03-01 08:58] gjr-qm commented on #299
Our system is running with the new debug config now. No errors so far...

Now let's hope the error surfaces again soon because I prefer a fix rather than concluding (again) that this was another Azure/MS hickup.

I'll close this one for now and will reopen it when the error pops up again.

@mbroadst: thanks again for your help/support!

[2017-03-01 14:56] geoffreysamper commented on #295
@jeffmcaffer The sample app  was running the since 10am to 16pm utc+1. I only received on timeout and it was a timeout. I try again in azure

[2017-03-01 21:40] jeffmcaffer commented on #295
The sample is roughly inline with what is going on but does not load the queues enough IMHO. There is only one "loop" and only 100 messages per second with a 10ms gap between them.  In our service there are 10+ loops each sending 100+ messages quickly (continuous with 10 concurrent).  The key thing here (for the lost promise case) is that we have to get into a !canSend() condition and then have se

[2017-03-01 21:46] mbroadst commented on #295
@jeffmcaffer your pseudo-code above looks pretty good. The last case I added is incomplete because it lacks the second round-trip of connections. I'll try to post an updated case tonight.. I think we've identified a _few_ bugs here imho, so I'll try to carve out some serious time towards the end of the week + weekend for all of this. Thanks for your patience and help both of you.

[2017-03-01 22:51] jeffmcaffer commented on #295
@geoffreysamper I [forked your sample repo](https://github.com/jeffmcaffer/amqp10-issue-with-reconnection) to tweak the code to be more aggressive.  @willbar (works with me) will also be poking at that and [my fork of this repo](https://github.com/jeffmcaffer/node-amqp10) to see if we can break it repeatably.

[2017-03-02 08:21] geoffreysamper commented on #295
@jeffmcaffer I check you sample and if I understand it correctly code below you want to proof that we lost promises? If this is the case it normal that the completed are less then the attempts because there are still some message that waiting for settelement. If you would replace the  `attempted` with the `completed` you will see that all the message are delivered. The only problem then is that yo

[2017-03-02 11:30] geoffreysamper commented on #295
@jeffmcaffer @mbroadst Hi, I was able to reproduce the problem for the hangs. Basicly here what happens it related to the reconnections I don't see any promise get lost.
- connection opened
- connection killed
- reconnect
- depending the number of connection lost the reconnection time will be longer. These are the reconnection times (0,1,1,2,4,8,13,21,34) in seconds. So this mean that the first ti

[2017-03-02 21:18] jeffmcaffer commented on #295
@geoffreysamper Nice.  Resetting the timeout sequence on reattach seems like an interesting idea but I don't think it would address our hangs.  Ours are permanent hangs (e.g., stops at 0200 and is still hung at 0800).  One related thing to note, most/many/all the hangs we have seen, when the send() is done, the link is in state === 'attaching'. If I understand the code, that means we are actually

[2017-03-02 21:26] geoffreysamper commented on #295
Do you know their was any cpu usage or did you check the memory usage of the node process.

[2017-03-03 09:55] geoffreysamper commented on #295
Hi @jeffmcaffer @mbroadst today I runned my program on azure and set the interval time to 10ms. and serveral time a kept killing the connection via tcpkill I was able to simulate a hang of two minutes nothing more, cpu was hanging on 99% no more logging during this time but eventually it recovered. What I could do setup the ospcrawler and run it on a machine in azure with debug logs enabled.
 @jef

[2017-03-04 01:04] willbar opened #301 "Decode message failures crash node process"
We're using node-amqp10 3.4.2 in GHCrawler and have noticed that our node process will crash if there's an issue decoding a message. The exception thrown from decodeMessage bubbles up to _processFrameEH which is an event handler and the exception isn't caught causing the process to exit.

To avoid the process exiting it would be good if this exception was handled and an 'error' event was raised fr

[2017-03-04 01:17] jeffmcaffer commented on #301
FYI, another very similar case we just saw (throwing in the event handler) had this stack trace

[code]

[2017-03-04 01:44] mbroadst commented on #301
@willbar hmm, do you have the actual hex that caused the error to occur? It's unclear what we should be doing per the spec in this case, since everything is pretty well defined. We could explicitly shut down the connection and emit an error message, however if we emitted `error` itself that would also cause the app to crash if you weren't listening to the event.

@jeffmcaffer that's as strange as

[2017-03-04 01:59] jeffmcaffer commented on #301
Yeah, we were wondering about the best course of action as well.  Shutting down the connection and restarting might be the best thing.  Crashing the service is less than optimal.

As for the data, there was no data in the dump for the error I saw, just the 0x5c.  For the one @willbar reported, there is (somewhere in the dumps) but we don't know what the data is so can't really send it around.  I d

[2017-03-04 06:55] willbar commented on #301
I was actually thinking the behavior of 'error' (crashing the app if you don't specifically handle it) would be good here, because as you mention the correct recovery is unclear and not handling it should probably crash but having it as an 'error' gives us the option of handling it and recovering (for example, by tearing down the client and reconstructing). However, if you think there's a spec-com

[2017-03-04 07:43] jeffmcaffer commented on #301
FWIW, I just got a mess of these.  No idea what it means...  The system was pushing a fair bit (~100/s) to a queue.

[code]

[2017-03-04 08:34] jeffmcaffer commented on #301
I caught a hang while debug was on.  See the attached log.  Note that this is running the code in my branch that has an extra try/catch around the _sendMessage in send() and @willbar's changes to debug to not dump message bodies.

In this run there are 10 concurrent loops pulling messages, processing, and potentially pushing more messages.  There are 4 queues (normal, immediate, soon and later) an

[2017-03-04 15:12] mbroadst commented on #301
@jeffmcaffer whaaaaat, can you provide a full debug (including raw data) for the cases where you are receiving negative link credit?

[2017-03-04 17:03] jeffmcaffer commented on #301
Here is the full log for that run.  Interestingly, looking back at the full log, there is more than I first posted.  Seems that 10 min after the hang, it reattached to the subscription and started getting more messages.  I know I kept checking for a while but likely gave up and killed the process.

Note this run has an additional "deadletter" queue but otherwise should be as described in the previ

[2017-03-04 18:59] mbroadst commented on #295
@jeffmcaffer @geoffreysamper  Hey guys. So I've been playing around with the code today trying to break it, and in the process of refactoring some of the internals of the base `Link` module found an _existing_ test that seemed to reproduce your findings - albeit in a very flakey fashion.

The base of what was going on was a few things:
  - we were using a (imho) superfluous `DETACHING` state, whic

[2017-03-04 19:04] jeffmcaffer commented on #295
@mbroadst Fantastic news.  Thanks Matt.  If you have something that you want some mileage on, let me and @willbar know.  We have a test setup that we can use to beat on it.  Right now in production are running with my fork but I'm fine moving that to something new pretty aggressively as well.

[2017-03-04 19:06] mbroadst commented on #295
@jeffmcaffer go ahead and test using the branch, it passes all our unit/integration tests so afaict it hasn't broken anything in a huge way

[2017-03-04 19:11] geoffreysamper commented on #295
So no need to setup the project of of @jeffmcaffer. If I can do anything let me know.

[2017-03-04 21:04] mbroadst commented on #295
@geoffreysamper @jeffmcaffer it should be noted that this fix does not attempt to deal with any of the issues related to forced deatchment during reattach, or anything thus related. It simply attempts to fix the initial issue brought up here, specifically that there is an attempt to write to an `undefined` transport/socket.

[2017-03-05 17:16] sebastus opened #303 "stream is null in frames.js/writeFrame/line56"
My client has multiple ReceiverLinks to a bunch of event hub/partitions. After listening and getting 5 seconds of silence across all hubs (each incoming message resets a 5 second timeout), I enumerate the clients and delete them. Race condition? In any case, 'stream' is unprotected/tested in this method before trying to write to it.

[2017-03-05 17:30] sebastus commented on #303
Found a workaround. I was getting and printing the rx_err during the error event handler of all receiver links. (receiver.on('errorReceived', myErrorHandler.bind(...))) When I removed this access of rx_err, the problem with stream being null does not re-occur.

[2017-03-05 17:36] sebastus commented on #303
scratch that. it happens less often, but it still happens.

[2017-03-05 17:45] sebastus commented on #303
FYI, I had a timer that was firing at odd times and deleting clients.

[2017-03-05 17:52] sebastus commented on #303
Even with clearing up the timer problem, the error occurred once in a couple of trials. I'm listening to 19x4 partitions.

[2017-03-05 18:06] sebastus commented on #303
Here's the stack dump. It's exactly the same every time. It happens once per test run, where I delete my checkpoints and listen to the 19 hubs. It happens about the same clock time each time.

`C:\github\SplunkAddonForAzureMonitorLogs\bin\app\node_modules\amqp10\lib\frames.js:56
  stream.write(buffer, callback);
        ^

TypeError: Cannot read property 'write' of null
    at Object.frames.writeF

[2017-03-05 18:27] mbroadst commented on #303
@sebastus seems like it could be related to #295 . I have a branch `issue295` where I've committed some potential fixes, if you'd care to test that branch out it might help you too. Without more information (minimal reproducible test case, or debug logs) there's little I can do to help at this point.

[2017-03-05 18:38] sebastus commented on #303
I'm happy to provide my source. I don't know if it qualifies as "minimal". I'll give that branch a try, though this really isn't blocking me. I just retry and it usually works.

[2017-03-05 19:10] geoffreysamper commented on #295
Hi @mbroadst do I understand it correctly that this fix will eventually not fix the hangs that @jeffmcaffer sees in his project

[2017-03-05 19:54] jeffmcaffer opened #304 "Question: What to do on receive link detach"
In our app processing time for a messages varies significantly.  As such we buffer up messages from the queue and when a worker is ready, one of the buffered messages is taken.  When the message has been processed, the worker accepts the message.  Given a renew on settled policy, that triggers an additional credit and a new message is received and added to the buffer.  All is good.

Question is, w

[2017-03-05 21:01] mbroadst commented on #295
@geoffreysamper its incredibly difficult to tell without seeing the actual code and reproducing it on my side, but yeah the intention is to solve those situations as well :)

[2017-03-05 23:13] gjr-qm commented on #299
Last week (and tonight) the error occurred again...

I had to clean up the logs, because we have quite a few topics and queues and there was only one that went wrong.

Here are the important parts of the log:

**last correct send**
[code]
**timeout**
[code]
**here's where it goes wrong**
[code]

After that, every minute the system tries to reattach `@attach(18)` again, but it never succeeds. Resta

[2017-03-05 23:15] gjr-qm commented on #299
As I said before, the strange thing is that the application ran without this problem for over 6 months. We didn't change anything and suddenly this error pops up. I think there must be something that has changed on the Azure side...

[2017-03-06 00:42] jeffmcaffer commented on #295
@mbroadst That makes sense.  I have been running with your branch and am able to hit the force detach exception pretty much every time. [detach.txt](https://github.com/noodlefrenzy/node-amqp10/files/819912/detach.txt) is a log of a full run with link and link:sender debugging on.  Note that I changed the message logging on send to log the message length rather than the buffer.  Can't release the c

[2017-03-06 02:04] jeffmcaffer commented on #295
Update.  I tried more configurations.  5 message batches, put in a client side delay to slow things down, factored out the other inactive queues, ... I even went down to 1 message per batch.  All with the same result.  Force detach at 875 messages queued.

OK, so then I removed most of the content from the messages and that let it run longer (did not let it fail). Then I bumped up the content to 8

[2017-03-06 02:36] jeffmcaffer commented on #295
OK. one more update.  I put an error handler on the send() call such that if it is a force detach, the caller waits 1 sec and then re-calls send().  Interestingly that worked but not quite how I thought it would.  The reattach etc happens immediately but then there is an 18 second delay between attaching and the sending resuming.

See the log file
[reattach.txt](https://github.com/noodlefrenzy/nod

[2017-03-06 06:30] jeffmcaffer commented on #295
Things are better now with the resend.  Still get forced detach quite frequently (15sec, 2 min, ...) but I've been counting the messages sent for queuing and the ones actually getting queued and they match so the retry on the caller side is working.

I did however hit this exception and it seems related to this issue.  Perhaps not all the cases are handled as yet.  Seems like the stream was pulled

[2017-03-06 09:36] geoffreysamper commented on #295
@jeffmcaffer question for me it weird that the connection is killed so many times. In my case the only time that I get a disconnection is when I not sending message a it timeouts this is by default 1min. Could you have any Idea how many disconnection get in an one hour

[2017-03-06 13:07] mbroadst commented on #295
@jeffmcaffer so actually what I'm seeing here is that the initial issue seems to be solved using the new branch (you are not running into cases where you are getting exceptions about attempting to `write` on a null object). Can you confirm this?

The next issues to tackle are as follows:
   * The reason you are getting the "force detach" error is because we drain the pending messages on a force de

[2017-03-06 13:22] mbroadst commented on #299
@gjr-qm there is definitely some change in the server. We're tracking a reattachment issue over on #295. You might want to try out using the case in the [issue295](https://github.com/noodlefrenzy/node-amqp10/tree/issue295) branch, as I have pushed some fixes there related to link reattachment.

As far as I can tell from the logs you've provided this looks very much like a problem on Microsoft's en

[2017-03-06 13:40] gjr-qm commented on #299
@mbroadst thanks for your response again!

I'll try `amqp*` for the logging. Btw, is it possible to get milliseconds in the log time stamp? Our log uses milliseconds because a lot can happen within a second these days...

This error is very frustrating because it happens at random times and we don't have an automated solution to handle it at the moment. We have to continuously keep an eye on the l

[2017-03-06 13:57] mbroadst commented on #299
@gjr-qm I don't see an easy way in `node-debug` to enable millisecond logging unfortunately, but you could manually modify the code and `console.log` whatever you want.

Yes I understand this very well, it's very difficult for me to debug without being able to reproduce the problem locally myself :)

Well this is basically what the driver does itself, it processes detachment of the link and then a

[2017-03-06 14:40] gjr-qm commented on #299
Hmmm, didn't think of the credits being a possible source of the problem. And after looking through the code and logs, I still can't see that it could be.

I create the client like this: `new AMQPClient(Policy.Utils.RenewOnSettle(1, 1, Policy.ServiceBusQueue))`. In the application code, there is no reference to `credits` or `credit`. And the successful send log entries look like this:

[code]

So

[2017-03-06 15:06] mbroadst commented on #299
@gjr-qm if you take a look at the log section I pasted above (and what you referred to _right_ at the end of your last comment here), the message is: `canSend(0,5000)`. That message is generated [here](https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/sender_link.js#L46), and is essentially `(<link-credit>, <incoming-window>)` - so this means in that particular case you have no credit at

[2017-03-06 17:08] jeffmcaffer commented on #295
@mbroadst  Unfortunately, the "write on null" issue still occurs.  My [previous comment](https://github.com/noodlefrenzy/node-amqp10/issues/295#issuecomment-284313533) shows a trace of that from last night.  That was only queuing a few thousand messages at 10-20 per second.  They were larger messages but still only on average 6-10K (with a few >200k).

I'm working around the force detach issue by

[2017-03-06 17:18] mbroadst commented on #295
@jeffmcaffer ah sorry I missed that in the flurry of new comments :) bummer. I'll continue my state machine work, I think it'll help things out in a big way.  Do you have any ability to query _why_ this is happening, from the Azure side? I didn't see the actual cause of the detaches in your posted logs above.

[2017-03-06 22:38] gjr-qm commented on #299
@mbroadst, I was mistaken in my previous post about how we create the client. This is how we create it:
`let amqpTopicClient = new AMQPClient(Policy.ServiceBusTopic);`.

I just did some testing and I think you're wrong about the credits. Here's the full log for a succesful send:
[code]

As you can see there is always the `sender canSend(0,5000) = false`, followed by a `@flow(19)` that results in s

[2017-03-06 22:45] gjr-qm commented on #299
Oops, missed a few lines from the log. Here are the lines following the `canSend(1000,5000) = true`:

[code]

[2017-03-06 22:45] mbroadst commented on #299
@gjr-qm Oh I see, sorry we were missing the other context in your previous logs. Yes you will get a `canSend = false` when you locally run out of credit - I thought you were getting that message _after_ you completed the flow. My mistake.

I'm looking back on the issue here: can you confirm that you are getting an `errorReceived` every time this happens? Where are you getting that from? The connec

[2017-03-06 22:47] gjr-qm commented on #299
We're getting the error from the sender: `sender.on('errorReceived', function(tx_err) {}`

[2017-03-06 22:50] gjr-qm commented on #299
And yes when the topic goes 'faulty' the error persists. Every minute the sender attaches again, but the flow frame never gets in because of a timeout.

[2017-03-06 22:50] mbroadst commented on #299
@gjr-qm Ah! Then I think this does look like a problem in our implementation. The spec tells us:

[code]

So I actually think maybe the remote side is doing the right thing. It actually looks like when we receive these errors we need to close down the whole session, and reattempt a new connection to the server (or at least a new session).  I'll need some time to think about the implementation, but

[2017-03-06 22:58] gjr-qm commented on #299
Thank YOU for sticking with me! :)

I got really frustrated and was almost at the point of going back to a polling system. This is because our partners use Java and the standard Microsoft products (Navision) and couldn't do AMQP. And they don't have problems as far as I know.

Thanks again for the support you provide on node-amqp10!

[2017-03-07 02:22] mbroadst commented on #299
@gjr-qm Is there any way you can provide me with the SB namespace name, and the topic name? I'm working through this issue presently with Microsoft. Perhaps you could email it to me, or DM me on the gitter channel?

[2017-03-07 04:07] mbroadst commented on #295
@geoffreysamper @jeffmcaffer quick update

I spent some time tonight trying to track down the cause of #299 , and in the process released v3.5.0 (which is a minor release including removal of the `node-amqp-encoder` and rolling it into an module-local exposed type system.. see gitter for discussion here), and merges the `issue295` code into master.  I'm working with people at Microsoft to identify

[2017-03-07 23:31] mbroadst commented on #299
@gjr-qm

Here was the response, looks like a bug on Microsoft's side:

"We have identified the bug in the service. For certain operations the timeout is not set appropriately, which could cause the operation to be stuck and subsequent calls to fail. The workaround is to create a new amqp connection that is likely handled by a different machine. If that does not work, the customer would need to con

[2017-03-07 23:34] gjr-qm commented on #299
@mbroadst thanks! Now I wonder of course when the next deployment is scheduled (and we can get some sleep). Do you know MS schedule for this?

[2017-03-08 00:53] mbroadst commented on #299
@gjr-qm sorry no, I think you'll have to speak to MS about that

[2017-03-08 22:56] sebastus opened #306 "proxy server"
A potential customer wants to use the module on prem, behind a proxy server. This doesn't work - I found issue #191 and see that it wasn't a priority at the time. Has anything changed?

[2017-03-08 23:02] mbroadst commented on #306
@sebastus Can you expand upon your actual use case? Proxying is generally not handled at the driver level like this, but having said that we have pluggable transports. For instance, I created a transport that operates on a character device in order to proxy AMQP over a serial port.

[2017-03-08 23:14] sebastus commented on #306
I don't know much about proxying nor do I know much about the customer environment. So I don't know what to tell you. I can only say that their expectation is that I will insert the address of their proxy server into my software and rather than attempting to talk directly to event hub, I'll talk to the proxy server and it will connect to event hub in turn. All SSL. So HTTPS tunneling. I can see ho

[2017-03-08 23:18] mbroadst commented on #306
@sebastus I can confirm that if you point the driver at an address it will attempt to connect to it using the AMQP 1.0 protocol. If they put a proxy on that address that proxies to some other EH/SB that seems like a devops problem on that side. The driver will not do anything internally to try an determine if there is a proxy, or do some sort of discovery etc.  As I said, if you have a special cir

[2017-03-08 23:18] #306 closed

[2017-03-13 11:42] Finkes opened #307 "Unhandled rejection TypeError: Cannot read property 'write' of null"
Hi I use this library to connect to Microsoft Azure Service Bus. Sometimes my connection crashes and then I try to call disconnect before reconnecting again. Then I receive following error:

[code]

[2017-03-14 09:42] gjr-qm commented on #299
Guess Microsoft fixed the bug since everything runs smooth again.

@mbroadst thanx again for your quick responses and help!

[2017-03-14 09:42] #299 closed

[2017-03-14 14:30] magnusjt commented on #245
I have some debug logs now, but it's hard to digest it all. It seems to start with a disconnect:

02:54:55.641	debug	connection error: Error: read ECONNRESET
02:54:55.641	debug	Error from socket: Error: read ECONNRESET
02:54:55.642	debug	disconnected
02:54:55.643	debug	Transitioning from OPENED to DISCONNECTED due to error

This is followed up by detaching all links (subscriptions). The links that

[2017-03-14 14:37] mbroadst commented on #245
@magnusjt I've been trying to work through similar issues for the 3.5.1 release, but I've got very limited time atm. It would be incredibly helpful if you could test against `master` as it is today to see if your issues are resolved. Also if you could somehow provide me with a full log of your case it would better help me model your problem (as I have no personal access to SB/EH). Thanks.

[2017-03-14 15:08] magnusjt commented on #245
Ok, I'll try master :) If it doesn't work out I'll see if I can grab the debug logs.

[2017-03-17 11:26] wingedfox commented on #307
Here's how to reproduce the error

- run webcenter/activemq container (as of today)
- start app and request amqp connection

this will end up with the following
[code]

[2017-03-20 08:58] wingedfox commented on #307
It's even easier to reproduce. This happens when connecting to any service which talks anything, but Amqp 1.0.
With the contained mentioned above it was a long container start.

[2017-03-20 14:00] mbroadst commented on #307
@wingedfox I think you're running into an unrelated case where the underlaying connection is attempted to be reused before a reconnect completes (in your case because sasl auth has failed). Unfortunately, the failure point is the same for so many of these cases so they all look like the same problem - however they have different root causes.  I'm trying to do some rewrites of our internal state ma

[2017-03-20 14:26] wingedfox commented on #307
@mbroadst, if you can describe target solution I can try to help with the implementation.

[2017-03-26 23:02] MorganLindqvist opened #309 "How to detect invalid queue name"
I have a small Node JS application using the amqp10 library. The issue I have is that if the queue name I try to connect to does not exist the amqp10 library swallows the error and my application is stuck waiting for a response.

The code I use is the following:

[code]

What should I do to get a notification about that the queue does not exist? The spread function is called when both create have

[2017-03-27 15:44] noodlefrenzy commented on #309
Can you set `DEBUG=amqp*` and take a look at the data you're getting back from the server? I'm curious what it's sending back and when it's telling you about the invalid queue name.

[2017-03-28 12:44] mbroadst commented on #309
@MorganLindqvist you should be able to receive the error from listening to the `errorReceived` event of the main client. This was preserved legacy behavior, but I wouldn't be against having it actually emit an `error` (and therefore halt execution) - I have definitely been bit by this before!

[2017-04-03 09:25] magnusjt commented on #245
Stuck again. Not sure if it's the same issue, but it seems to be stuck in a loop trying to connect:

15:03:21.340 debug connecting to: <my_url>
15:03:21.345 debug Connecting to <my_url> via TLS
15:03:21.346 debug stateChange: DISCONNECTED => START , reason: connect
15:03:21.520 debug Sending Header <my_header>
15:03:21.521 debug stateChange: START => IN_SASL , reason: connected
15:03:21.564 debug

[2017-04-03 13:33] mbroadst commented on #245
@gjr-qm it looks like the heartbeat timer isn't sending heartbeat frames. Can you check to see if this code is being run: https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/connection.js#L474-L478 ?

[2017-04-03 13:47] magnusjt commented on #245
It doesn't seem to be run. I can't see any empty frames after the issue started.

[2017-04-03 13:50] mbroadst commented on #245
@magnusjt sorry I accidentally responded to @gjr-qm ... Anyway, can you confirm that the function within the timeout is in fact being called? My guess is that something on [this line](https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/connection.js#L475) is causing the if statement to bail out without sending the heartbeat frame. It might be enough to just print out each of those conditio

[2017-04-03 14:17] magnusjt commented on #245
There are 20-30 days between each time this is happening, so it won't help adding a few random debug statements. There has to be something else going wrong here beside the timeout. There is a full minute where nothing is happening:

15:03:21.829 debug stateChange(undefined): BEGIN_SENT => MAPPED , reason: beginReceived
15:03:21.829 debug raw: <my_raw>
15:03:21.830 debug On BEGIN_RCVD, setting para

[2017-04-03 14:32] mbroadst commented on #245
@magnusjt this seems to be a pretty clear case of the heartbeat not being sent to the server, but perhaps something else is causing the delay. What I can see in the logs is that:
 * the session maps properly (reusing the existing session,  [here](https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/amqp_client.js#L161))
 * it correctly negotiates the heartbeat time correctly (30000ms in thi

[2017-04-05 11:06] lipp opened #310 "simple_eventhub_test.js not working"
Hi!

Thanks for providing this project!

I cannot get the `simple_eventhub_test.js` running.

The script starts (well i guess) but never ends and does not show up anything on console.
I think the problem is the same as here: https://github.com/Azure/azure-event-hubs-node/issues/23

If my setup is wrong I'd expect to see some error... I am pretty clueless.

[2017-04-05 13:15] mbroadst commented on #310
@lipp Hi, can you please paste your debug logs? Please see the README.md for instructions.

[2017-04-06 06:49] lipp commented on #310
Got it 😱My messy company network blocked the port.

Everything is working fine! Sorry for wasting your time!

[2017-04-06 06:49] #310 closed

[2017-04-13 09:17] wingedfox opened #312 "Redelivery policy tuning"
Hi,

Is there a way to tune up redelivery policy?
I have a need to detect whether consumer can process message or no and modify message with `undeliverableHere` flag in latter case.
I use `RenewOnSettle` policy for manual message acceptance, but modified messages are not getting redelivered to another consumer but instanty disappear, even if I mark specific messages durable they just fall to DLQ a

[2017-04-13 13:57] mbroadst commented on #312
Does this not work for you?

[code]

[2017-04-13 14:24] wingedfox commented on #312
Nope, this does not work.
Message simply disappears (durable=false) or falls to DLQ (durable=true).

[2017-04-13 14:37] mbroadst commented on #312
@wingedfox that would seem to be an implementation detail of ActiveMQ itself then, we allow you to do everything the AMQP 1.0 spec allows us to do. So you have full control over disposition here, if there are any other options that ActiveMQ supports then that would be something you'd have to check on that side. An interesting note is that the `modified` disposition allows for a few other propertie

[2017-04-13 21:17] wingedfox commented on #312
First of all, please update the docs and default policy, because you define `senderSettleMode` and `receiverSettleMode` but framing takes value from `sndSettleMode` and `rcvSettleMode`.
Take a look at
https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/policies/policy.js#L143
https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/frames.js#L224

Probably I'm doing something wrong, but

[2017-04-13 21:18] MorganLindqvist commented on #309
@mbroadst, thanks. The event to listen to was the AMQPClient.ErrorReceived event which mapped to the string 'client:errorReceived'

[2017-04-13 21:22] #309 closed

[2017-04-13 21:25] mbroadst commented on #309
@MorganLindqvist bah yeah, I think this would really be better resolved by having everything go back to using `error`, there are a lot of confusing event names here. Sorry about that.

[2017-04-13 22:15] wingedfox commented on #312
Trying the same with RabbitMQ I've got "rcv-settle-mode second not supported", which at least describes its' accepted(@36) behaviour. Probably ActiveMQ does not support receiver side disposition as well...

[2017-04-14 13:25] mbroadst commented on #312
@wingedfox thanks for pointing out the inconsistencies with the settle modes, that has been fixed in  f3c46177c2991984e3af7e77799e5f7987137dc3. We actually had another bug related to setting the `settled` field in a TransferFrame, where it was never actually checking the sender settle mode.

What appears to be happening in your case is that "auto settle" is used as the receiver settle mode:
[code]

[2017-04-14 14:20] wingedfox commented on #312
Please take a look at my question on activemq mailing list
http://activemq.2283324.n4.nabble.com/How-to-setup-policy-for-client-side-message-acceptance-td4724961.html

I send attach frame with `senderSettleMode=0 receiverSettleMode=1`, but get back attach frame with `senderSettleMode=2 receiverSettleMode=0`, which leads to `accept(36)` in sender callback even if no consumers registered.

[2017-04-14 14:22] wingedfox commented on #312
@mbroadst checked with 3.5.1, properties are updated and work as expected, but there's no success with the link attachment
[code]

[2017-04-14 14:27] mbroadst commented on #312
@wingedfox yeah that looks like ActiveMQ isn't respecting the options you are sending on attach 🤔

[2017-04-14 23:05] princjef opened #313 "Settle mode policy configuration broken"
Starting in version 3.5.1 (specifically [this commit](https://github.com/noodlefrenzy/node-amqp10/commit/f3c4617)), the `receiverSettleMode` and `senderSettleMode` policy configuration options no longer set the receiver and sender settle modes correctly, causing them to fall back to their default values.

It makes sense to support the names from the AMQP spec (`rcvSettleMode` and `sndSettleMode`),

[2017-04-14 23:59] princjef commented on #313
It also seems like the default sender mode has changed from `mixed` to `settled` between 3.5.0 and 3.5.1. I could be wrong, but I don't see anywhere where

[2017-04-15 16:13] mbroadst commented on #313
@princjef sorry this maybe should have been a major bump. We encountered the issues in #312, and I was trying to correct some sins of the past. I'll commit a fix supporting the old names.

[2017-04-17 16:23] princjef commented on #313
Yeah I'm not sure about `rcvSettleMode`, since service bus at least seemed to accept the other form. As for `sndSettleMode`, I'm thinking that it just fell back to the default, since I work with `mixed` mode, but never overrode the value in the policy, which is `settled`

[2017-04-17 16:26] princjef commented on #313
Either way, the change in 3.5.2 looks good. Thanks for the quick fix

[2017-04-17 16:26] #313 closed

[2017-04-18 16:50] christav opened #314 "Send promises never complete?"
I've started playing with amqp10 and a service bus queue. I'm having trouble with the `sender.send` method. In specific, while the message does in fact get sent, the promise returned from the `send` method never completes. Am I doing something wrong here?

Running on Windows 10, node 6.9.5. Also tried with node 6.10.2, same behavior.

Sample code:
[code]

And the console output (with debug turned

[2017-04-18 17:01] mbroadst commented on #314
@christav for some reason it looks like you're not receiving disposition from the remote side, what version of the module are you using?

[2017-04-18 17:03] christav commented on #314
@mbroadst It's 3.5.2

The other side is an Azure Service bus queue hosted in the West US 2 region if that helps.

[2017-04-18 19:10] mbroadst commented on #314
@christav seems like there might be something up with your queue's configuration (I'm not exactly in a position to help with that, but it looks like you might be). As you can see, we have integration tests running against SB and EH, and those are definitely not failing to resolve.  I'll try to take a look at your debug logs a little more closely when I get home tonight.

As an aside: I see you're

[2017-04-18 19:36] christav commented on #314
Thanks for the suggestion. I just created the queue in the portal with the default settings - anything you can thing of that I should tweak?

The perf testing part is about comparing it to the official Azure SDK for service bus. It's already an order of magnitude faster, so I'm not too worried about squeezing out another couple of percent at the moment. 😄

[2017-04-18 19:39] mbroadst commented on #314
@christav I'm on the move right now, but I would reach out to @noodlefrenzy, @pierreca or @princjef, all on your side of the fence

[2017-04-19 17:01] princjef commented on #314
I started seeing this too when I moved to 3.5.1.

The problem is with this line:

[code]

Your sender is setting the `sndSettleMode` to `1` (settled), which indicates that all messages are already settled when they are received by Service Bus. Based on my understanding of the AMQP spec, you should not receive a disposition back, which appears to be causing the Promise to not resolve.

This is just

[2017-04-19 18:47] christav commented on #314
@princjef Thanks, setting the sender settling mode to mixed fixed the promise resolving issue. However, there is a pretty significant perf cost there - from what I could tell sending 1000 messages using the 'settled' default mode takes a couple of seconds (can't reliably time it of course) while with mixed I get about 28 messages per second, so 30-ish seconds total.

I would also strongly suggest

[2017-04-19 19:54] mbroadst commented on #314
@princjef thanks for looking into this, you're totally on point here. There is some initial confusion in our policies because we have e.g. `sndSettleMode` and "callback policies".   As for the policy issue, that's spot on as well, I wonder if one of you could verify what the default behavior is? We can have the policy default to that now, or I can just default it to `mixed`.   I'm sort of surprise

[2017-04-20 06:01] geoffreysamper commented on #314
Hi, I'm having the same issue here when I upgraded to the lasted version

[2017-04-20 13:09] mbroadst commented on #314
Okay this should be fixed in master in https://github.com/noodlefrenzy/node-amqp10/commit/be48605645c1e5e472829f2179eb81205a6c2fb0.  I'll wait for you guys to get back to me about what the default should be for ServiceBus/EventHub.

[2017-04-20 13:32] dnwe opened #315 "Rename of settle mode frame fields breaks existing applications which relied on semver"
@mbroadst shouldn't https://github.com/noodlefrenzy/node-amqp10/commit/f3c4617 have been a major version bump to 4.x.x rather than a minor one (3.5.0 -> 3.5.1)? I can see that 3.5.2 attempted to fix this by adding backwards compatibility re-mapping in https://github.com/noodlefrenzy/node-amqp10/commit/eb1147d, but that doesn't work for (people like me) who were manually passing in policyOverrides

[2017-04-20 17:00] mbroadst commented on #315
@dnwe yes it should have been. I'm trying to do what I can to correct it, thank you for your patience. I think we can complete the patch by renaming the deprecated field names at the SenderLink/ReceiverLink level, would that work for you?

[2017-04-20 17:40] dnwe commented on #315
@mbroadst yep that sounds great cheers 👍🏻

let me know if you need a hand

[2017-04-20 18:52] mbroadst commented on #315
@dnwe should be fixed in https://github.com/noodlefrenzy/node-amqp10/commit/25a8dedac2b1f27a72e7f009158079f03d4fc8ac, please let me know if it's not working for you, or if you can think of other corner cases

[2017-04-20 22:50] princjef commented on #314
@mbroadst sorry for not getting back sooner on this. I think that `mixed` is a reasonable default, especially since it's the default in the AMQP spec and the one that was effectively used up until now. I don't see any special reason why it should default to something different, and people can still decide to set things up in a different way if they want.

I see `settled` as more of a performance/t

[2017-04-20 22:53] princjef commented on #314
Side note to @christav: if you're trying to pump a lot of messages into Service Bus, there's no need to execute them all in sequence. I routinely dump messages into Service Bus with concurrency greater than 100 with no problems. The benefit of getting the disposition back is that you know whether or not Service Bus actually accepted each message

[2017-04-21 13:19] mbroadst commented on #314
@christav could you possibly test your code against the `master` branch here and verify that the fixes work for you? I'd prefer to not make multiple patch releases around this issue.

[2017-04-21 13:54] dnwe commented on #315
👍

[2017-04-21 13:54] #315 closed

[2017-04-21 14:44] dnwe opened #316 "rcvSettleMode is mapping `first` => `autoSettle` and `second` => `manually settle`"
Currently the amqp10 module seems to have re-purposed AMQP's rcv-settle-mode on a receiver link to determine whether or not the client library itself should be doing automatic settlement when messages received, or whether to expect the user to call `.accept()` to settle received messages.

However, I think this is incorrect. The rcv-settle-mode FIRST vs SECOND is specifically governing the contrac

[2017-04-21 17:05] christav commented on #314
@mbroadst Sure, I should be able to do that later today.

[2017-04-24 13:27] mbroadst commented on #316
@dnwe hm yeah you're right (man those are killer names for the two modes 'first' and 'second' :) ). Though it wouldn't take too much effort to track messages and settle them upon disposition (for the `second` case), it's not clear whether anyone is actually using that because nobody has complained of the aforementioned debug messages on `ReceiverLink.prototype._dispositionReceived`.

[2017-05-02 16:30] christav commented on #314
@mbroadst Sorry for the long delay, you know how these things go I'm sure. :-) I did try against the master branch, and the send code does in fact work with the default Policy.ServiceBusQueue policy now without having to set the sender settling mode manually.

I also tried setting the sndSettleMode to settled manually, and the promises did complete and perf was a lot better than the default. So I

[2017-05-02 16:53] mbroadst commented on #314
fixed in v3.5.3

[2017-05-02 16:53] #314 closed

[2017-05-03 11:31] magnusjt commented on #245
Hi again. I added a few more debug statements. What's weird is this:

We negotiate a timeout of 120 000 ms:
Connected with params { maxFrameSize= 65536 , channelMax= 4999 , idleTimeout= 120000 , remoteIdleTimeout= 240000 }

Then suddenly it complains about being inactive for 60 000 ms:

AmqpProtocolError: amqp:connection:forced:The connection was inactive for more than the allowed 60000 millisecon

[2017-05-08 12:43] magnusjt commented on #245
@mbroadst forgot to mention you in the previous post

[2017-05-09 14:35] dnwe opened #318 "Default policy doesn't copy with username/password's that contain a colon (:)"
The default policy truncates passwords at the first colon (':') character that they contain. Obviously this means that you can't use passwords that contain this character to successfully connect to a remote server.

This is due to the way that `lib/policies/policy.js` parses a the value from a `urlObject.auth` field.  Specifically:
[code]

Because `urlObject.auth` is always a URI decoded value - i

[2017-05-09 14:42] Fl4m3Ph03n1x opened #320 "Unable to connect to Apache ActiveMQ"
Bakcground
---------------

Trying to connect to my Apache ActiveMQ using this library. I am using the following code (adapted from the original example in the README):

[code]
Error
-----

Execution fails with the following application error:

While ActiveMQ rejects the request with the following message:

What I tried
-------------

I tried to implement the fix described in this issue:

 - https

[2017-05-11 18:33] christav opened #321 "How to set AMQP timestamp in annotations?"
I'm trying to set the Service Bus specific custom annotation `x-opt-scheduled-enqueue-time` on a message I'm sending. The value it's expecting is an AMQP timestamp.

I can get the unix ticks value with `Date.parse`, but how do I turn that Javascript number into the right thing for the message? It seems to just ignore stuff that's not in the right format, and everything I've tried is wrong so far.

[2017-05-15 21:40] christav commented on #321
Got help from @princjef - for those looking in the future, the answer is to pass a `Date` instance.

[2017-05-15 21:40] #321 closed

[2017-05-17 19:20] jtjk opened #322 "TypeError: Cannot read property 'write' of null"
Wed May 17 2017 19:19:23 GMT+0000 (Coordinated Universal Time): Application has thrown an uncaught exception and is terminated:
TypeError: Cannot read property 'write' of null
    at Object.frames.writeFrame (D:\home\site\wwwroot\node_modules\amqp10\lib\frames.js:56:9)
    at Connection.sendFrame (D:\home\site\wwwroot\node_modules\amqp10\lib\connection.js:328:10)
    at ReceiverLink.Link.attach (D

[2017-05-17 20:17] jtjk commented on #322
I founded workaround:
frames.js lines 52->
  var buffer = builder.get();
  buffer.writeUInt32BE(buffer.length, 0);
  debug('sending frame: ', frame);
  trace('raw: [' + buffer.toString('hex') + ']');
  **if (stream != null)**
    stream.write(buffer, callback);

Yes, this workaround is insane, but I don't have time to debug what is the root cause for that so I use this workaround until something b

[2017-05-17 20:22] jtjk commented on #322
[https://github.com/noodlefrenzy/node-amqp10/pull/323](url)

[2017-05-19 06:49] jagratimodi opened #324 "Question: How to fetch messages from an Azure Service Bus Queue in “PeekLock” mode using AMQP?"

[2017-05-20 13:24] KristianRaue opened #325 "Beginners Question"
Sorry, if this is to basic, but I can't find any information anywhere for the following task. I get the basic samples to run, but not farther than that.

I would be great if  somebody could provide a simple node-amqp10 code sample that shows to beginners how to publish to a qpid c++ message broker (with enabled AMQP 1.0 support) to a topic exchange that dynamically creates a durable queue and is a

[2017-05-20 13:49] mbroadst commented on #325
@KristianRaue AMQP 1.0 itself provides no explicit means to create links. Some do implicitly (ActiveMQ will just make the thing if you send to it iirc), some allow it explicitly (qpid lets you define a `dynamic` argument when creating the link from the client side, [example](https://github.com/mbroadst/amqp10-rpc/blob/master/lib/rpc-client.js#L16)), but its not part of the spec itself.

As far as

[2017-05-20 13:51] mbroadst commented on #324
This seems specific to service bus, ping @noodlefrenzy, @princjef, @pierreca.  Sounds like a disposition issue.

[2017-05-20 13:52] mbroadst commented on #320
@Fl4m3Ph03n1x can you please try running your application with the environment variable `DEBUG=amqp*` set? This will give debug information which should be useful for diagnosing your problem.

[2017-05-20 13:54] #318 closed

[2017-05-20 18:47] KristianRaue commented on #325
Matt,

Thank you for the quick reply! I guess I am just looking for a hint on what to put in the {???}-Part of the following line of code.

   client.createSender(queueName, {???})

if the queue (or exchange) does not yet exist on the Qpid c++ broker. And I want to make the new queue durable.

I understand that AMQP 1.0 does not care about broker context, but somehow the Qpid specific policy overr

[2017-05-20 19:02] mbroadst commented on #325
@KristianRaue outside of creating a dynamic link (e.g. `{ attach: { source: { dynamic: true } } }`), it's not possible with attributes to do what you want. QPIDs solution for this is using `--topic-patterns` and `--queue-patterns` options for qpidd, that allow you to specify patterns where dynamically created links are OK. Additionally you could attempt to use the qpid management framework to crea

[2017-05-21 15:50] jagratimodi commented on #324
@mbroadst thanks :)

[2017-05-21 16:01] jagratimodi commented on #324
@noodlefrenzy @princjef @pierreca  If anyone of you can answer the above question (fetching messages from Azure Service Bus Queue in PeekLock Mode), it will be really very helpful. :)

[2017-05-21 21:34] noodlefrenzy commented on #324
I'll hope the others respond, as I've never used the peek/lock functionality and am not really sure what "lock tokens" it's talking about. Adding @xinchen10 as he wrote AMQP.NetLite and might have some insight into what payload properties are required.

Regarding peeked messages getting removed from the queue, my guess is that you're not overriding any policy settings, and the default receiver pol

[2017-05-22 03:55] kolonse opened #326 "not work well in active-mq-5.14"
this is error:
[code]

[2017-05-22 04:31] jagratimodi commented on #324
@noodlefrenzy  thanks :) But I was wondering that, changing the receiver policy will make the messages available again after the lock duration is over?
If there are some changes specific to fetch the messages in PeekLock mode?

[2017-05-22 06:01] kolonse commented on #326
i found question! reason is not to set env of active-mq

[2017-05-22 06:11] kolonse commented on #326
it's version error!
[code]

[2017-05-22 07:31] kolonse commented on #326
i think this is a version problem，i test it's ok at active-mq-5.12.1

[2017-05-22 07:33] kolonse commented on #326
the active-mq-5.14.5 need version 1.3. i try to change amqpVersion of constants.js, but another question display!

[2017-05-22 11:37] Fl4m3Ph03n1x commented on #320
I would like to point out I find the solution here:
http://stackoverflow.com/questions/43873400/unable-to-connect-to-apache-activemq-with-node-js

Thanks for replying though!

[2017-05-22 11:37] #320 closed

[2017-05-22 11:43] mbroadst commented on #326
@kolonse there have been a number of related bugs, it appears that ActiveMQ now requires SASL even for anon connections. The error you are getting above indicates that the broker expects SASL, and you are not using it on the client side. Please see details in the linked post on #320.

[2017-05-22 11:43] #326 closed

[2017-05-22 17:44] xinchen10 commented on #324
@jagratimodi the Azure Service Bus queue supports PeekLock over AMQP link directly and you should not have to use the request response extension for that.

At the AMQP level, a receiver link created with attch.rcv-settle-mode=second will peek an lock the messages. Application can complete a message by sending a disposition with appropriate outcome.

SB has a timeout for the message lock, which def

[2017-05-22 21:54] princjef commented on #324
@jagratimodi when consuming messages in PeekLock mode, the message will only last until the lock token expires, at which point its delivery count will be incremented and the message redelivered (if possible/applicable).

If the time you want to hold on to your messages is less than 5 minutes, I recommend simply increasing your lock token timeout. If you need to hold on to it for longer than 5 minu

[2017-05-23 06:07] jagratimodi commented on #324
@xinchen10  @princjef  Thank you guys. It was of great help.
Creating a receiver link with **rcv-settle-mode** as **settleOnDisposition** helped. Now the messages are not getting deleted from queue and they are available after the lock duration is over.
But I have one doubt that, I am trying to receive messages from queue, when the queue have no active messages available. It does not return any re

[2017-05-24 14:21] BUONJG opened #327 "Error management"
Hello,

Could you please tell us how we can handles errors:
- Opening the connection:  new AMQPClient(...).connect(...);
- On accepting, rejecting, releasing messages

We tried to connect to an invalid amqp, the connect method never return neither throw an exception

When we remove network connection, accept, reject and release return but never throw exception neither

Thank you by advance.

[2017-05-24 14:27] mbroadst commented on #327
@BUONJG there are examples in the [usage section](https://github.com/noodlefrenzy/node-amqp10#usage), and for the client itself you can listen to [client:errorReceived](https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/amqp_client.js#L86) which is sort of all oddly named for legacy reasons, until we can update it for a major version increment

[2017-05-24 16:46] princjef commented on #324
@jagratimodi to my knowledge there is no way to get that information when communicating with the Service Bus messaging APIs. The node SDK has management APIs to retrieve the message count for individual queues/subscriptions. That's probably your best bet. If you're trying to see how many messages are available for you to receive, you'll want to check the active message count specifically.

[2017-05-24 17:27] jagratimodi commented on #324
@princjef I was trying to use AMQP to receive messages from Azure Service Bus Queue because Service Bus node SDK does not provide batch retrieval of messages.
So when the messages are received once, then they are locked for a specific duration, during which they cannot be received. So if at that time I try to receive messages, I don't get any response stating that there are no more messages to rec

[2017-06-02 07:01] magnusjt commented on #245
@mbroadst Finally got another error with debug statements on:

!!self.connected -> true
!!self._transport -> true
(Date.now() - self._lastOutgoing) -> 30027
maxTimeBeforeHeartbeat -> 120000

Memory usage is normal.

[2017-06-30 09:05] markmcgookin commented on #245
I'm seeing this issue too, but much more frequently than @magnusjt as we are currently just in dev stages of development.

We are using the throttling code from the documentation as well

`var client = new AMQPClient(Policy.Utils.RenewOnSettle(1, 1, Policy.ServiceBusQueue));
`
We seem to resolve it sometimes by purging all the messages in the queue and restarting the app, then re-sending. We are u

[2017-07-02 16:32] khowling opened #328 "sender event "creditChange" not tirggered"
Looks like Link.CreditChange is not defined in sender

https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/sender_link.js#L233

[2017-07-04 16:59] BretStateham commented on #307
I am running into this issue as well intermittently using the Azure IoT Hubs.

The script I'm using is here: https://github.com/Mission-Mars-Fourth-Horizon-Org/CoffeePotDevice/blob/master/CoffeeClient/node/readdevicetocloudmessages/ReadDeviceToCloudMessages.js  .  The code is basically just the code created during the [Connect your simulated device to your IoT hub using Node](https://docs.microsof

[2017-09-06 03:02] princjef opened #331 "Cannot create multiple sessions per connection"
As far as I can tell, creating a client using the current amqp10 implementation creates [a single session](https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/amqp_client.js#L70), which becomes tied to the client/connection and is used for all links created on that connection.

While this works well for most cases, I chatted with the Azure Service Bus about some problems that we've been se

[2017-09-06 20:18] princjef commented on #331
Alright I've poked around the code some more and have a slightly better idea as to what this would entail. Here's my current thinking:

 1. **Add a `createSession()` method to the `AMQPClient` class.** I'm not passing any parameters for now, but it could potentially take a `policyOverrides` for the `session` portion of the client's policy. Just like when creating links, the client must first be co

[2017-09-14 12:07] wingedfox opened #333 "RenewOnSettle policy override is incorrect"
Hello,

I've found that `RenewOnSettle` override does no work because provided settings are not used by client.
https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/policies/policy_utilities.js#L107
policy provides `receiverLink` field, but the only place it mentioned and it is not from the overrides
https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/amqp_client.js#L289

Either pol

[2017-09-28 08:32] siraajahmed opened #334 "Disposition ActiveMQ support"
Hello,

Is disposition fully supported now or is it still being worked on? I am using this with ActiveMQ with the ability to reject and accept messages manually.

Thanks for your time.

Siraaj

[2017-10-09 17:54] AilurusFulgenz opened #335 "Question : AMQP Claims Based Security (CBS) compliance ?"
Hi,

I would like to use this library for retrieving messages in a topic of my Service Bus on Microsoft Azure platform.

Specifically, i'am generating a SAS (= Shared Access Signature) from my Service Bus account which is something like this

With the Microsoft Azure REST API it works and all is fine.

Now, I want to build a nodejs program. Thus, I use this awesome library :-) !

My program is ver

[2017-10-18 02:55] mitchellcmurphy opened #336 "Azure Node Web App Intermittent Failures"
I created and deployed a NodeJs Web App in Azure today, it relies on websockets and takes a lot of traffic, and it keeps crashing with this error every few hours. I have to force a restart, or delete and replace the API, and I have no idea what the issue is.

Anyone else seeing this error or know how to fix it?

[code]

[2017-10-19 10:13] mbrusamolin opened #337 "incomingWindow wrong calculation and session.addWindow problem"
Hi, we had incurred in a problem related to the incomingWindow value.
Our platform handles messages that are up to 700k with Azure Service Bus thus using more than 1 window per single message.

Upon the "receiver.accept", using AMQP.Policy.Utils.RenewOnSettle(1, 1, AMQP.Policy.ServiceBusTopic), a single credit is correctly (re)gained, but only 1 frame is added to incomingWindow.

This cause a prog

[2017-10-19 15:32] mbrusamolin commented on #337
Just discovered that a very similar issue affects outgoingWindow: this variable is constantly drained and this process leads to an unreadable queue/topic.

E.g.:
36|core-sc | Thu, 19 Oct 2017 14:01:49 GMT amqp10:framing => @flow(19) [nextIncomingId=711 incomingWindow=97 nextOutgoingId=1 outgoingWindow=100 handle=0 deliveryCount=711 linkCredit=1 available=0 drain=false echo=false properties={}]
36|

[2017-11-07 08:28] jtjk commented on #322
Any comments? I am still getting this occasionally

[2017-11-07 14:12] MorganLindqvist opened #338 "Possible to disconnect only receiver?"
Hi,

I have an application that reads a message from an AMQP server processing the message and then writing ta message back to the AMQP server.

The challenge I have is that when terminating the application I can not stop listening to incoming messages, process the one that just read, and then write them to the server. If I do not do this there is a risk that the application will close while a mes

[2017-11-09 00:38] abhijeetahuja commented on #245
any updates on this? I am facing the exact same issue.

[2017-11-09 15:18] geoffreysamper opened #340 "Cannot read property 'write' of null and keep crashing"
Hi,

I have a node azure web that sents data to eventhub. At some point in time the application receives an error from eventhub and the amqplcient tries to reconnect the strange part is that even after connection is etablished the client is not able to send messages because the error keep coming and the only way to fix the error is to let the application crash.
Do you have any advice how we could

[2017-11-24 12:03] philib opened #341 "Problem with Reconnect"
Hi,

i'm using node-amqp10 with ActiveMQ. First i had a problem with establishing a connection to the broker:

[code]
I was able to solve that using the anonymous sasl mechanism:

[code]
But now there is another problem:
If the client successfully established a connection with the broker and afterwards the broker disconnects, the client tries to reconnect to the broker. But if the broker is back u

[2017-12-22 00:49] swilliams-a3digital opened #342 "connection error doesn't trigger error handler. Promise not resolved or rejected"
If I have a bad url, or bad username / password combo, when I hit connect, I'd expect the .error() handler to get called.  However, client.connect() just hangs forever.  In the code snippet below, I'd expect a connection error to get logged to console by the .error(err= console.log(err));  If I turn on the debug environment variable I see your library generating experiencing errors back from the s

[2017-12-23 23:09] swilliams-a3digital opened #343 "Question: Why Bluebird promises and not standard promises?"
We use many libraries that use regular promises and they seem to work well.  Bluebird seems to have a few differences with syntax (e.g. return concept) and its quite annoying to have something that works a little bit different than the promises built into the language.

[2017-12-26 19:56] swilliams-a3digital opened #344 "errorReceived events don't work"
I found these examples from your samples:

sender.on('errorReceived', function (tx_err) { console.warn('===> TX ERROR: ', tx_err); });
receiver.on('errorReceived', function (rx_err) { console.warn('===> RX ERROR: ', rx_err); });

But they don't work.  If I bring down my activemq server I don't get any errorReceived events.

[2017-12-26 23:43] swilliams-a3digital commented on #344
It looks like your sample documentation is out of date.  I read through the code and this worked:
const AMQPClient = require("amqp10").Client;
const activeMQPolicy = require("amqp10").Policy;
const client = new AMQPClient(activeMQPolicy.ActiveMQ);
client.on(AMQPClient.ErrorReceived, (err) => {
    console.log(`err received ${err}`);
});

[2017-12-27 00:35] swilliams-a3digital commented on #344
Here is what I ended up doing for error handling.  Basically I wanted to keep the connection going and re-establish my receiver on disconnect.  This was able to survive bringing my active MQ server down and up.  Nothing else I tried could survive that and keep working.  If there is a better way, please advise.

const AMQPClient = require("amqp10").Client;
const Promise = require("bluebird");
const

[2018-01-21 15:18] amenzhinsky commented on #17
Why was this closed?
http://docs.oasis-open.org/amqp/core/v1.0/amqp-core-security-v1.0.html

[2018-01-25 19:45] princjef commented on #342
Have you tried replacing your `.error()` on the last line with `.catch()`? Calling `.error()` on a [Bluebird promise](http://bluebirdjs.com/docs/api/error.html) only catches operational errors. `.catch()` is also the standard way of catching errors in [ES6 Promises](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/catch), so you can write code without worryi

[2018-01-25 19:52] amarzavery commented on #342
I noticed one more thing. Even though the library is using Bluebrid internally, it is not neccessary for you to use it. You can use standard promise that is available in node.js.
Instead of using the .spread and .error methods you can chain things with `.then()` and have a `.catch()` in the end.

[2018-01-26 10:28] pulasthibandara opened #350 "Only one receiver is receiving a message at a time."
Hi, I have a very beginner question where I have set up ActiveMq and a single sender sending messages to a queue "test". I have set up two receivers, and subscribe to queue "test".

My issue is that at a time, only a single receiver is receiving a message. ie: when receiver 1 gets the message receiver 2 does not. I want both receivers to get the same message.

I'm pretty sure I haven't configured

[2018-01-29 23:30] swilliams-a3digital commented on #342
I wasn't able to get error or catch handlers to catch trigger on connection problems. I ultimately worked around the issue using .on to handle various events.
e.g.:
        const AMQPClient = require('amqp10').Client;
        const activeMQPolicy = require('amqp10').Policy;
        this.client = new AMQPClient(activeMQPolicy.ActiveMQ);
        this.client.on('connected', () => {
           // hand

[2018-01-30 10:00] pulasthibandara commented on #350
I managed to narrow this down to setting the `distributionMode` of the Link to `copy`. But I cant figure out a way to set it on a client or a receiver.

[2018-02-06 07:43] njLT commented on #245
we're getting
`{ Error: read ECONNRESET at _errnoException (util.js:1022:11) at TLSWrap.onread (net.js:615:25) code: 'ECONNRESET', errno: 'ECONNRESET', syscall: 'read' }`
or `{ Error: read ETIMEDOUT at _errnoException (util.js:1022:11) at TLSWrap.onread (net.js:615:25) code: 'ETIMEDOUT', errno: 'ETIMEDOUT', syscall: 'read' }` with ASB but the error seems to be thrown 12 minutes (or more) after it

[2018-02-08 20:16] amarzavery commented on #245
@njLT Some fixes were made in the 3.6.0 version of node-amqp10. Try using that. I still believe this looks like a service side issue since you were getting this error while using the http based `azure-sb` library and this library as well.

[2018-02-11 01:10] tony-gutierrez commented on #342
Yeah, in initial tests with turning off the connection, it takes a long time to get any event. I think it is dependent on the remoteTimeout, which we cannot change.  As I wanted to be more proactive on network drops, I just turned off all reconnect, and do a disconnect/connect on a timeout set after the last message received.

It would be nice to be able to hook into heartbeat errors, or something

[2018-02-13 15:32] mirzaciri opened #357 "Service Bus Subscription, Can't empty the message queue"
Hello,

I'm fairly new to AMQP protocol and don't have a lot of experience with it.
I tried to search for open and closed issues, but couldn't find anything that was related to this.

**Problem**:
We are trying to use Azure Service Bus with Sub/Pub functionality.
When our App1 sends a message through a rest call to the topic, I can see it in the Azure portal (Subscription side). If I start the sam

[2018-02-16 01:11] tony-gutierrez opened #358 "Duplicate on message handlers."
I have to use logic in a 'connection:opened' handler to send a sas token.

If I do anything with the client in this 'connection:opened' event handler, I get two calls to my "on message" handler, regardless of where my receiver was created. I have verified I am only creating one receiver, once.

[2018-02-21 21:54] DominicBoettger opened #359 "Queue not automatically created"
Hello.

When creating a receiver or sender the queue is not automatically created in service bus. Is there an option to do this?
I used rabbit with amqplib before and it was possible to create the queues automatically.

Thanks
Dominic

[2018-02-21 22:16] amarzavery commented on #359
Nope. This package expects that the queue/topic, etc. is already created. You can create that from the portal. Or you can use the [`azure-arm-sb`](https://www.npmjs.com/package/azure-arm-sb) package to create the entities programmatically.

[2018-02-21 22:19] DominicBoettger commented on #359
Hi

Thank you. That helped me a lot.

Best
Dominic

[2018-02-21 22:19] #359 closed

[2018-02-22 10:15] siraajahmed opened #360 "Sending headers documentation"
Noticed an issue with ActiveMQ and this library.

When you send a message without any headers (we didn't know you had to send headers and where you would send them), the messages do not get persisted (despite the ActiveMQ documentation that says it does it by default).

Anyway, turns out you have to send messages with a durable header to node-amqp10 for persisted messages to work. THIS IS NOT OBVI

[2018-02-22 19:02] swilliams-a3digital commented on #360
Thanks for the message, I've been banging my head against the wall trying to figure out how to make message durable.  Your snippet above solved my problem.  It would be great to add that snippet to the documentation.

[2018-02-26 07:24] shakson commented on #341
I have the same problem, it never reconnects

[2018-02-27 16:14] johnrhampton commented on #245
@njLT, we are running into the same issue with version 3.5.3.  Did upgrading to 3.6.0 solve it for you?

[2018-03-01 11:05] sebastus commented on #322
I also get this error quite frequently. Great to see the workaround. Would really prefer an actual fix.

[2018-03-05 15:44] gbeister opened #361 "How to set trust store path / certificate (*.pem) file for AMQPS"
Hi,
I'm trying to get information of how to specify a *.pem file as certificate when creating a consumer. Also where would I need to setup a basic authentification user:password? Would this be part of the amqps-url?

Thanks a lot in advance.

[2018-03-07 09:35] gbeister commented on #232
Hi,
has been a while this topic has been touched, but is there an official and documented way of how to use amqp10 via amqps by involving a certificate-file to use?

The way I'm trying to connect currently is as follows:
`var client = new AMQPClient(Policy.merge({
	connect: {
		sslOptions: {
			caFile: <path to my *.pem file>
		}
	}
},Policy.DefaultPolicy));

client.connect(<url to amqp endpoint>)

[2018-03-07 09:40] gbeister commented on #361
Please see also my comment to an already closed issue related to this topic: [https://github.com/noodlefrenzy/node-amqp10/issues/232#issuecomment-371079686](url)

[2018-03-08 12:23] gbeister commented on #361
Hi,
I found the answer by myself (this issue can be closed):
Solution:
var client = new AMQPClient(Policy.merge(Policy.QpidJava,{
	connect: {
		options:{
			sslOptions: {
				caFile: "path to *.pem" file"
			}
		}
	}
}));

[2018-03-08 12:24] #361 closed

[2018-03-08 13:13] gbeister opened #363 "Problem with Policy.prototype.parseAddress and auth"
Within the policy.js in amqp10/lib/policies the Policy.prototype.parseAddress is wrongly retrieving the authentification information.
Currently its done via: var auth = matchAuth.exec(address)[1];
but should be: var auth = parsedAddress.auth;
Background: an amqp-endpoint like:  `amqp://<user-name containing an @>:<password>@<end point>:<port>`
will lead into an empty password and invalid user-name

[2018-03-09 08:54] karlvlam commented on #358
I have the same issue.

[2018-03-09 09:17] karlvlam commented on #358
@tony-gutierrez I get the same issue. But when I pause for a while in the event function, it do not raise duplicated message again.

Here's my workaround.
[code]

[2018-04-06 16:48] princjef commented on #358
Have you tried listening to the `connected` event instead of `connection:opened`? That won't fire until your connection and session(s) have been initialized, at which point you should be able to do whatever you want with links, etc.

[2018-05-08 18:54] swilliams-a3digital opened #365 "Question: Is there a way to receive only one message at a time and leave the rest on the queue?"
I am new to amqp10 and I use this code to receive messages:

amqpClient.createReceiver(queueName).then(r => {
                                r.on('message', message => {
                                let subscriberMessage = new SubscriberMessage();
                                subscriberMessage.body = message.body;
                                this.handleMessage(subscriberMessage);

[2018-05-08 18:58] amarzavery commented on #365
This repo is not actively being maintained or supported. I would recommend using [rhea](https://github.com/amqp/rhea) which is actively supported and has lesser issues.

[2018-05-08 22:28] swilliams-a3digital commented on #365
I figure it out with this.
this.amqpClient.createReceiver(queueName, { creditQuantum : 1, attach: { receiverSettleMode: 1 } }).then(r => {

thanks for tip about this library being dead.

[2018-05-23 06:51] jcanadilla opened #366 "Question: Is there a way to receive the information of wildcards of a queue?"
Hello,

I am developing a message processor using this library. Next, I explain that I am trying to get.
I am using ActiveMQ as a broker and I send messages with MQTT to the broker. Then, the broker puts all MQTT messages in a queue that I am trying to read.

When I send messages to MQTT topic I write: (Example) house/kitchen/fridge/temperature
And then I read from AMQP queue with wildcards like t

[2018-05-23 15:49] amarzavery commented on #366
There is no active development happening in this library. I would recommend using https://github.com/amqp/rhea. It is well supported and is being actively developed.

[2018-05-23 18:51] jcanadilla commented on #366
Hi @amarzavery thank you so much for your response.

I have been searching a solution to this issue with my team and we have found which is the bug.
This is a bug of ActiveMQ so rhea (actually) has same problem (confirmed).

Only for somebody that have the same problem:
[https://issues.apache.org/jira/browse/AMQ-6972](https://issues.apache.org/jira/browse/AMQ-6972)

I think that this issue can be

[2018-06-09 00:31] Kmasterrr opened #369 "Connect does nothing"
Hi there,

I am using Amazon MQ using the AMQP connection string and for some or other reason, the promises are not returning anything. No error or success..

I have copied the  code from your examples, as well as played around with the policy and for some reason the application just waits..

Please assist. I just decommissioned my RabbitMQ server and now i need to sort the application via amazon

[2018-06-15 15:51] ps2goat commented on #369
I had this same issue. 1) if the connector is anonymous, you need to specify the SASL mechanism: https://stackoverflow.com/a/43913433/2084315

2) if this is an authenticated user, I had to build the url with the creds in the url. (If there's a different way to do this, let me know.)

`amqps://user:pw@url:5671`

Be sure to run `encodeURIComponent()` your password before putting it in the url!

Also

[2018-06-15 15:53] ps2goat commented on #363
I had the same issue with my password.  use `encodeURIComponent()` on your user name and password _before_ putting it into your url.  I haven't specifically tested with an `@`, but it was working for other special chars.

[2018-06-15 15:56] ps2goat commented on #350
This is the point of a queue-- only one process gets a message so there is no duplication.  You'll have to configure the message's duplication on the server, e.g., by mirroring queues, publishing the messages to multiple queues, etc.  With ActiveMQ, here are some options: http://activemq.apache.org/virtual-destinations.html

[2018-06-15 15:59] ps2goat opened #370 "Failover support?"
For ActiveMQ, in the Java world, there is the idea of a failover connection.  Is there support for this in this library?  With AmazonMQ, we have two possible instances to connect to, and either one can be up at any given time (but only one will be available).

Also, the library just hangs when trying to connect with a bad connection, rather than throwing an error and letting the process continue.

[2018-06-15 16:51] amarzavery commented on #370
This library is not being actively maintained. There would be no bug fixes or new features. I would recommend using https://github.com/amqp/rhea

[2018-06-15 18:34] #370 closed, assigned to nobody

[2018-06-20 20:45] danlangford commented on #366
@noodlefrenzy or @mbroadst can you verify the claim made by @amarzavery? is this library in fact being no longer developed and supported? or is it just that the primary protocol work is done and there hasnt been much work needed on it for a bit?

[2018-06-23 17:53] noodlefrenzy commented on #366
Hey @danlangford, TL;DR version is _yes_.

We'd transitioned development to @amarzavery and team because we could no longer support it, and they've been transitioning their own code to `rhea` so have stopped maintaining this. We wrote this before `rhea` existed and have always been a great admirer of that library since it started - in fact, our last major revision adopted many of their ideas.

[2018-06-26 14:09] menme95 opened #371 "Limit requests"
I am having a problem reading from Azure Service Bus, like the queue stop reading, I always have this problem when the amount of messages is over 500. I have some queues reading from some queues from the same Service Bus.
When I feel that they are blocked , it happens in all of them.
Do you have any parameter like: "MessagingFactory.PrefetchCount Property" this which could be blocking us?

[2018-06-30 12:11] jwgmeligmeyling commented on #369
For those with the same issue under WildFly's embedded ActiveMQ message broker, see: https://issues.jboss.org/browse/WFLY-7823?focusedCommentId=13599179&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-13599179

[2018-07-01 04:42] vIceBerg opened #372 "Have some problems lately with Azure Service Bus"
Hi!

I'm using the 3.4 version for a while and this version worked well. But for some weeks now, I have a lot of troubles...

My app is working file for days, but at some point, the send method's promise never get resolved or rejected and the message is never sent to Azure.

I have to kill my app and restart it to make it works again.

I have event listeners on errorReceived and detached and they

[2018-07-02 02:42] amarzavery commented on #372
These are typical issues seen in node-amqp10. It happens due to the library falling in incorrect state.
Moreover node-amqp10 is not being actively maintained. We are developing an sdk for service-bus. It is developed on top of [rhea](https://github.com/amqp/rhea). There is an [open PR](https://github.com/Azure/azure-service-bus-node/pull/5).

We expect to release a version for Azure ServiceBus by

[2018-07-02 23:14] vIceBerg commented on #372
Hi.

Thanks, I'll keep an eye on this... and check to rewrite my code with rhea.

Meanwhile, is there something I could do to minimize that problem?

Thanks

VB

[2018-07-24 12:11] jvanharn opened #373 "Creating a shared topic subscription"
We use amqp10 with qpid-cpp in production, and have been very happy with overall performance and stability.

Now that we have an event system in place that uses topics(exchange) (as you would), we wanted to increase performance and make workers scalable by having multiple worker instances subscribe to a specific/single subject filter using a single named link/queue. And eliminating the need for a

[2018-07-25 14:33] jvanharn commented on #373
Solved this issue by using the QMF2 equivalent of the following:
https://access.redhat.com/documentation/en-us/red_hat_enterprise_mrg/3/html/messaging_programming_reference/subscribe_to_a_topic_exchange

Using [qmf2-ts](https://github.com/jvanharn/node-qmf2) or [qmf2](https://www.npmjs.com/package/qmf2) and Typescript (but should be easy to convert to js, can provide upon request):
[code]

[2018-07-25 14:33] #373 closed, assigned to nobody

[2018-07-30 07:19] rahulsahay19 commented on #336
Closing this issue as this was because of network blocking issue. working on other wifi network.Thanks!

[2018-08-13 08:20] mailmeankit opened #374 "Issues with amqp10 npm module"
Hi,

I have used amqp10 npm module, I am seeing following issues, can you please address those. I will help me a lot.

1. I am unable to get queue names based on naming pattern, for example, if there are multiple queue's i.e data.pipeline,data.enabling,...etc.

I want to get all the queue names which start with data.*.

2. Next, I am unable to find when all messages from the queue consumed i.e no

[2018-08-13 15:20] amarzavery commented on #374
This repo is no longer actively maintained. Please use https://github.com/amqp/rhea which is a fully compliant amqp 1.0 library that is actively maintained.

[2018-08-15 16:15] moebigit commented on #363
I also wonder what the purpose of this code section is?

The code checks whether the url.parse(address) has set a valid auth information, but then ignores this and reparses the entire url string applying the decodeURIComponent(authSplit[0]) on the username.

As reported by @gbeister - @ is not an encoded character and the regex does not properly match a valid URI which allows the username to conta

[2019-03-02 05:36] njLT commented on #245
@johnrhampton we faced a bigger issue with 3.6.0, just one consumer works at a time and that too stops working after a while. you might want to checkout https://github.com/amqp/rhea-promise which is what the guys at MS now recommend, we stopped using iothub altogether.

[2019-04-09 20:15] amarzavery commented on #245
@johnrhampton, @njLT - Anyone using azure service bus, please try out the new AMQP based service bus sdk. You can find it on npm over [here](https://www.npmjs.com/package/@azure/service-bus). It should make things much simpler to program against service bus. Source code for the same can be found over [here](https://github.com/Azure/azure-sdk-for-js/tree/master/sdk/servicebus/service-bus).

[2020-03-18 03:55] Abhishek150995 opened #375 "Creating Exchange and binding it with the queue"
How to create an exchange and bind it with the queue using the amqp10 library? Also how to publish messages on to the exchange?

[2020-06-15 21:09] JerryLeeCS commented on #341
is this still a problem?

[2021-01-26 07:42] #341 closed

[2021-02-18 01:49] skvijay007 opened #376 "Security Vulnerability with lodash@4.17.20"
This latest version of lodash has security vulnerability of Command Injection (CVE-2021-23337).

https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-23337

https://snyk.io/vuln/SNYK-JS-LODASH-1040724

All versions of package lodash; all versions of package org.fujion.webjars:lodash are vulnerable to Command Injection via template.

[2021-03-15 09:27] #357 closed