[2014-10-09 22:03] noodlefrenzy opened #1 "Connection state machine fully defined"
Defined, but not implemented.  Calls out to skeletal methods that fake out transitions.

[2014-10-09 22:03] noodlefrenzy opened #2 "AMQP 1.0 Mock server"
Not a full mock server, just the skeletal pieces required to enable unit-testing.

[2014-10-09 22:05] noodlefrenzy opened #3 "Session class controls links"
Session class implemented, controls channel mapping and link setup/teardown.  Specifically:

Handles Frames indicated by below:

[code]

[2014-10-09 22:06] noodlefrenzy opened #4 "Frames: Frame class implemented"
Allows easy encoding of frames into buffers, and delivery into socket or Connection buffer.

[2014-10-09 22:09] noodlefrenzy opened #5 "Frames: Open Frame"
Factory method on Frame to create an `open` frame for transmission, and another to process an incoming `open` frame.  Appropriate modifications to Connection to support connection settings involved.

[2014-10-09 22:11] noodlefrenzy opened #6 "Frames: Close Frame"
Factory method on Frame to create a `close` frame for transmission, and another to process an incoming `close` frame.

[2014-10-09 22:35] noodlefrenzy opened #7 "Frames: Begin Frame"
Factory method on Frame to create a `begin` frame for transmission, and another to process an incoming `begin` frame.  Modifications to Session as required to assign the channel number and manage handles.  Should parse and log capabilities and properties at this point, although no need to process them.

[2014-10-09 22:37] noodlefrenzy opened #8 "Frames: End Frame"
Factory method on Frame to create an `end` frame for transmission, and another to process an incoming `end` frame.  Should tear down the session as necessary, and should log any error sent in the frame.

[2014-10-09 22:57] noodlefrenzy opened #9 "Frames: Attach Frame"
Factory method on Frame to create an `attach` frame for transmission, and another to process an incoming `attach` frame.  Modify the Session as appropriate to manage link state, assign handles, etc.

[2014-10-09 22:58] noodlefrenzy opened #10 "Frames: Detach Frame"
Factory method on Frame to create a `detach` frame for transmission, and another to process an incoming `detach` frame.  Modify Session as needed to manage link shutdown and handle reclamation.  Should log any error in the incoming detach frame.

[2014-10-09 23:02] noodlefrenzy opened #11 "Frames: Flow Frame"
Factory method on Frame to create a `flow` frame for transmission, and another to process an incoming `flow` frame.  Should modify Link class (or appropriate) to manage flow control.  Talk with EventHub folks to determine which flow-control mechanisms they use and prioritize support as appropriate.

[2014-10-09 23:05] noodlefrenzy opened #12 "Frames: Transfer Frame"
Factory method on Frame to create a `transfer` frame for transmission, and another to process an incoming `transfer` frame.  This _does not_ encompass the codec of message contents, that's a separate task.  It also _does not_ cover the delivery semantics, which is factored into another task.

[2014-10-09 23:08] noodlefrenzy opened #13 "Frames: Disposition Frame"
Factory method on Frame to create a `disposition` frame for transmission, and another to process an incoming `disposition` frame.  This _does not_ cover delivery semantics, which is factored into a separate task.  It does, however, cover any invocations of methods for the class(es) involved to manage in-flight message state.

[2014-10-09 23:11] noodlefrenzy opened #14 "Manage delivery semantics"
AMQP 1.0 allows a wide range of delivery semantics, including at-most-once, at-least-once, and umm, neither.  This encapsulates all work to manage that state for in-flight messages, and deal with settlement in-flow/out-flow through the processing and sending of ```disposition``` frames.

[2014-10-09 23:13] noodlefrenzy opened #15 "Codec: Decode all simple types"
Process incoming data in `message` frames for all simple data types.  These include all the various integral types as well as UTF8 strings both short and long.  These _do not_ include described types or composite types.

[2014-10-09 23:16] noodlefrenzy opened #16 "Codec: Encode all simple types"
Process outgoing data for all simple data types, and deliver to outgoing `message` frames . These include all the various integral types as well as UTF8 strings both short and long. These _do not_ include described types or composite types.

[2014-10-09 23:20] noodlefrenzy opened #17 "Security: TLS Support"
Must support TLS negotiation prior to connection handshake.  Req'd for EventHub.

[2014-10-09 23:21] noodlefrenzy opened #18 "Security: SASL Support"

[2014-10-09 23:22] noodlefrenzy opened #19 "Codec: Decode described types"
Types with a description prefix should be decoded correctly and passed back to client with description.

[2014-10-09 23:22] noodlefrenzy opened #20 "Codec: Encode described types"

[2014-10-09 23:23] noodlefrenzy opened #21 "Codec: Decode primitive P2 types"
These are primitive types, but are less important for getting a V0.1 out the door.  Examples include but are not limited to GUID.

[2014-10-09 23:24] noodlefrenzy opened #22 "Codec: Encode primitive P2 types"
These are primitive types, but are less important for getting a V0.1 out the door.  Examples include but are not limited to GUID.

[2014-10-09 23:24] noodlefrenzy opened #23 "Codec: Decode complex types"
The full rich tapestry of AMQP 1.0's composite types.

[2014-10-09 23:25] noodlefrenzy opened #24 "Codec: Encode complex types"

[2014-10-09 23:27] noodlefrenzy opened #25 "Handle heartbeat/timeout issues"
Connections have a timeout for both sides.  We should handle sending the appropriate timeout on ```begin```, closing the connection if that timeout expires without activity, and "heartbeating" by sending payload-free data frames on channel 0 to keep the connection open.

[2014-10-09 23:28] noodlefrenzy opened #26 "Delivery and Message Annotations: EventHub"
Whatever delivery and message annotations are required to support EventHub.

[2014-10-09 23:29] noodlefrenzy opened #27 "Delivery and Message Annotations: General Support"
General API-level support for specifying delivery and message annotations at connection time, and overriding them on a per-message basis.

[2014-10-09 23:31] noodlefrenzy opened #28 "Transaction Management"

[2014-10-10 16:54] #15 closed, assigned to noodlefrenzy

[2014-10-10 21:02] #1 closed, assigned to noodlefrenzy

[2014-10-16 18:00] #20 closed, assigned to noodlefrenzy

[2014-10-16 18:00] #19 closed, assigned to noodlefrenzy

[2014-10-17 00:06] #16 closed, assigned to noodlefrenzy

[2014-10-28 16:45] #4 closed, assigned to noodlefrenzy

[2014-11-04 22:31] #24 closed, assigned to noodlefrenzy

[2014-11-04 22:31] #23 closed, assigned to noodlefrenzy

[2014-11-04 22:33] #5 closed, assigned to nobody

[2014-11-05 02:04] #6 closed, assigned to nobody

[2014-11-11 16:58] #9 closed, assigned to nobody

[2014-11-11 16:58] #7 closed, assigned to nobody

[2014-11-11 16:58] #8 closed, assigned to nobody

[2014-11-11 16:59] #10 closed, assigned to nobody

[2014-11-11 17:00] noodlefrenzy opened #29 "Frames not setting channel on encoding"
In testing with ActiveMQ, looks like Begin frame was not getting channel set appropriately.  Two issues: I didn't have a test to catch that, and the actual issue itself.

[2014-11-11 18:11] #29 closed, assigned to noodlefrenzy

[2014-11-11 21:07] noodlefrenzy opened #30 "Misunderstanding of how sessions are established requires slight refactor"
I was expecting BEGIN[CH=1] => ... to lead to ... <= BEGIN[CH=1, remote-channel=5]

But it's actually: BEGIN[CH=1] => ... and ... <= BEGIN[CH=5, remote-channel=1]

Just need to switch around the processing.

[2014-11-12 06:02] #30 closed, assigned to nobody

[2014-11-14 01:05] #11 closed, assigned to nobody

[2014-11-14 01:08] #12 closed, assigned to nobody

[2014-11-25 05:34] #18 closed, assigned to nobody

[2014-11-25 05:34] #17 closed, assigned to nobody

[2014-11-25 05:34] #3 closed, assigned to nobody

[2014-11-25 05:35] #2 closed, assigned to noodlefrenzy

[2014-12-02 18:55] #13 closed, assigned to nobody

[2014-12-02 18:56] noodlefrenzy opened #31 "Session-level flow control"
Need to track session-level flow-control primitives (nextIncoming/outgoing/windows) and deal with violations appropriately.

[2014-12-02 18:57] noodlefrenzy opened #32 "Link-level flow-control"
Need to track link-level flow-control primitives (link credit, primarily) and deal with violations.

[2014-12-02 18:59] noodlefrenzy opened #33 "Expose Flow-control management"
How do clients of the node module manage flow control?  They need to be able to tweak windows, bump recv link credit.  Should they be able to internally queue messages for sending even when there's no link credit/window left?

[2014-12-18 21:55] noodlefrenzy opened #34 "Trying to access beyond buffer length"
"Trying to access beyond buffer length" coming out of my code A LOT.  Need to fix.

[2015-01-28 15:30] noodlefrenzy commented on #34
Fixed a while back, forgot to close issue.  Problem with me using size vs. length in CircularBuffer.

[2015-01-28 15:30] #34 closed

[2015-01-28 15:32] #26 closed

[2015-01-28 15:32] #27 closed

[2015-01-28 15:33] noodlefrenzy commented on #14
Not needed for any of the initial clients, as they all support auto-settle.

[2015-01-28 15:34] noodlefrenzy commented on #32
Now sending and processing flow frames correctly.

[2015-01-28 15:34] #32 closed

[2015-01-28 15:35] #31 closed

[2015-01-28 15:36] noodlefrenzy commented on #33
I've lumped this into the policy management, but there may be additional tweaks required here.  So far, I'm not exposing any method for adjusting the policy once things are in motion, and that might be required.  We'll return to this as and when clients need it.  For now, closing.

[2015-01-28 15:36] #33 closed

[2015-01-28 15:37] noodlefrenzy commented on #25
Initial heartbeat implementation is complete, but I haven't yet tested it with the various servers out there.  Need to do that before I can count it as closed.

[2015-01-28 15:59] mcollina opened #35 "Copying buffers is slow"
Copying buffers is slow in node (and maybe everywhere else), so I suggest using [bl](http://npm.im/bl) which does almost the same thing of CircularBuffer but instead maintains the original `Buffer` objects without copying them.

cc @teomurgi

[2015-01-28 18:19] noodlefrenzy commented on #35
Yeah, when I first took a dependency on CircularBuffer I assumed they were using a buffer list internally (because that makes sense, right?).  Only later did I dig in and find out the awful truth.  It's been on my list to think about replacing it, so thanks for the recommendation, I'll check into it.

[2015-01-29 19:35] noodlefrenzy opened #36 "Send/Receive in AMQPClient should accept full address, do connect"
Make it easier to just pick up and use the API in the common case of just a sender/receiver.  Also make integrating with node-sbus easier.

[2015-01-29 19:38] noodlefrenzy opened #37 "AMQPClient should support more than one connection"
Would be nice if, once send/receive supported URIs and not just source/target, we could manage multiple connections to different hosts from a single client (e.g. rx from bus1, tx to bus2).

[2015-01-29 19:47] #36 closed

[2015-02-02 10:03] ltozi opened #38 "npm install throws error"
Hi,

I tried to install this module with npm but I have this error caused by CircularBuffer module.

![npm install error](https://cloud.githubusercontent.com/assets/10612162/5998717/ddeafb80-aaca-11e4-8b73-bfd05e7c6622.png)

[2015-02-02 14:44] ltozi opened #39 "Connection inactive for a long time"
A listener inactive for a long time gives this error:

Error Connecting:
{ descriptor: [Int64 value:29 octets:00 00 00 00 00 00 00 1d],
  value: undefined,
  condition: { contents: 'amqp:connection:forced' },
  description: 'The connection was inactive for more than the allowed period of time.',
  errorInfo: null }

Is it possible to increase the allowed period of time for a certain connection?

[2015-02-02 15:57] teomurgi commented on #39
Is this related to ![issues/25](https://github.com/noodlefrenzy/node-amqp-1-0/issues/25)? This is quite important, in my opinion

[2015-02-02 16:35] noodlefrenzy commented on #38
Yikes!  Sorry, that's terrible.  I was able to do an install (npm v 1.4.1, windows), so I'm wondering if npm v1.3 doesn't like direct github dependencies (e.g. "module": "user/module" in package.json).

I have a direct dependency on my own fork of CircularBuffer because they haven't accepted a PR for a bugfix I've made and republished.  I'll ping them again, and if I don't hear anything back, I'll

[2015-02-02 16:38] noodlefrenzy commented on #39
This is definitely related to the open heartbeat issue.  I chose to publish before fixing it so folks could operate short-lived (proof of concept) or highly active (perf testing) connections right now, but I'm expecting to have the heartbeat issue resolved in the next day or two.  The code is mostly there )HeartbeatFrame implemented, policy defined), just need to ensure it gets wired into the corr

[2015-02-02 16:46] teomurgi commented on #39
ok thanks!

[2015-02-02 17:01] ltozi commented on #38
Ok, great!

[2015-02-02 17:08] ltozi commented on #39
Great

[2015-02-02 19:37] noodlefrenzy commented on #39
I've added heartbeating and tested it, pushed v0.0.3 to npm.

Let me know if you run into any issues.

[2015-02-02 19:37] #39 closed

[2015-02-02 19:38] #25 closed

[2015-02-04 17:22] #38 closed

[2015-02-04 19:06] ltozi opened #40 "Messages not received"
Hi,
It seems that messages bigger than 350 bytes are sent but not received. Is there some size restriction on outgoing messages or I'm missing a particular policy in the receive method?

Thanks

[2015-02-04 20:45] noodlefrenzy commented on #40
There is a size restriction of 10k bytes (set in the PolicyBase class - you can override it on construction if you want).

However, I just ran my own test with a message slightly less than 10k through EventHub and was seeing a decoding error, so there might be a decoding issue.  I'm looking into it.

[2015-02-04 23:46] noodlefrenzy commented on #40
Hey there, it looks like it was a bug in the way I was encoding large buffers :(  I had a copy-paste issue where large buffers were getting encoded with 0xA0 instead of 0xB0.  I've added a unit-test to ensure the problem is (and remains) resolved.

Please try again, and reopen if you still see a problem.

[2015-02-04 23:46] #40 closed

[2015-02-05 09:18] ltozi commented on #40
Ok! It works!

[2015-02-05 16:36] noodlefrenzy opened #41 "Simultaneous initial send can spawn multiple links"
Issue with send not realizing link is under construction and deferring until link is attached rather than spawning its own.  Won't happen if link is already established.

[2015-02-05 16:37] noodlefrenzy commented on #41
Fixed in 0.0.6 and published.

[2015-02-05 16:37] #41 closed

[2015-02-06 11:50] ltozi opened #42 "Reusing client connection to send messages"
"node-amqp-1-0 version 0.0.6"

I initialize and store client connection at my program startup because I need to call client.send() quite often but after some minutes of  inactivity  I receive this error while performing send again:

"Cannot call method 'write' of null" (lib/connection.js - line 330)

Should I perform a connection for every send or I must set some hearthbeat?

Thanks

[2015-02-06 16:23] noodlefrenzy commented on #42
The heartbeat should be being sent by my code, so you shouldn't need to do anything.  I'll investigate.  Are you connecting to EventHub (e.g. vs. ActiveMQ or another AMQP server)?

Also, I've done a few bug fixes since 0.0.6 - I'm on 0.0.8 now.  Might want to try a fresh npm install and see if the problem still occurs.

[2015-02-06 16:32] ltozi commented on #42
This is the core of a workaround I made to solve the problem but it doesn't seem to work:

[code]

I receive an error on reconnecting the same instance:

"The connection was inactive for more than the allowed period of time. TrackingId:dd2d628a20cc4e86a60f47c7fec98a60_G32,TimeStamp:2/6/2015 4:14:19 PM"

This means I must create another instance in order to make it work again?

[2015-02-06 16:34] ltozi commented on #42
node-amqp-1-0 updated to 0.0.8 but problem still persist

[2015-02-06 16:40] ltozi commented on #42
Sorry, I forgot to tell you I'm connecting to a service bus queue

[2015-02-06 16:43] noodlefrenzy commented on #42
Ok, thanks!  I'm testing it out on EventHub right now, I'll check queues next if this works (but hopefully I'll run into the same issue you are).

[2015-02-06 16:51] ltozi commented on #42
Great! I provide you other informations that can help you find the problem. The client instance I mentioned above is only used for sending messages.

Instead, each listener I instantiate has a separate client instance on which receive() method is called. In this case I confirm that your hearthbeat works as expected and the error of connection timeout is disappeared.

[2015-02-06 16:54] noodlefrenzy commented on #42
The code I'm trying against EventHub is send-only, looks like:

[code]

So it's basically starting at a 10-sec delay and doubling until I see the problem.  So far it seems to be coping (160 secs).  Do you have any information on how long a delay you have between sends before the problem manifests?

[2015-02-06 17:26] ltozi commented on #42
I cannot tell the exact delay. I noticed that it took about 10 minutes
since a I stopped sending messages.

Il giorno 17:54 Ven 06/Feb/2015 Michael Lanzetta <notifications@github.com>
ha scritto:

[2015-02-06 17:36] noodlefrenzy commented on #42
Ok, works on EventHub up to 1280 seconds (at which point I stopped the test).  Testing on SB queues now.

[2015-02-06 18:04] noodlefrenzy commented on #42
Interesting!  At about 9-10 minutes, like you were saying, the queue connection spit out the following error:

[code]

I'll take a look at why this isn't getting propagated back to the client, and why I don't re-start the link when it shuts down like that.  But I'll also see if I can find a smaller test-case and send it on to the ServiceBus team.

Thanks for helping me hunt this down, and for your

[2015-02-06 19:31] noodlefrenzy commented on #42
I've just published a new version on npm (0.0.9) that should mitigate this issue.  When it gets the DETACH frame above, it logs the error to the console, tears down the link, and then on the next send it'll re-attach.  I've verified that this works against ServiceBus queues, watching it rebuild the link after an error.  Please let me know if you still have problems, and in the meantime I'll follow

[2015-02-09 03:12] hverma11 opened #43 "Not able to send the message after successful connection to Jboss ActiveMQ via ampq"
HI,
 I have JBoss AMQ running locally with following connector configuration :
     transportConnector name="amqp" uri="amqp://0.0.0.0:5672

I am trying to send a message using node-amqp-1-0 :+1 in nodeJs:
var client = new AMQPClient(); // Uses PolicyBase default policy
client.connect('amqp://admin:admin@localhost/sqrQueue', function(conn_err) {
  // ... check for errors ...
  client.send(JSON.str

[2015-02-09 03:38] noodlefrenzy commented on #43
Hey there, sorry, I haven't tried it with JBoss AMQ yet, I'll try and run it tomorrow and see if I can diagnose the issue.

In the meantime, you could try setting the environment variable ```DEBUG=amqp10*``` and see if the output has any obvious errors (but prepare for a lot of data).

[2015-02-09 13:44] ltozi commented on #42
Hi Mike,

as you suggested, I set the DEBUG variable and it seems that the Detach problem still persist:
![detach frame error](https://cloud.githubusercontent.com/assets/10612162/6105826/c67689b0-b05b-11e4-91b5-5ff3685d6090.png)

Anyway, now I can temporary solve the problem by recalling connect() on my service instance, as written some poste above (is this the right way ?). In this way, the clien

[2015-02-09 16:38] noodlefrenzy commented on #42
Have you ```npm install```ed my latest code?  In that code I've mitigated this behavior by re-attaching the link when it detaches (and watched it in action) - I'll test that mitigation again today and get back to you with any details.

As for the behavior itself, according to the ServiceBus team this is expected behavior - they drop the link, but not the connection, after a certain period of inact

[2015-02-09 17:28] ltozi commented on #42
Yes, I updated to the latest version 0.0.10

[2015-02-09 17:57] noodlefrenzy commented on #42
Hmm, this might be expected behavior - did you try and send another message _after_ it had detached?  I basically don't re-attach the link until it's demanded.

[2015-02-09 21:51] noodlefrenzy commented on #42
I've verified it on my side - it'll detach the link, leave it detached, then reattach on the next send call.

Also, though, after ~20 minutes ServiceBus kills the connection entirely, so I've added logic to harvest all the links and re-connect when the next send/receive happens - please update to 0.0.11 and try again, and definitely try sending once the link gets detached to verify the re-attach b

[2015-02-09 21:56] noodlefrenzy commented on #43
Hey! I just tested this out with JBoss AMQ after setting it up to talk AMQP via https://access.redhat.com/documentation/en-US/Red_Hat_JBoss_A-MQ/6.1/html/Client_Connectivity_Guide/AMQP.html#AMQP-Start

I saw some strange behavior, where JBoss was only sending a _single_ link credit at a time, and my internal canSend method had an off-by-one error that I'd never seen before because no other server

[2015-02-09 21:56] #43 closed

[2015-02-09 22:37] hverma11 commented on #43
Perfect ! Thanks for fixing and it is working fine now.

Cheers!

[2015-02-09 22:40] noodlefrenzy commented on #43
Great!  Glad to hear it!  Let me know if you run into other issues, especially with the disposition problem I mentioned above - I'm a bit worried about that behavior (since it's off-spec on their part).

[2015-02-10 02:19] noodlefrenzy commented on #14
Note that JBoss AMQ seems to support auto-settle, but when you check the queue size it still shows the "settled" messages.  It doesn't re-deliver them, but it might pose a resource problem if it's holding them in memory.  This might require at least the delivery of Disposition frames, even if the full delivery semantics aren't implemented.

[2015-02-10 16:03] ltozi opened #44 "Receiver stops dequeueing messages in case of big queue length"
It seems that receiver stops its receive activity when a lot of messages are pending inside queue. I noticed this during stress test, sending a message per second.

Is this probably the expected behavior when the amqp client detects possible memory leak?

[2015-02-10 16:15] noodlefrenzy commented on #44
No, I'll check into it - I'd seen it stop temporarily as the server delays sending additional messages, but I hadn't seen it stop entirely.  It could be an issue with me sending subsequent "Flow" frames to keep up the traffic when under duress.

[2015-02-10 16:15] ltozi commented on #44
This is an error found inside logs during our stress test. After some load (a message per second) it seems that receiver stops its activity:

{ descriptor: [Int64 value:29 octets:00 00 00 00 00 00 00 1d],
      value: undefined,
      condition: { contents: 'amqp:link:detach-forced' },
      description: 'The link \'2818003:mqtt_publish_dev_RX\' is force detached by the broker due to errors occurr

[2015-02-10 16:29] ltozi commented on #42
Ok now works! Thanks!

[2015-02-10 20:12] noodlefrenzy commented on #44
I found one issue, where it looks like I might have misunderstood the spec (it says "link-credit: the current maximum number of messages that can be received", and I assumed this is the _current_ link credit, and not the _maximum over all time_ link credit).  Anyway, looks like the EventHub folks interpreted that differently, so as soon as I sent a flow frame with link-credit == _the number of mes

[2015-02-10 21:49] noodlefrenzy commented on #44
Hey, so I just pushed 0.0.12 - I successfully ran through 10k sends at 2/sec, with all successfully received - all via EventHub.

Closing this, but _please_ reopen and let me know if you still have issues.  I'm following up with the EventHub team on at least one issue I was seeing with them.

I'm also starting a similar test with ServiceBus queues shortly to ensure it resolves any similar issues w

[2015-02-10 21:49] #44 closed

[2015-02-10 22:39] noodlefrenzy commented on #44
I'm up to 5000 messages without a problem - my guess was I was hitting the same issue as with EventHub, and then the link just timed out.

[2015-02-10 23:27] #42 closed

[2015-02-11 14:34] ltozi commented on #44
Nice job! I run the test again with the latest version and the problem is gone.

Thanks,
Luigi

[2015-02-11 16:35] noodlefrenzy commented on #44
Fantastic!  Glad to hear it!  As always, let me know if you run into any other issues, and thanks for being patient with me :)

[2015-02-12 09:05] ltozi opened #45 "Error: Out of available handles (Max = undefined)"
Hi,
After 1 day of inactivity the client gave us this error while performing send again :

[code]

cc @teomurgi

[2015-02-12 15:18] noodlefrenzy commented on #45
What the... that's weird.

So you sent some messsages, then left it idle for a day, then tried to re-send?  How many times did you go through this send/idle/send cycle?

Sorry for the trouble, I'm looking into it!

[2015-02-12 17:02] ltozi commented on #45
Sorry for the poor informations, but it's a bit difficult to reproduce. I
try to recap the scenario:

I have an instance of AMQPClient that I use only to send messages. There is
a situation where a lot of sends are made in a a loop of five messaegs in
series.

If I'm right,  you try to reset the connection on the first new send
attempt and probably the remaining sent messages cause troubles while

[2015-02-12 17:21] noodlefrenzy commented on #45
Ok, thanks for the details.  I'm testing out a potential fix, but obviously it takes a while to reproduce so it might be a bit :)

[2015-02-12 21:21] noodlefrenzy commented on #45
I'm really having a problem reproducing this one.  Can you just confirm to me what version you're running against?

I've run the following program:

[code]

Which basically, given the right settings file, will connect to a queue, send 5 messages, then wait long enough to ensure it gets disconnected, send 5 more, then wait twice as long, ...

I've run it until the secsUntilSend got to 5120, with no

[2015-02-13 16:23] ltozi commented on #45
I'me running the latest version. Anyway, is a bit difficult (as you said
too ) to reproduce the problem. I'll try ASAP to let you know other
informations.

Thnks

Il giorno Thu Feb 12 2015 at 22:21:39 Michael Lanzetta <
notifications@github.com> ha scritto:

[2015-02-13 17:56] noodlefrenzy commented on #45
Ugh, my worst nightmare - a bug you have that I can't reproduce!  I'll keep trying, and in the meantime I'll do another code walkthrough to see if I can figure out where things are going wrong.  If you could send me a gist of your code or point me to a bitbucket or github repo, that would we useful.

[2015-02-13 21:56] hverma11 opened #46 "Is node-amqp-1-0 supports the exchanging of messages from Jboss Active MQ topic?"
I am planning to implement the pub/sub messaging framework from client to Services via Jboss Active MQ.
Before heading to use topics for exchanging the messages , I just want to know the compatibility of Topics with node-amq-1-0. I already tried with queue , it is working fine but wants Topic now.

Please share the inputs.

[2015-02-13 22:19] noodlefrenzy commented on #46
I haven't used JBoss AMQ's Topics before, and not with this library, but I've used the Topics within Azure ServiceBus without a problem.  If you have any issues, please don't hesitate to open a bug.  If you're not starting for a while, I might have a chance to try it out myself early next week, but I'm slammed with other work today, sorry.

[2015-02-17 22:37] hverma11 commented on #46
Hi, I tried using the topics but it always create the producers and consumers under queue in JBoss ActiveMQ.

Can you please have alook and confirm the exact usage ?

[2015-02-17 23:35] hverma11 opened #47 "Not able to parse the response in receive"
I can see my payload in the queue @ JBoss Active MQ i.e.
bytes:
5b 7b 22 69 64 22 3a 31 2c 22 74 69 74 6c 65 22 3a 22 74 69 74 6c 65 22 2c 22 63 72 65 64 69 74 73 22 3a 33 33 2c 22 63 6f 6e 74 65 6e 74 22 3a 22 6a 74 79 6a 22 2c 22 6c 65 76 65 6c 73 22 3a 31 2c 22 71 75 61 6c 69 66 69 63 61 74 69 6f 6e 54 79 70 65 22 3a 31 2c 22 65 6e 74 72 79 52 65 71 75 69 72 65 6d 65 6e 74 73 22 3a 22 6a 79 74

[2015-02-18 00:24] hverma11 opened #48 "JBoss ActiveMQ Topics not working"
Hi, I tried using the topics but it always create the producers and consumers under queue in JBoss ActiveMQ.

Can you please have alook and confirm the exact usage ?

[2015-02-18 11:28] noodlefrenzy commented on #46
It may take me a bit - I'm out of the country this week, but I'll look as soon as I get back.

[2015-03-02 23:47] hverma11 commented on #46
Hi noodlefrenzy,

 Hope you are back. Did you get chance to look into the above mentioned issue.

[2015-03-02 23:47] hverma11 commented on #48
Hi noodlefrenzy,

 Hope you are back. Did you get chance to look into the above mentioned issue.

[2015-03-02 23:48] hverma11 commented on #47
Hi noodlefrenzy,

 Hope you are back. Did you get chance to look into the above mentioned issue.

[2015-03-09 18:48] noodlefrenzy opened #49 "No support for SAS signatures for EH connections"
Need to discuss internally how to exchange with EH AMQP server implementation.

[2015-03-12 08:54] santanubasu opened #50 "Removing received messages from queue"
When used with apache activemq, the amqp client does not seem to cause received messages to be removed from the queue, even when the policy sets the receiver settle mode to auto.  I think you may have touched on this in one of your caveats on the project page, but is there a workaround for this at the moment?

[2015-03-14 16:31] mbroadst commented on #48
@hverma11 you need to use the (sort of weird) activemq uri syntax for topics, like so:

[code]

[2015-03-14 20:03] #35 closed

[2015-03-17 02:17] mbroadst commented on #47
@noodlefrenzy I think its safe to close this for the moment, I've been using the library with ActiveMQ daily and the migration to node-bl seems to have fixed it.

[2015-03-17 02:19] mbroadst commented on #46
@noodlefrenzy I think this can be closed as well, I've answered the question on @hverma11 's other issue, and can confirm that the library does indeed work with topics in ActiveMQ

[2015-03-17 02:58] noodlefrenzy commented on #47
Great, thanks!

[2015-03-17 02:58] #47 closed

[2015-03-17 02:59] noodlefrenzy commented on #46
Thanks for verifying.  Closing.

[2015-03-17 02:59] #46 closed

[2015-03-24 11:01] buzzfrog opened #76 "Get the following error in lodash/index.js when running on a tessel device"
This is probably not a fault in your  library.

[string "colony-node.lua"]:1: /app/node_modules/amqp10/node_modules/lodash/index.js:627: function at line 627 has more than 200 local variables

/dag

[2015-03-29 12:10] mbroadst commented on #76
@buzzfrog that seems weird, are you running it through some kind of linter? Where does the error originate from?

[2015-03-30 15:25] noodlefrenzy commented on #76
Basically the Tessel (similar to the Pi) runs the Javascript through a Lua interpreter, and that Lua interpreter has some limitations.  Not being able to support Lodash is a big bummer, though, as so many modules use it :(

[2015-03-30 15:49] mbroadst commented on #76
@noodlefrenzy hmm https://github.com/tessel/runtime/issues/682

Looks like they are focusing more on Tessel 2? This is truly unfortunate..

[2015-04-22 09:06] veselov opened #81 "Connection callback is never executed"
With this simple code:
[code]

the only output is `connect scheduled`. The strace shows:
[code]

So, the AMQP conversation ended, and most likely unsuccessfully, but call back was never executed with either success or error.

For info, this is trying against qpidd.
node v0.10.32
amqp10 1.0.2

[2015-04-24 18:19] noodlefrenzy commented on #81
Hey, sorry for the lag in getting to this issue - I have the flu and I'm a bit out of it.  This definitely looks like an invalid response from qpidd, but as you said at the very least I should be calling the callback with an error in that case.

Have you tried running with your DEBUG env var set to "amqp10-*"?  That should output all of the details from my library as to what it's trying to do.

In

[2015-04-26 07:18] veselov commented on #81
No rush :)
You are right - the reason the library can't connect is legitimate. But callback is not called. I played around with this, and it seems that callback is not called for simpler problems as well.

broker isn't even running:

[code]

broker reports unsupported version:

[code]

[2015-04-27 07:32] midramas commented on #50
I'm facing the same issue. No acknowledgment is sent to the broker and therefore after 100 message no messages are received anymore :( Is there something you can do, because the only other option would be for me to add this functionality and I'm really not that good in JS ;)

[2015-04-27 19:07] noodlefrenzy commented on #81
I was failing to trigger an error event on certain cases in connection.js (probably more information than you wanted).  I've just published an update (1.0.3) - let me know if that solves your issue.

[2015-05-01 17:00] noodlefrenzy commented on #81
Closing. Feel free to reopen if I didn't actually fix it, but I believe I have.

[2015-05-01 17:00] #81 closed

[2015-05-01 17:02] noodlefrenzy commented on #50
Ugh, ActiveMQ can bite my ass.  I just modified the code to send Disposition frames accepting messages, and it STILL doesn't consider them acknowledged and stops after 100.

Sorry, it'll take me a bit longer to figure out what it's complaining about and how to fix it.

[2015-05-04 08:08] midramas commented on #50
Thanks for trying! Would be really great for this work as we are using it in a very important project.

[2015-05-04 15:25] noodlefrenzy commented on #50
I've started working on it in the 'send-dispo-frames' branch, in case you want to follow along.

[2015-05-06 07:55] veselov commented on #81
Thank you! Works fine for me in 1.0.3 :+1:
Sorry it took me a while to check this out.

[2015-05-13 20:06] groeneveld opened #82 "Client stops receiving messages after 100 messages."
The connection is still open though. Restarting the program resets the "counter" to 0. I am using a very simple implementation.
[code]
I left out my error checking and message processing stuff. I found some "100" constants in the source code but am not sure of their meaning.

[2015-05-13 23:27] #48 closed

[2015-05-20 20:35] mbroadst commented on #82
@groeneveld can you provide information on what broker you're using, or any specific connection options you are using? I've run benchmarks with this lib against rabbitmq (with the amqp1.0 plugin), as well as qpid with messages counts up to 1M and not run into this issue.

[2015-05-20 21:48] mbroadst opened #83 "call for documentation on message properties"
Surprised I haven't run into this earlier, but how exactly does one specify message properties? Are they just batched in with the annotations parameter of send? Annotations seems a little non-specific, as it could be delivery annotations, message annotations, or properties (?). Just wanted to open the floor for discussion here :smile:

[2015-05-21 03:03] mbroadst commented on #83
Looks like [Message](https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/types/message.js#L351) already supports them, but there's no way to really send them since the AMQPClient's [send](https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/amqp_client.js#L237) creates its own every time. Perhaps it would be better to allow the first value "msg" to be either an object/text or an ins

[2015-05-21 03:06] mbroadst opened #84 "can't send to address with a subject"
I'm trying to integrate with QPID's QMF2, which requires that messages be sent to a broker with the given address: "qmf.default.direct/broker". This totally fails with node-amqp10, whereas if I chop off the trailing "/broker" it completes (but obviously does not do what I want it to do, because its not going to the right place :smile:). That's all I've got for now, I'm mostly just leaving these up

[2015-05-21 09:07] midramas commented on #82
I guess it's the same problem I have with the "not acknowledged" messages. After restarting the program the broker (ActiveMQ) send the same 100 messages again, because they aren't acknowledged yet :)

[2015-05-21 16:37] groeneveld commented on #82
This is my entire setup, minus the payload processing bits and credentials. I'm talking to the server admin and I'll get back with what he says.
[code]

[2015-05-21 16:41] mbroadst commented on #82
@midramas it really depends on how your sending, as well as the configuration of the broker. IIRC node-amqp10 defaults to auto-settle, so you shouldn't be receiving those issues afaict. ActiveMQ follows some pretty strange proprietary rules however so we can't count on the same behavior in that case it seems :smile:

@groeneveld it looks like you're connecting to ActiveMQ or JBoss maybe? Getting i

[2015-05-21 16:46] noodlefrenzy commented on #83
I like that idea.  I was trying to divorce the clients from having to know anything about the underlying implementations at all, really, but perhaps I went too far.  It seems like allowing clients to pass in a built Message object gives clients who need that flexibility the ability to use it, while not harming existing clients.

[2015-05-21 16:48] noodlefrenzy commented on #82
ActiveMQ is not AMQP-1.0 compliant, as far as I can tell.  It ignores "auto-settle", and I've modified a branch to send Disposition frames per message to explicitly settle them and it ignores those too. I'm still trying to figure out how exactly we're failing to communicate, but it's pretty clearly violating spec on this one.

[2015-05-21 16:51] midramas commented on #82
@mbroadst If you are interested the thread for this is here https://github.com/noodlefrenzy/node-amqp10/issues/50

[2015-05-21 17:42] groeneveld commented on #82
This is from my broker's log. It looks like I have an acknowledgement problem too.

WARN  | TopicSubscription: destinations=1, dispatched=100, delivered=0, matched=101, discarded=0: has twice its prefetch limit pending, without an ack; it appears to be slow | org.apache.activemq.broker.region.TopicSubscription | ActiveMQ Transport: tcp:///ip:port@port

[2015-05-23 21:40] mbroadst commented on #84
this now works with the inclusion of properties support, one can now specify a "subject" in message properties on send.

[2015-05-23 21:40] #84 closed

[2015-05-23 21:44] mbroadst opened #93 "update documentation/examples for v2.0.0"
- [x] documentation must explicitly use the promisified api
- [x] examples must explicitly use the promisifed api
- [x] api documentation must be updated to reflect promisified api changes, as well as changes to e.g. client.send now taking an "options" array. (this seems more like API documentation must be regenerated as I have mostly been updating the inline docs as I've submitted PRs)
- [x] add

[2015-05-26 12:27] mbroadst commented on #83
fixed in #87, options (including annotations, properties, and application properties) are able to be passed into the send method now, as well as passed back with the receive callback

[2015-05-26 12:27] #83 closed

[2015-05-27 02:26] mbroadst opened #96 "correlation id is not coerced to supported type"
Currently node-amqp10 allows sending correlation ids (part of message properties) of types unsupported by the spec. We should only allow the values to be of type: uint, ulong, binary or string, and perhaps coerce to string by default.

[2015-05-27 20:34] noodlefrenzy opened #97 "Messages with multiple body elements should be supported"
AMQP allows multiple payloads in a message, we should support it.  Right now we decode the first and return it.

[2015-06-02 15:02] mbroadst opened #98 "reconnecting continuously registers listeners, causing a leak"
reference: https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/amqp_client.js#L595

When a client cannot connect to a server a reconnect attempt is made, and en event listener is registered for the SessionMapped event. If the reconnect fails, this is called again and listeners keep building up.

[2015-06-05 15:19] Romanx opened #101 "Azure Topic Receving - Acknowledgement"
Hey,

I've been playing with this library using azure service bus topics and haven't been able to find a way to acknowledge messages once I've processed them to avoid loosing messages.

Is there currently any method in place to do this? The Azure node library has *peekLock* which gets the message and locks it until you use *deleteMessage* yourself.

Thanks,

[2015-06-05 15:42] noodlefrenzy commented on #101
In the "Caveats and Todos" I mention:

Currently the policy is set to auto-settle by default (so you shouldn't see repeats, but can't "peek-lock"). AMQP has no built-in "peek-lock" but is instead a combination of not auto-settling, and sending disposition frames on completion. I've added code to allow sending of disposition frames (primarily to try and cope with ActiveMQ's bad behavior), but haven

[2015-06-05 15:45] noodlefrenzy commented on #37
This is really not worth supporting - they can just instantiate multiple clients.

[2015-06-05 15:45] #37 closed

[2015-06-05 15:45] noodlefrenzy commented on #22
UUID is now supported. Decimalxxx aren't needed.

[2015-06-05 15:45] #22 closed

[2015-06-05 15:46] noodlefrenzy commented on #21
UUID is now supported. Decimalxxx aren't needed.

[2015-06-05 15:46] #21 closed

[2015-06-05 15:46] mbroadst commented on #37
yeah I wondered why you had this, it works quite well with multiple instances of AMQPClient :smile:

[2015-06-05 16:07] noodlefrenzy commented on #37
My mind works in mysterious ways.

[2015-06-08 07:32] Romanx commented on #101
Hey, I read that but didn't entirely understand that it related to this. Thank you for clarifying and I'll look forward to the progress :)

[2015-06-11 17:43] ZECTBynmo commented on #81
@veselov what was the cause of your version mismatch? I'm experiencing the same thing

[2015-06-11 17:49] mbroadst commented on #81
@ZECTBynmo my guess is that you don't have AMQP 1.0 support enabled for qpidd (you need to build qpidd with proton, the default ubuntu packages have this enabled). Out of the box qpidd opts to use AMQP 0-10

[2015-06-11 18:00] ZECTBynmo commented on #81
Thanks @mbroadst ! How can I enable 1.0 support?

[2015-06-11 18:03] mbroadst commented on #81
@ZECTBynmo well this is getting into qpid support territory, but first you'd have to tell me what distro your running on, as well as what version of qpidd

[2015-06-11 18:13] ZECTBynmo commented on #81
I really appreciate the help @mbroadst

I'm running on a vagrant vm with CentOS release 6.5 (Final)
I'm not sure how to figure out exactly which version of qpid I have installed, but I just yesterday with:
[code]

[2015-06-11 18:16] mbroadst commented on #81
```qpidd --version``` will help here

[2015-06-11 18:16] ZECTBynmo commented on #81
qpidd (qpidc) version 0.14

[2015-06-11 18:17] mbroadst commented on #81
@ZECTBynmo that's an incredibly old version, I've only been testing our library against 0.32 (and 0.28 for a little bit, but considerably less time spent there)

[2015-06-11 18:18] mbroadst commented on #81
not sure where to point you exactly (other than their irc channel #qpid, or the mailing list), but its developed mostly by redhatters iirc so you should be able to get updated packages

[2015-06-11 18:19] ZECTBynmo commented on #81
Ohh okay that makes sense then. Thanks for your help!

[2015-06-11 18:21] mbroadst commented on #81
@ZECTBynmo also, to explicitly enable amqp 1.0 you can pass ```--protocols amqp1.0``` to qpidd. If you also pass ```--log-enable debug+``` you can see if there's a message about loading the amqp1.0 module. Again, there have been countless fixes and improvements since 0.14 so I recommend first and foremost you update to that

[2015-06-11 18:23] ZECTBynmo commented on #81
You're the man @mbroadst !

[2015-06-18 08:31] jacoscaz opened #113 "creditPolicy() stops getting called once link.linkCredit reaches 0"
Hello Michael.

Thank you for your work on this module. I'm implementing a custom `creditPolicy()` for a consumer that, from time to time, needs to throttle incoming messages down to 0 as it's busy dealing with previous ones. However, unless I add at least 1 credit as soon as `link.linkCredit` hits 0, the AMQP client instance stops calling `creditPolicy()` altogether and I find myself unable to th

[2015-06-18 15:24] noodlefrenzy commented on #113
You're right - we only call the window policy when the session window gets modified, and the credit policy when the link credit gets modified, so in your case we'd never call them again.

However, we _do_ call them with the session/link object as a parameters, so you could squirrel that away and call addWindow/addCredits yourself at some later point. I think that's the right way to fix this. Let m

[2015-06-18 19:08] jacoscaz commented on #113
Right. How would you go about this in presence of multiple links?

I haven't had the time to study the internals of your module, yet, but it
looks like a link is created for each channel. Isn't it?

Thanks for your time.

You're right - we only call the window policy when the session window gets
modified, and the credit policy when the link credit gets modified, so in
your case we'd never call the

[2015-06-18 19:43] noodlefrenzy commented on #113
Well, the way AMQP 1.0 works is a single link between each pair of endpoints, and it can only send or receive messages, not both. Multiple links can exist in the same session, though, so my code starts up a single session (on a single _channel_) and starts all links in there (each with their own _handle_).

So if I were e.g. receiving from an Event Hub with 16 partitions, I would have 16 links ope

[2015-06-19 09:48] jacoscaz commented on #113
Thanks Michael, much appreciated. That was extremely helpful. I'll let you know how it goes. Thanks again.

[2015-06-19 11:10] jacoscaz commented on #113
Hello Michael.

I ended up storing links into a map and implementing a variable `creditFactor` multiplier in each link's policy that determines how much of the `creditQuantum` is actually passed to `link.addCredits()`.

The `creditFactor` is decreased on reception and increased each time a message consumer calls the appropriate callback, where an additional call to `creditPolicy()` also takes plac

[2015-06-19 12:03] mbroadst commented on #113
@jacoscaz great to hear, have you by any chance given the master branch a shot? We're working towards a 2.0.0 release, and the more people testing it the better

[2015-06-19 12:25] jacoscaz commented on #113
Not yet but I'll happily see what I can do on my testing system. I'll let you guys know over the next few days.

[2015-06-19 12:32] mbroadst commented on #113
Much appreciated! I'm going to go ahead and close this ticket, please open it again if you run into any issues.

[2015-06-19 12:32] #113 closed

[2015-06-23 17:47] footmarks-skylar opened #115 "Bug fix in amqp_client.js"
We came across an issue while testing out your library on Azure. Adding this check fixed it. Keep up the great work on this library!

Current (line 353):
    if (self._pendingSends[linkName].length > 0) {
        attach();
    }

Fixed:
    if (self._pendingSends[linkName] && self._pendingSends[linkName].length > 0) {
        attach();
     }

[2015-06-23 17:50] mbroadst commented on #115
@footmarks-skylar doh, we caught that in like 4 other locations it seems ;) Thanks for the fix! By the way, have you been using the master branch (i.e. v2.0.0)?

[2015-06-23 17:51] footmarks-skylar commented on #115
Nope I forked off at 1.0.3. What's been updated since?

[2015-06-23 17:54] mbroadst commented on #115
@footmarks-skylar a whole bunch, primarily that its promisified-by-default, improved code coverage, a few changes in public api (recieve => createReceiver), and some other bugs. I'm working on integrating message disposition currently. I don't have access to the npm registry so I can't publish a fix for e.g. 1.0.4, but I'll merge your fix into 2.0.0 presently, and we can wait for @noodlefrenzy to

[2015-06-23 17:55] footmarks-skylar commented on #115
No need. Just apply this to 2 and I'll move up.

[2015-06-23 17:55] mbroadst commented on #115
@footmarks-skylar great, would love more people giving feedback on the 2.0.0 stuff :)

[2015-06-23 17:56] mbroadst commented on #115
fixed in a9953e1e37c09951ea7111dd2d87937df188aa11

[2015-06-23 17:56] #115 closed

[2015-06-23 19:26] footmarks-skylar opened #116 "AmqpOverCapacityError on Azure"
So I merged your latest source with my fork and it was running perfectly until just now (maybe 45 minutes) and I'm receiving this:

AmqpOverCapacityError: Out of available handles (Max = 255)]
  name: 'AmqpOverCapacityError',
  message: 'Out of available handles (Max = 255)' } 'AmqpOverCapacityError: Out of available handles (Max = 255)

Any help on resolutions would be greatly appreciated. Thanks

[2015-06-23 19:41] mbroadst commented on #116
@footmarks-skylar interesting, that's thrown when we run out of session handles when creating a link. Can you describe your use case a little bit here? It seems that maybe you're creating/destroying many links during operation?

[2015-06-24 14:06] #98 closed

[2015-06-24 14:09] mbroadst opened #118 "refactor sender/receiver links"
using this issue to track work for refactoring of links:

#### common
- [x] use uuids for link names
  - [x] remove link caching?

#### receiver links
- [x] introduce AMQPClient.createReceiver(options, callback) for advance link configuration

#### sender links
- [x] introduce AMQPClient.createSender

[2015-06-24 18:51] mbroadst commented on #50
@midramas this should be solved in this [branch](https://github.com/noodlefrenzy/node-amqp10/tree/message-dispositions) which should be merged soon. Please give it a shot and let us know how it works for you. I'm generally working on message disposition, so we should be able to clear up a lot of these issues

[2015-06-25 16:54] footmarks-skylar commented on #116
Yeah, no problem!

Within our node app, we are establishing several amqp secure connections at startup. These are used from logging to auditing within our system and they vary in throughput. I've been attempting to configure the policy's settings slightly adjusted where I feel issues could be related but so far I've not been able to determine this error being thrown. I do see the connection being

[2015-06-26 01:21] mbroadst commented on #116
@footmarks-skylar first of all remember that you can run your app with ```DEBUG=amqp*``` before it in order to get a TON of debug data from node-amqp10. It would be interesting to better understand why your app continuously connects and reconnects. Just to clarify, you're not experiencing this problem with 1.0.3, but instead 2.0.0 (in master), correct?

Perhaps you could provide us with a copy of

[2015-06-26 01:46] footmarks-skylar commented on #116
Yes, you guys did a great job wrapping the debug module +1 but since the issues are occurring only after published and running for several hours, I held off up until this point adding the debug output on the server. Locally I was still able to catch several breadcrumbs that led to my ultimate fix. Using your latest source and adjusting the way I established multiple connections, ended up fixing it

[2015-06-26 11:59] mbroadst commented on #116
@footmarks-skylar okay great! I'll close the issue, please let us know if you experience any other issues

[2015-06-26 11:59] #116 closed

[2015-06-26 12:02] mbroadst commented on #101
@Romanx I'm currently merging in more fine-grained control for message disposition. Currently merged in to master is support for automatic and manual disposition.  You can see some examples (here)[https://github.com/noodlefrenzy/node-amqp10/blob/master/test/integration/qpid/disposition.test.js]. Currently the manual disposition (reject, accept, etc) are a little awkward, but that will be soon reso

[2015-06-26 12:19] Romanx commented on #101
Hey,

Thanks,for getting this done so quickly. I'm currently working on a side project so i'll likely look at this next when the ReceiverLink and SenderLink are implemented.

[2015-06-29 10:51] midramas commented on #50
I've tested it and it works now! Thanks soooo much for that :)

[2015-06-29 11:19] mbroadst commented on #50
cool :)

[2015-06-29 11:19] #50 closed

[2015-07-14 21:22] mbroadst commented on #101
@Romanx ReceiverLink and SenderLinks have been implemented in master, it would be great to get some feedback on what kind of API you would want to see there (as we can't encompass all use cases :smile:).

[2015-07-16 14:42] mbroadst commented on #82
@groeneveld not sure if you're still using this or not, but you might give the master branch a whirl and see if solves your problem. We've implemented basic disposition support which I would guess was the root cause of your issue.

[2015-07-16 14:43] mbroadst commented on #101
@Romanx for an example of manual disposition you can take a look at the disposition.test.js in the QPID integration tests

[2015-07-16 14:51] groeneveld commented on #82
Thanks for the update. I've switched to Stomp though.

[2015-07-16 14:56] #82 closed

[2015-07-31 10:27] markusahlstrand opened #135 "Npm package outdated"
Seems that the npm package is still 1.0.3 and there has been quite a few changes since then. Could you publish the 2.0.0 version?

Thanks

[2015-07-31 12:24] mbroadst commented on #135
Hi Markus,
The 2.0.0 version in master is pretty different than v1.0, and not exactly in a releasable state yet. We've introduced a number of breaking API changes, and want to reserve the right to continue to do that before the release. We're being particular careful with this as the intention is to not make any breaking API changes once released.

If you'd like to use v2.0.0 you can easily change

[2015-08-01 18:13] markusahlstrand commented on #135
Hi Matt,

Thanks for the quick reply.

Then I know the reasoning behind it. Would you consider 2.0 to be ready for production or should I use v1 for now?

Kind regards,
Markus

[2015-08-01 18:16] mbroadst commented on #135
@markusahlstrand well that point is up for debate :smile: I'm currently using it in production, but I'm also able to iterate quickly dependent on bug fixes. So I'm sort of beta-testing the 2.0.0 release currently, and we would absolutely love more people to do this if they are willing. I can say that it's been quite reliable for me so far.

[2015-08-01 18:27] markusahlstrand commented on #135
Ok, then I'll continue to use the 2.0 version.

Thanks

[2015-08-02 19:20] #135 closed

[2015-08-02 20:21] markusahlstrand opened #138 "Response times"
First of all, it's awesome that there finally is a amqp 1.0 library for node.js!

One of the reasons I was eager to try out amqp was that I hoped we would get better latency with amqp than with the Azure Sdk for node (using http). Currently I've been testing with the following setup which gives me a response time of about 100 ms which is a substantial improvement compared to the Azure Sdk even whe

[2015-08-02 20:24] markusahlstrand opened #139 "Connection error"
From time to time the amqp-client throws the following error even though there are no messages being sent at the time:

[code]

Will the client reconnect and I can safely just handle those errors?

Thanks

[2015-08-03 15:15] noodlefrenzy commented on #138
This is ServiceBus queues, right? I'm fairly certain a large chunk of that latency is related to that, I know Matt's run some numbers for other servers and had much better perf and I've run some against EventHub with faster timings. However, I'm also sure we have some slowness in our code (mostly due to my original authorship) - Matt's been doing his best to improve it, but he's obviously focused

[2015-08-03 15:24] markusahlstrand commented on #138
Thanks for the answer. Think I'll go digging a bit on the servicebus side to see if there's something not configured correctly.
I'd be happy to help out to the best of my ability, but the amqp stuff takes a while to wrap my head around.

[2015-08-03 15:54] mbroadst commented on #138
I actually did some quick benchmarks the other day, and while we have lost a little performance up front (for small batches of messages), we have gained some considerable time in the higher numbers. Most of our performance issues (memory and cpu) revolve around a few issues:

  - we use BufferLists instead of directly using node's streams api (I don't see this changing any time soon unless you've

[2015-08-03 15:57] mbroadst commented on #138
Additionally, I think the focus on 2.0.0 right now is to improve the overall usability of the library for a number of different AMQP 1.0 related use cases (like Mike said, I'm _not_ using this for Azure/ServiceBus/EventHub), and then to focus on performance again after all is said and done. As  you can, performance is increasing anyway during this process and hopefully that continues

[2015-08-03 16:00] mbroadst commented on #139
Yeah those errors actually shouldn't be affecting your connections, but either way the current PR up for link attachment refactoring will remove all of these calls. Apologies for the growing pains :smile:

[2015-08-03 16:44] noodlefrenzy commented on #138
Woohoo, those perf numbers are great, Matt! Given that we haven't actually spent any time focused explicitly on perf, that's pretty awesome.

[2015-08-03 16:49] mbroadst commented on #138
For reference, here's the code used for the benchmark (incredibly basic right now, I'm sure we can do much better given a little bit of effort :smile:):

[code]

[2015-08-03 17:08] markusahlstrand commented on #138
As most of the cases it turns out that I've done something pretty stupid in the servicebus config.. I'll fix that and run the same benchmarks with with the servicebus. I'd be really happy if we reach response times in that range with Azure Servicebus.

Thanks

[2015-08-03 18:36] markusahlstrand commented on #138
Ran the benchmark on Azure now with the following results:
[code]

The response times differ quite a bit for each request and are by far not as good as for the results you got with rabbit, but certainly good enough for our use cases. Not sure how much difference it makes to run the mq locally on the machine compared to in the same data center as I did in my test.

An interesting observation is tha

[2015-08-03 18:40] noodlefrenzy commented on #138
With all clients our team has used, we've seen high variance in Azure ServiceBus requests - not just Node. We've talked to the team and they have worked on mitigations to smooth that out, but it's not totally fixed. I think they might be moving it to a backend more similar to EventHub in the future to make it even more dependable w.r.t. latency, but that's just hearsay, don't quote me on it. :)

[2015-08-03 18:51] markusahlstrand commented on #138
Still looking for a good enough excuse to play with EventHub, but so far ServiceBus seems cover our needs.

As mentioned the perf is sufficient for our needs so from my perspective we can close this issue.

[2015-08-03 18:52] mbroadst commented on #138
@markusahlstrand thanks for the perf numbers. I'll try to spend some time in the next few weeks to put together an actual benchmark suite so we can keep track of these numbers as we refactor the codebase.

[2015-08-03 19:06] #138 closed

[2015-08-03 20:28] markusahlstrand commented on #139
This may or may not be related to the issue i opened:
It seems that if there are no messages sent for a certain amount of time the connection disconnects as seen in the logs:
[code]

After that all messages being sent are stuck in the _pendingSends array as the state of the connection link is detached. Guess the disconnect-event should trigger a new connect?

[2015-08-03 20:35] mbroadst commented on #139
@noodlefrenzy it looks like we have an issue here: https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/amqp_client.js#L146.

The reconnect logic is only triggered on a `Connection.Disconnected` but this is coming in as an error from SB

[2015-08-03 20:52] mbroadst commented on #118
looks like we're done here

[2015-08-03 20:52] #118 closed

[2015-08-04 15:45] noodlefrenzy commented on #139
Ok, I've run some tests against this and run into two different errors:
1) ServiceBus severs the connection properly - we tear everything down and restart it, but at that point the link the client has is disconnected and there's an internal, inaccessible link in its place. There are two options here:
- [ ] we keep our reconnect logic, and just do what we were talking about a bit ago and make sure

[2015-08-04 15:50] mbroadst commented on #139
On the first point: I think I'm down with option one, but I'm also not clear as to why there are incorrect links in place. On disconnect aren't we clearing connection state (i.e. totally blowing away the session, and therefore all the links)?

Second point: yes I think we should always strive for reconnect based on the reconnect policy settings. This might be as simple as ensuring that eventually

[2015-08-04 19:35] markusahlstrand commented on #139
I get the session error consistently at exactly 10 minutes of idle time after the last messages is sent. 5 minutes after that I get a connection error.

Last message being sent:
[code]

And here are the session error:
[code]

and connection error:

[code]

It the reconnects and seems fine but the state of the link I have a refrence to is still detached. Is this because the sender_link that my clie

[2015-08-04 20:41] noodlefrenzy commented on #139
Yes you can! You can actually just listen on the sender link's `detached` method and then do a full tearndown/setup to avoid the problem - since it drops the link before it drops (and then restarts) the connection.

e.g. something like this?
[code]

In the meantime, I _am_ working on a fix, but not sure how long it'll take me (since this is my side project I tend to get distracted).

[2015-08-04 20:59] markusahlstrand commented on #139
Clever, my approach was a bit more crude:) I'll give that a try.

For a side project I think you're very responsive. Thanks

[2015-08-04 21:00] noodlefrenzy commented on #139
I would've responded more quickly, but I kept having to wait for the timeouts ;-)

[2015-08-06 12:16] jacoscaz opened #146 "Receive error on long-lived connections to SB"
Hello.

I've stumbled into the following error:

[code]

This happens on connections to SB's queues that are up for days (weeks, sometimes) and handle large amount of messages. Unfortunately, I still haven't found a way to reproduce the issue, no matter how many thousands of messages I send. Even more unfortunately, this only happens in a remote environment that makes it quite hard to debug.

I am

[2015-08-06 12:21] jacoscaz commented on #113
@mbroadst : sorry about the long absence. I should be able to start testing V2.0 in a week or two. What did you end up doing as far as `whether it makes sense for us to periodically retry the policy if we hit zero`? I'll adapt my code as soon as I get around it.

[2015-08-06 12:44] mbroadst commented on #113
@jacoscaz credit management is greatly improved in 2.0.0, I think you should have no issue implementing the behavior you opened this ticket for. When messages arrive now if you are in autosettle mode it will "accept" (acknowledge/settle) the message for you and pump the credits based on your creditPolicy/quantum/creditFunction, however you can also set the receiver mode to manual settle mode (you

[2015-08-06 12:46] mbroadst commented on #146
@noodlefrenzy my best guess is that it looks like the link is somehow trying to reattach while already attached?

@jacoscaz it would be very helpful if you could run a copy of your client with the environment variable `DEBUG=amqp*` set, so we could see what kind of framing is occurring during the problem

[2015-08-06 12:56] jacoscaz commented on #146
@mbroadst unfortunately, I cannot. Sorry about that, I'd be more than happy to but that specific environment doesn't allow for that.

[2015-08-06 13:00] jacoscaz commented on #113
Awesome! Thanks for the pointers. I'll get back at you once I get my hands on v2.0.

[2015-08-06 14:21] noodlefrenzy commented on #146
@jacoscaz @mbroadst That's possible - I ran into a similar error yesterday when testing some code for V2. I've reached out to my contact inside ServiceBus to see if they might have any insight into when they throw that error so we can match up against what we do.

@jacoscaz are there gaps of time (> 10 minutes) when you are _not_ sending messages? If so, ServiceBus kicks the link and we re-attach

[2015-08-06 14:38] jacoscaz commented on #146
@noodlefrenzy yes, absolutely. I'd say there could be even hours of no messages being sent - mostly at night.

@noodlefrenzy @mbroadst thanks for your support. I guess I'll refactor things so as to tear down the client completely and set it back up when this thing happens. Does this sound reasonable?

[2015-08-06 14:48] mbroadst commented on #146
@jacoscaz yeah I think you're going to have to do that with 1.0.x unfortunately. @noodlefrenzy is currently working on improvements to handle this scenario more seamlessly in 2.0

[2015-08-06 14:50] noodlefrenzy commented on #146
I was going to suggest that exact thing, but felt bad about it :)

I'll let you know if I hear anything back from the ServiceBus team. I'll try and build a burn-in test for 2.0 to make sure this doesn't happen with it - can I get any more information about when it happens? How many days, typically? How many messages total? Gaps between messages?

[2015-08-06 15:01] jacoscaz commented on #146
@noodlefrenzy my best guess would be anywhere between 2 to 5 days from starting the system @ 100 - 2k messages per day per link, received in bursts of 10 - 100 through 1 - 5 active links. It's a _wild_ guess, though. I'll try to come up with more precise numbers.

No worries - sometimes the old 'just reboot it' trick still comes handy... :).

[2015-08-07 01:13] noodlefrenzy commented on #139
Hey @markusahlstrand - I've added some logic in there to auto-reattach Links when ServiceBus does it's detach maneuver - can you try updating to the latest in master and see if it works?

You can see here: https://github.com/noodlefrenzy/node-amqp10/blob/master/examples/servicebus_reconnect.js
I've tested both re-attaching the links, and then (if I disable that) re-connecting and they both work, b

[2015-08-10 09:20] markusahlstrand commented on #139
Hi @noodlefrenzy ,

It seems to be reconnecting fine in most cases now, but instead I get the following error if I leave it without sending messages for a while:
[code]

[2015-08-10 16:39] noodlefrenzy commented on #139
@markusahlstrand Hmm, that's not good. My _guess_ is this might be us trying to send a heartbeat frame while we're in the middle of a reconnect, which would be bad. However, that's just a guess - I'm investigating.

[2015-08-11 15:00] noodlefrenzy commented on #139
Hey @markusahlstrand , I just checked in some code to try and harden the heartbeat logic against sending frames during transitional periods like reconnects. I have a multi-day burn test running at work, but I'd love it if you could try it out as well.

[2015-08-11 15:01] markusahlstrand commented on #139
Thanks @noodlefrenzy ! I'll try out the code tomorrow.

[2015-08-11 15:04] mbroadst opened #149 "unify 'options' handling for sender and receiver links"
Both [AMQPClient.prototype.createSender](https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/amqp_client.js#L180) and [AMQPClient.prototype.createReceiver](https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/amqp_client.js#L232) take `options` as a second parameter, however, it's a bit confusing to the user what those options actually are. I'm opening this issue so we can discuss h

[2015-08-11 15:16] noodlefrenzy commented on #149
Good summary. Are we still thinking of having a SimpleClient? If so, we could potentially punt on a top-level filter and just have options actually _be_ `policy` overrides, and those who want to specify filters need to pass in
[code]

[2015-08-11 15:16] mbroadst commented on #149
When using the library the other day it seemed to me that `options` should be `attach frame options` (aka `link creation options`), which I totally understand to be restrictive and perhaps too low-level. On the other hand, this _felt_ a little awkward:

[code]

[2015-08-11 15:16] noodlefrenzy commented on #149
That would make it more painful for the client, but much more straightforward about what should be in there, and where.

[2015-08-11 15:18] noodlefrenzy commented on #149
The other option would be to only allow top-level policy settings in the policy and not attach-frame options, and name attach-frame options something like `attach`, and still allow filter, so it'd look something like:
[code]

[2015-08-11 15:18] mbroadst commented on #149
@noodlefrenzy I think that's a good idea (options === policy override). It seems to me that the SimpleClient is an inevitability at this point, not only as a cool example of how to wrap our lower level api, but also to ease migration for v1.0.x users.

[2015-08-12 01:58] mbroadst commented on #149
Upon further reflection, I would be totally OK with including "filter" as a temporary key accepted in what is otherwise considered a "linkPolicy" for `options`. This would get us the best of both worlds in that: `options` can generally be considered an alias for `[sender, receiver]LinkPolicy`, and in the special case of the receiver we "pull out" the `filter` if its there and otherwise merge the p

[2015-08-12 05:38] noodlefrenzy commented on #149
I'm with you re: preferring changing `options` to `(receiver|sender)Policy` vs. extending options with attach/etc. I'm less OK with allowing `filter` at the top level. Although I _would_ be OK with `createReceiver(address, receiverPolicy, filter)` - i.e. adding an extra parameter.

[2015-08-13 13:25] mbroadst commented on #149
fixed in #151

[2015-08-13 13:25] #149 closed

[2015-08-13 21:10] markusahlstrand commented on #139
Hi @noodlefrenzy ,

Had it running for a while today and got the same error. Looking a bit more closely to the logs there is another error further up the log (same second though) which might be related:
[code]

Haven't still grasped exactly how the connections, sessions and links relate to each other but judging from the log just a few seconds earlier it seems to be transitioning the state on a lo

[2015-08-14 00:01] noodlefrenzy commented on #139
This is great feedback, thank you! I'll look into both of these - my guess is I'm failing to detach an event handler from the dead connection when I fire up a new one, _and_ I'm failing to re-use existing handle numbers for dead links (which is only an issue because ServiceBus is bizarrely limited - 1000 vs. the default max_uint).

[2015-08-18 09:11] jacoscaz commented on #146
Quick follow-up @noodlefrenzy @mbroadst:

We've just seen the same error making an appearance after two weeks without glitches. This time, though, it's taken a complete reboot of the VM to get things back to normal. Killing and re-starting the node process anew gave 0 results.

[2015-08-18 20:14] noodlefrenzy commented on #146
How the... what the... huh? My code doesn't keep any external state - I have no clue what it's doing that would require a reboot. All I can think of is that it's leaking connections on error and causing the VM to run out of sockets. Maybe you can do a `netstat` right after reboot and one after a couple of days and see if there are a bunch of extra listeners lying around?

[2015-08-18 20:30] mbroadst commented on #146
@noodlefrenzy maybe we should look into: https://nodejs.org/api/net.html#net_socket_destroy, for error cases

[2015-08-18 20:36] noodlefrenzy commented on #146
@mbroadst Good idea. We should definitely make sure that makes it into v2.

[2015-08-18 20:58] jacoscaz commented on #146
@noodlefrenzy: I'm sorry I have come across in the wrong way - I absolutely did not mean to imply that your code was responsible for that. My intent is to gather as much context as possible and share it.

A check with `netstat` is definitely a good idea and I would gladly do that right now if only I had found a way to reproduce this baffling issue. What you suggest makes sense, although (if I unde

[2015-08-18 21:05] noodlefrenzy commented on #146
@jacoscaz Hahaha, dude, never worry about insulting me - I've been in this industry a long time and have a thick skin. Plus, I've worked at Amazon so can handle just about anything ;-)

I realized you were just trying to give me more context - I was just genuinely baffled by how it might be happening. All I could think of was that we're trapping resources somehow that live beyond process restart,

[2015-08-18 21:21] jacoscaz commented on #146
:)

I will give that a try over the next few days and report back with my
findings. Once again, thanks a lot.

On Tuesday, August 18, 2015, Michael Lanzetta <notifications@github.com>
wrote:

--

--

Jacopo Scazzosi
Developer
http://www.jacoscaz.com

[2015-08-20 06:00] raghur commented on #49
Something like this should work: http://amqpnetlite.codeplex.com/SourceControl/latest#Examples/ServiceBus/ServiceBus.Cbs/Program.cs

[2015-08-21 09:40] edwardconnolly opened #152 "Not Receiving from Azure Queue"
Hello. This week I have been unable to receive any messages from my queue. The same code worked last week and I can still successfully receive using the official .NET library against the same queue.

I'm not sure where to start. Log below. Many thanks.

Fri, 21 Aug 2015 09:28:59 GMT amqp10-client Connecting to amqps://RootManageSharedAccessKey:XXX@XXX.servicebus.windows.net/q-in-log
Fri, 21 Aug 20

[2015-08-21 18:55] noodlefrenzy commented on #152
Ugh, this is a terrible error:

[code]

I'm forwarding it on to my contact on the ServiceBus team but it might be a few days before they get back to me.

I've tried connect/send/receive to SB Queues with the current code and it works fine. So that means it's either a transient error on their side (my hope), or an issue with the old client (my fear). I'll grab the old client and run a couple of tes

[2015-08-22 15:26] noodlefrenzy commented on #139
@markusahlstrand - I just checked in some changes that I _hope_ will fix your issue. I was never able to reproduce it on my end, but I found a few areas in my code where I wasn't cleaning things up as well as I should (connections keeping their event handlers even after being discarded, sessions failing to reset their handles when reconnected).

If you have the time, can you please see if this fix

[2015-08-24 14:45] markusahlstrand commented on #139
Hi @noodlefrenzy ,

Tried it for a few hours and it seems stable. Started using it on one of our services and so far it seems fine. I'll send an update after running it for a few days.

Thanks for your work on the stability issues!

[2015-08-24 14:48] noodlefrenzy commented on #139
Fantastic! Definitely let me know if you see it crop up again or see any other issues. I'll keep this issue open until I hear back from you.

[2015-08-25 14:52] edwardconnolly commented on #152
Many thanks. It’s still the same today though.

[2015-08-25 16:29] noodlefrenzy commented on #152
Can you post the code you're using to connect? I'd like to try and reproduce it as closely as I can.

Also, you might try using the latest code from master - we're in the midst of revising for V2 of the client. It's an API change (we've promisified most things), but there are examples.

[2015-08-25 17:10] noodlefrenzy commented on #152
Also, if I could get your servicebus service name that would help the folks in the SB team find the error messages on their side. If you don't feel comfortable posting here, perhaps email me (milanz@microsoft.com)?

[2015-09-02 11:27] jacoscaz commented on #146
Hello @noodlefrenzy, hello @mbroadst. Here's another follow-up on this issue.

Over the last two weeks we had the same thing happen two times. I've been able to check the machine's state (memory, sockets, fds, ...) every 2 - 3 days or so but never found anything out of the ordinary.

However, we did notice that rebooting the machine from within the machine itself (via SSH) doesn't always solve the

[2015-09-02 11:57] mbroadst commented on #146
@noodlefrenzy this sounds like the handles aren't being reused, I can't recall if that made it in your last set of changes. Did it?

[2015-09-02 14:36] noodlefrenzy commented on #146
@mbroadst yes, the handles-not-being-reused issue should be fixed in master. The issue he's seeing is that it's failing to reconnect even after restarting the node process, which doesn't make sense since we don't keep any state.

@jacoscaz - please email me your service-bus namespace and queue-name(s) to milanz@microsoft.com. I'll forward them on to my contacts on that team and see if they can loo

[2015-09-03 11:10] edwardconnolly commented on #152
Well it seems that going away and coming back again after a week seems to fix this particular issue.  Here's the simple source code that I got the error with.

[code]

Guess you can close this off. Thanks!

[2015-09-03 11:46] mbroadst commented on #152
@edwardconnolly glad to hear it. In case you're interested, we're working hard on releasing an updated version of the library (v2.0.0) that's currently in master. There are examples in the `test` and `examples` folders on how to use the library

[2015-09-03 11:46] #152 closed

[2015-09-16 23:42] robblovell opened #160 "filter for x-opt-offset gives error."
In attempting to set a checkpoint in the EventHub by setting x-opt-offset, the connection can't be established because an error related to the filter is thrown:

[code]
Results in this error:
[code]
Without the filter, the connection works and data can be pulled from the event hub. Replacing the client.receive call:
[code]
Results in these types valid of messages:
[code]

[2015-09-17 00:44] robblovell opened #161 "Possible EventEmitter Memory leak"
The following code results in an error from node.  Note that the event hub has 32 partitions.
[code]
Here's the error:
[code]

Without the modification of _MaxListners, the code gives this error right at startup but continues on:
[code]

[2015-09-17 12:34] mbroadst commented on #161
@robblovell I wonder if you might be interested in trying out v2.0.0 of the module? You can update to that using a commit-ish entry (vs number) in your package.json dependencies:
[code]

The API has slightly changed (mostly due to promisifying all the things), but there have been a number of critical improvements to the codebase. While the documentation is still out of date, all of the examples in

[2015-09-17 17:51] robblovell commented on #160
A new version 2.0.0 does not give this error and is more stable.

However, the specific x-opt-offset filter doesn't seem to work.  I am closing this issue and opening another.

For version 2.0.0 use the following in your package file until 2.0.0 is released:
[code]

[2015-09-17 17:51] #160 closed

[2015-09-17 17:53] robblovell commented on #161
@mbroadst  Brilliant.

I tried it out and the "EventEmitter memory leak detected." is no longer happening.

Running it for 30 minutes and the "Out of available handles" hasn't occurred.

I am losing this, but will continue to run my test over the next few hours. If the error shows up after a long period, I will reopen.

[2015-09-17 17:53] #161 closed

[2015-09-17 20:43] robblovell opened #163 "Event Hub Checkpoints"
Would like a feature to set Event Hub Checkpoints.  Currently, using a filter x-opt-offset doesn't seem to work as a poor man's checkpointing. There should be a way to tell the Event Hub to remember a checkpoint in the same way you can do this in the CSharp libraries.

[2015-09-17 20:44] robblovell commented on #163
I have an email to some contacts inside Microsoft Azure, I am hoping that they will provide guidance.

[2015-09-18 00:07] robblovell commented on #163
ServiceBusExplorer stores a checkpoint json file client side on exit that contains stuff like this:
[code]

[2015-09-18 00:31] noodlefrenzy commented on #163
We definitely won't add anything like that to this library, since it's an AMQP 1.0 library and not geared around Azure specifically, but my colleague and I did some earlier work to try and wrap this with logic to store EH offsets in Azure Table Storage - see https://github.com/jmspring/node-sbus and https://github.com/noodlefrenzy/node-sbus-amqp10.

Unfortunately, I've been so busy on other things

[2015-09-18 00:35] robblovell commented on #163
I did see the node-sbus project, it makes sense to have the checkpoint functionality implemented there. I will look over there and poke around a bit.

[2015-09-18 00:35] #163 closed

[2015-09-21 12:34] mbroadst commented on #139
@markusahlstrand any news on this one?

[2015-09-21 15:10] markusahlstrand commented on #139
We've been running this in production for a service with fairly high throughput for a couple of weeks now and I haven't seen anything in the logs or monitoring, so.. looks great! Any plans on publishing 2.0 on npm?

[2015-09-21 15:16] mbroadst commented on #139
@markusahlstrand fantastic news! yes @noodlefrenzy and I have had a preliminary discussion about a 2.0 release, I think I'll make a push this week or next.

[2015-09-21 15:16] #139 closed

[2015-09-22 13:29] cjpraful opened #164 "event hub receiver always pulls old messages"
HI i am trying to receive message from event hub.When  I ran the example program "simple_eventhub_test.js", i was receiving the old messages. Is it the normal behaviour? is there any alternative to restrict messages to unconsumed message or new messages.

[2015-09-22 13:33] mbroadst commented on #164
@cjpraful hey, this is most likely because v1.0.x isn't sending proper disposition messages. Could you please try your use case with v2.0.0 (master) and confirm the same behavior?

[2015-09-22 18:18] mbroadst commented on #164
@cjpraful if you're having trouble using master, update your package.json dependencies as follows:
[code]

[2015-09-22 18:22] noodlefrenzy commented on #164
Hey @cjpraful that's kind of expected with Event Hubs (http://www.mikelanzetta.com/2014/11/talking-to-eventhub-with-amqp-1-0/) - basically if you don't specify an offset to start with, it'll start from it's earliest known message.

If you look at the returned message annotations, you should see an offset in them, and you can give that back the next time you connect. Alternately, there's an X-heade

[2015-09-22 19:09] noodlefrenzy commented on #164
@cjpraful - the filters are outlined in the AMQPNetLite documentation: https://github.com/Azure/amqpnetlite/wiki/Azure%20Service%20Bus%20Event%20Hubs - that's written by someone on the EH team, so he knows what he's talking about :)

I'll try and get some time to write integration tests against the different filters for v2, but it'll be a few days. Let me know if you get a chance to try them out a

[2015-09-22 19:09] #164 closed

[2015-09-23 05:10] cjpraful commented on #164
@mbroadst i used the latest branch and tried with the changes you mentioned. It pulls the same old messages again.
@noodlefrenzy Could you please guide me what changes or addition i have to make on the example program to retrieve the latest messages i.e how to set the offset value or header

[2015-09-29 22:22] danlangford opened #165 "DOS attack when server requires SASL and client doesnt give creds"
my local QPID server requires SASL auth and i forgot to put my credentials in the connection string. the resulting infinite loop essentially performed a DOS attack on my server until it crashed.

here is the code:
[code]

[code]

while the server did this:
[code]

and crashed.

(dont use those timestamps to assume length of time, i was piecing together logs )

i traced the beginning of the confusi

[2015-09-29 23:21] mbroadst commented on #165
@danlangford if you don't mind, could you try this out using the version in master (v2.0)? We've been working pretty hard at a 2.0 release and there have been countless improvements in master. You can easily try this out by specifying the following in your package.json:

[code]

[2015-09-30 00:09] danlangford commented on #165
the code in master is much less abusive. earlier it would go so fast the server was feeling the pain almost before i had a chance to start reading the console output. with the code in master the server doesnt even blink twice at the amount of requests it gets

it might be worth testing the response to see if it is AMQP3100 then logging a message to the user "looks like this server is expecting cre

[2015-09-30 00:09] #165 closed

[2015-09-30 00:21] mbroadst commented on #165
@danlangford I wouldn't be against adding a little check in there to conditionally send out a different message ("expecting credentials" is fine with me) if you put together a PR

[2015-10-07 04:09] danlangford opened #171 "Support virtual hosts"
I have already talked to the devs a bit in gitter.im about supporting Virtual Hosts but i wanted to create a longer lasting record of the work being done around this. Especially since i may send other people to this ticket for information.

We would like to use this client lib to connect to our Qpid Java Broker. Qpid Java brokers must be setup with a virtual host. Out of the box the main virtual h

[2015-10-07 21:05] danlangford commented on #171
FYI @mbroadst i have been also working on this with Azure/amqpnetlite#36 and he showed me how the lib can currently specify a vhost. what was interesting is that it works fine with only the hostname field set in the open performative not in the sasl init frame. here is some output from my c# tests:

[code]

thought that you may like to know in case that helps clarify or simplify anything. i do not

[2015-10-08 16:29] noodlefrenzy opened #172 "Doc: Add constraints to servicebus examples, policy"
ServiceBus queues are required to be created with "enable partitioning" set to false in order to work with AMQP. This should be well documented, but currently is not.

[2015-10-13 13:31] cjpraful opened #174 "Error in retrieving Binary data using Event hub AMQP reciever"
I am trying to receive message from event hub using nodejs + amqp. I could observe that the binary data higher than 7f was shown as ef bf bd. I had used Buffer in nodejs. I tried simple_event_hub.js code and modified as shown below to retrieve the binary data.
Could you please check if its a known issue or suggest me workaround for the same.

var messageHandler = function (myIdx, msg) {
    consol

[2015-10-19 12:10] kiran-geon commented on #174
Basically AMQP10 is replacing non-unocode characters in the received binary stream with error characters. Is it possible to force AMQP to treat the data as raw binary?

[2015-10-19 12:14] mbroadst commented on #174
@cjpraful @kiran-geon hey, sorry I was waiting for @noodlefrenzy to pick this one up as he's on top of our SB/EH support. I'll see if I can't put together a unit test with the data provided above and track down the issue.

[2015-10-19 13:33] mbroadst commented on #174
@cjpraful could you prove me with the actual string values (or even better just the script itself) used to send the data? I've written a few tests using the raw buffers you posted above and they seem to work, I'm wondering if maybe there's a conversion we're doing incorrectly.

[2015-10-19 13:37] mbroadst commented on #171
fixed with 119bf49245d67fb90444308a1c314dea99a6f7ff

[2015-10-19 13:37] #171 closed

[2015-10-19 13:46] noodlefrenzy commented on #174
Hey, sorry @cjpraful @kiran-geon @mbroadst - I'm on holiday so less responsive than usual. @mbroadst could it be the encoder/decoder in the service-bus policy? @cjpraful what client is sending the messages? I was unclear from your initial comment whether the sender was our code or just the receiver. If you're planning on sending/receiving just binary data, you could try overriding the policy to av

[2015-10-19 13:56] mbroadst commented on #174
@noodlefrenzy yep sounds like an issue with the encoder indeed! If I'm not mistaken we can actually get rid of that specialization in the policy?

[2015-10-19 14:14] noodlefrenzy commented on #174
I don't _think_ we can because the C# client encodes the data as a Data block containing a UTF8 binary stream of the JSON-encoded serialization of your object (and expects the same as payload), so our encoder/decoder is built around making that happen so the two can seamlessly interoperate.

[2015-10-20 07:22] cjpraful commented on #174
@noodlefrenzy  @mbroadst @kiran-geon  thanks a lot for the inputs.
I tried overriding the policy to avoid the encode/decode logic as @noodlefrenzy  mentioned , I was able to receive raw data as expected.
I was sending data via azure web app to eventhub.

[2015-10-20 11:43] wmmihaa opened #175 "Get connection failed information"
I running the application from a location where I think the FW is stopping me from reaching sb. When enabling debug the output says:

amqp10:client connection error:  +21s { [Error: connect ETIMEDOUT] code: 'ETIMEDOUT', errno: 'ETIMEDOUT', syscall: 'connect' }

Q1: Is there a way to handle timeouts?
Q2: Is there a prefered fallback. I was thinking of falling back to use the REST API if it doesn't

[2015-10-20 12:06] mbroadst commented on #175
Hey,

* what exactly do you mean by "handle timeouts"? The library _should_ be falling into reconnect mode at that point with an exponential backoff, continuing to try again and again (by default the policy indicates it should retry forever). If that's not happening then this sounds like a bug.

 * I think the _only_ fallback is probably the REST api, but @noodlefrenzy would have more to say on th

[2015-10-20 12:07] mbroadst commented on #174
@cjpraful glad to know it's working!  I'm going to close this, but feel free to open it back up if you run into a related issue.

[2015-10-20 12:07] #174 closed

[2015-10-20 12:08] #93 closed

[2015-10-20 12:11] wmmihaa commented on #175
After a closer look I found the reconnect.forver set to true on the Policy.ServiceBusTopic. Setting it to false solved the problem:
var policy = Policy.ServiceBusTopic;
policy.reconnect.forever = false;
policy.reconnect.retries = 2;
var client = new AMQPClient(policy);

Thanks for the help.
Cheers

[2015-10-20 12:57] mbroadst commented on #175
@wmmihaa ah yes, that was introduced generally for my case where I have a long-lasting client to my amqp broker. We should document this as a tunable value for people who might want to use this as part of a script (and therefore actually timeout instead of trying to reconnect infinitely).

[2015-10-20 15:42] davidlenthall opened #176 "Receiver link "modify" method causing exception"
The "modify" method causes an "undefined is not a function" exception, as the Modified delivery state sets the ForcedType of the boolean values to "bool". When the codec is then looking for an encoder for for these values it fails as there are none in Types for "bool", changing the ForcedType to "Boolean" fixes this issue:

[code]

[2015-10-20 17:47] #176 closed

[2015-10-20 17:47] mbroadst commented on #176
thanks for the bug report, nice catch!

[2015-10-22 01:23] damonbarry opened #177 "can't set property absoluteExpiryTime on AMQP message"
When I pass the following object to the `SenderLink.send` method:
[code]
...in the resulting message sent over AMQP the absoluteExpiryTime is `undefined`:
[code]
This is because the Properties constructor in /lib/types/message.js maps `absoluteExpiryTime` to `absoluteExpiryT`:
[code]
If I fix that by adding `ime` to the end, then I get the following exception:
[code]
I'd like to be able to set abs

[2015-10-22 02:36] mbroadst commented on #177
@damonbarry this is an easy fix, but I need until tomorrow morning to get the full fix in with tests. The short answer to your problem is: yes you need to fix that typo (whoops!), and secondly you are passing a number with too fine precision into that property so our codec is picking it up as an attempted 64bit (or rather as close as javascript can come to expressing such numbers). If you can't wa

[2015-10-22 02:45] damonbarry commented on #177
I can wait, no worries!

[2015-10-22 13:18] #177 closed

[2015-10-22 13:19] mbroadst commented on #177
@damonbarry hey, just committed a fix. We used to drop support for any numbers whose absolute value was greater than `2^32 - 1`, just so we could absolutely ensure support. I've broken the shackles, and now we just try to support as much precision as possible (with a potential for silently dropped precision atm, unfortunately). Hope this helps!

[2015-10-22 16:46] damonbarry commented on #177
Confirmed it's working as expected now, thanks!

[2015-10-22 16:48] mbroadst commented on #177
@damonbarry great news :+1:

I'm waiting on a review from @noodlefrenzy before publishing the point release, shouldn't be too much time.

[2015-10-22 20:38] #175 closed

[2015-10-22 20:44] mbroadst commented on #101
closing until more data comes in, this should be fixed in the 2.0.x releases

[2015-10-23 08:41] Romanx commented on #101
Thanks for the great work @mbroadst and @noodlefrenzy. Sorry for the lack of reply, haven't had a chance to get back to my side project since!

[2015-10-23 19:58] ianwsperber opened #178 "Malformed payload errors using Azure Event Hub on receipt of multi-frame messages"
I'm populating an Azure event hub using a stream analytics job and attempting to read from the event hub using this library. The library chokes on certain events with error messages like:

`malformed payload: Unknown code prefix: 0x30`
`malformed payload: Unknown code prefix: 0x20`
`malformed payload: Unknown code: 0x64`
`malformed payload: Unable to decode bytes from message body: 005375b00002810

[2015-10-23 20:02] mbroadst commented on #178
@ianwsperber is it possible to get a debug dump of your session? (as in specifying `DEBUG=amqp*` as an environment variable when  you run your script)

[2015-10-23 20:10] ianwsperber commented on #178
Here's a sample from the logs (had to clean up a little since the information is sensitive):

[code]

[2015-10-23 20:54] mbroadst commented on #178
@ianwsperber I understand the need to protect the data, we appreciate whatever clues we can get to the bottom of the issue. For starters, I've added very basic support for the AMQP `char` type (which is utf32be, not something node is natively very happy with). I've pushed that to the `char-support` branch. Would you mind trying your test again with that in place?

If you're unclear how to test tha

[2015-10-23 22:33] ianwsperber commented on #178
Changed the reference in the package.json and reinstalled, didn't fix the error

[2015-10-23 22:39] mbroadst commented on #178
@ianwsperber thanks for testing that out, would it be possible to get an updated debug output from there? Clearly some piece of data is clobbering our codec, and my hunch is that is why you are getting so many errors regarding unknown code prefixes, because the codec failed to increment its internal buffer pointer.

Trying to isolate the particular piece of incoming data that first triggers this f

[2015-10-23 22:48] ianwsperber commented on #178
@mbroadst Sure thing! I won't be able to now but sometime early next week I'll throw some dummy data into our event hub and send you the complete output

[2015-10-23 22:49] mbroadst commented on #178
@ianwsperber thanks a lot! @noodlefrenzy should be back from his adventures over seas by then, and he's way more familiar with SB/EH than I am - hopefully together we can knock this one out

[2015-10-24 20:17] wmmihaa opened #179 "Unable to send to Event Hub"
Trying to send a message to eventhub, but the message is never sent. I've also tried using the simple_eventhub_test.js, which receives messages but can't send any. Using service bus explorer or the .Net api works fine.

[code]
Running with debug output gives me this:
https://gist.github.com/wmmihaa/5ca9a3593ffd92e55e10

[2015-10-26 09:08] kolonse opened #180 "文档描述的例子有问题"
[code]

[2015-10-27 11:32] mbroadst commented on #180
@kolonse Hi, unfortunately there are only two of us working on this project and neither of us speaks Chinese. Google translate seems to be failing me as well here, can you try rephrasing in English?

[2015-10-27 12:06] mbroadst commented on #179
Just to make sure we track this for future users, @noodlefrenzy responded on gitter with:

[code]

[2015-10-29 22:02] noodlefrenzy commented on #178
Hey, sorry, I'm back now. @ianwsperber can I ask - what does the payload look like of the streaming analytics job you're using? The default decoder used by the Event Hub policy assumes that any binary data coming in is a JSON string and tries to parse it, as that's typically the format used by the C# EventHub SDK. (see https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/policies/service_bu

[2015-10-29 22:23] noodlefrenzy commented on #146
Hey @jacoscaz, two things:

1) Did you ever hear back from the Service Bus folks? I forwarded your message with your details on to them, and then kind of lost track and didn't hear anything back myself.

2) v2 of the library is now out (has been for a little bit) and has a TON of bug fixes. It requires some minor rewrites as we've changed to a promise-based API, but if you're willing to do the wor

[2015-10-30 16:44] Romanx commented on #101
Hi there @mbroadst,

I had a chance to update my side project to the 2.0.0 code and all seemed to be going well (once I found the silly typos I made). The only thing is that it wasn't exactly acting as I expected in certain cases.

I added manual disposition as per the test you recommended above. When I deliberately threw an error I was expecting the result to be similar to the standard Azure node

[2015-10-30 16:55] mbroadst commented on #101
@Romanx if you are set up for manual disposition then you _must_ manually settle the incoming messages in all cases. I'm not sure what you're talking about with "deliberately threw an error", do you mean you did a `throw new Error` from within your receive callback? We could theoretically add support for that (automatically reject the message if an error was thrown), but for now its expected behav

[2015-10-30 16:59] noodlefrenzy commented on #101
@mbroadst My worry is @Romanx is saying that he error'd out (deliberately) prior to settling the message in either direction, and instead of SB timing the message out and letting it be re-delivered, it instead just threw up its hands and marked it as dead. In theory, SB is supposed to time-bomb the message and re-deliver if it's not ack/nak'd in time.

@Romanx am I correct in what you were trying

[2015-10-30 17:02] Romanx commented on #101
Hi,

Yes that's exactly what I did @noodlefrenzy , I threw an error in the receive callback. It might be a nice user experience if it performed an action in that case (as my instinct was that it would do something). What would happen in the case that I didn't settle an incoming message?

[code]
In this case i'd like to accept only if everything succeeded until the last statement, it makes sense th

[2015-10-30 17:03] mbroadst commented on #101
@Romanx yeah okay that's what I thought you meant. @noodlefrenzy we can pop a try/catch around the call to the callback on the `ReceiverLink` and take some sort of default action (`reject` seems a likely candidate). I agree that this is more idiomatic. I'm not sure, however, whether this should be an opt-in feature or not? thoughts?

[2015-10-30 17:06] Romanx commented on #101
@mbroadst with a reject a message never attempts redelivery correct? I'm not sure that's a nice experience as it could be a simple error with a child service (a db connection maybe) which causes your error, not the message itself. This way that message never attempts redelivery when it would succeed.

[2015-10-30 17:10] mbroadst commented on #101
@Romanx I'll defer to @noodlefrenzy and you for what Azure's behavior is, but from my reading of the spec it seems to indicate that it will simply reduce the deliveryCount, nothing indicating that it would not attempt to be redelivered:

[code]

As usual the documented behaviors are very.. unclear. It doesn't really make sense to me that we would accept the message in this case, since the message

[2015-10-30 17:12] noodlefrenzy commented on #101
It seems like Released or Modified/delivery-failed would be the better options. But it _also_ seems like we might be making it too smart at that point, as we'd only want to take those actions if auto-settled is false. Anyway, I'll write my integration test and see if I can repro the behavior. I worry if that's the case, because a node failing before it can settle should not cause the message to be

[2015-10-30 17:15] Romanx commented on #101
@noodlefrenzy i'm not entirely sure that was the case although it seemed to be what occurred. Reproducing it if that's the case should be simple.

I've just noticed a stupid error with my code which could have been the cause of the problem, i was calling `this.accept` with the message body as opposed to the whole message. derp. That's definitely not going to help matters.

In this case I'm not ent

[2015-10-30 17:24] mbroadst commented on #101
we should _definitely_ print out at least a warning message if you don't pass a valid message to one of the disposition methods. I'll pop that in, that could be very difficult to track down :)

[2015-10-30 17:30] ianwsperber commented on #178
@noodlefrenzy @mbroadst I haven't yet had a change to send non-sensitive information through our event hub, but we've had an azure support dev looking at the issue and he went ahead and did some investigatory work. He sent over the below snippet detailing some of his research and I thought it may be helpful.

Like I said, the data is sensitive so I've had to delete most the message body, but I've

[2015-10-30 17:45] mbroadst commented on #101
The question now becomes: should we simply print a warning in this situation, or in fact _throw an error_. In which case it becomes very relevant for us to decide what to do when errors are thrown in the receive callback..

[2015-10-30 17:57] mbroadst commented on #178
@ianwsperber thanks for the feedback, I see where our codec is being tripped up I just don't know how to feed it data to reproduce your result. This may be a bit much to ask, but is it possible for you to take the `bad.packet` file and simply fill in fake data for the sensitive information?

As a sort of last ditch effort, @noodlefrenzy actually works at that company and could probably get access

[2015-10-30 19:42] noodlefrenzy commented on #101
So, I'm running the following integration test (I know, not the most elegant):

[code]

And after ~30 seconds I see the message get re-delivered. So clearly "failing" by not ACKing the message _does_ cause it to get re-delivered as we would expect, at least for my case against my SB queue.

Other than the error you're throwing, how does your code differ from mine? And if you just avoid acking and

[2015-10-30 19:50] mbroadst commented on #101
frankly I'm not sure what happens if you currently throw an error inside that callback, maybe the link is corrupted somehow?

[2015-10-31 12:37] Romanx commented on #101
I'm not calling `done();` i'm instead using `this.accept(message);` Here's a slimmed down example of what i'm doing
[code]

[2015-11-01 11:36] snobu commented on #178
I did the hex analysis above, @noodlefrenzy and i both work for "that" undisclosed company:)
If @ianwsperber agrees, i can share internally the raw bad actors. I think we're very close to finding the _what_. And then it's probably just a matter of hours until we find the _why_ and a patch is committed.

[2015-11-01 12:53] mbroadst commented on #178
@snobu yeah I think it would really be as easy as feeding the right buffer into a test for the codec. For instance if you added something like:

[code]

to [this file](https://github.com/noodlefrenzy/node-amqp10/blob/master/test/unit/test_codec.js#L21) and get the same output as above, we'd have a really solid starting point for fixing the problem. As I suggested above, if you're able to do that t

[2015-11-01 16:07] timfpark opened #181 "Connection fails with DefaultFullSharedAccessSignature"
I'm trying to send a JSON message to an Event Hub but am running into an error connecting.  I created a Event Hub and am using the following code:

[code]

with the DefaultFullSharedAccessSignature and am having trouble connecting.  I'm seeing the following debug output:

[code]

[2015-11-01 16:13] timfpark commented on #179
I'm seeing the same thing with the code in issue #181 and using a SAS key with Send permissions (I confirmed this).  I put the DEBUG=* output in https://gist.github.com/timfpark/42d34d64202a1eb2b699

[2015-11-01 16:36] noodlefrenzy commented on #181
From the spec:

[code]

It looks like the server side doesn't realize we're in a SASL negotiation somehow, even though I've started SASL on my side by sending the `AMQP03010000` header. I'll follow up with them. In the meantime, can you see if this recurs if you use a non-default SAS cred?

[2015-11-02 03:39] kolonse commented on #180
OK! I mean the case of document have a little error. When I use to my project,but cannot run.
This is problem:

 return sender.send({ key: "Value" });
  }) /// here leak })

Are you understand?  My English is poll, very sorry!

[2015-11-02 08:57] snobu commented on #178
[code]

[code]

Am I doing this right?

[2015-11-02 12:00] mbroadst commented on #178
getting closer:
* `expect(actual.to.have.any.keys('eventtype'));` should be `expect(actual).to.have.any.keys('eventtype');`
* we still don't have quite enough data to properly test this (though I'm going to go ahead and try to just fill in some fake data). According to the spec, the way this is read is:
   * `0x00` is encountered indicating its a 'constructor'
   * At this point we read in two byt

[2015-11-02 12:10] mbroadst commented on #178
hmm yeah, beyond that the variable length of the binary data sent is actually 257819 in this case.. Are these telemetry messages pretty huge? Or is it likely this data is corrupted before it's making it to the bus?

[2015-11-02 12:14] snobu commented on #178
They look quite big to me, so 250 KB looks to be the real deal.

I get the same thing:
[code]

[2015-11-02 12:16] snobu commented on #178
Is there a snippet I could use to print to length before attempting to decode the thing?

[2015-11-02 12:23] snobu commented on #178
~~They look quite big to me, so 250 KB looks to be the real deal.~~

Scratch that. The messages that I am able to decode are under 10KB or so. So it could be just a matter of size.

Let's try to build a test for a really big payload? Not sure if AMQP defines a MAX message length, I tried to grep though the spec but it's humongous.

[2015-11-02 12:41] mbroadst commented on #178
The codec seems to be handling this just fine, if I change the test case to:
[code]

then I get the following result:
[code]

It's _possible_ you have data in the binary segment thats corrupting the stream somehow but it seems unlikely. In those cases we simply slice the descriptive bytes off the top and return the raw buffer, so there's very little we could screw up there.

Perhaps we could get m

[2015-11-02 12:55] mbroadst commented on #178
Actually upon a second glance this does indeed still look screwed up, the descriptor is out of whack - it almost looks like the constructor is trying to use a binary type as the descriptor.

@noodlefrenzy do you have any thoughts?

[2015-11-02 13:17] snobu commented on #178
Here's how the message looks like - the one that fails decoding - (sanitized, decoded from the Exception printout):

[code]

[2015-11-02 13:33] mbroadst commented on #178
@snobu unfortunately its not an issue with our handling of large binary segments, the following code works perfectly:

[code]

The anomaly here is the injection of this constructor `0x00, 0x53, 0x75` before the binary definition `b0`. What client is being used to generate/populate the data?

[2015-11-02 13:35] snobu commented on #178
No idea. @ianwsperber may know.

[2015-11-02 14:00] snobu commented on #178
Trying to read from Event Hub in debug mode shows additional useful addition info. @ianwsperber let me know if it's ok to share the data internally with @noodlefrenzy

[2015-11-02 15:36] snobu commented on #178
Not sure if this stuff is synchronous or it's async and doesn't really mean much but maybe it helps?

[code]

[code]

Here's a good message that decodes fine:

[code]

[2015-11-02 15:43] noodlefrenzy commented on #178
So just to verify I'm understanding this correctly - you're seeing some messages decode successfully, and those seem to be below a certain size, but larger ones are failing. I'll write an end-to-end test to see if I can repro on my end with a large payload message.

[2015-11-02 15:53] snobu commented on #178
That seems about right. Looks like every message that fails decoding is above 64KB. I'm more and more confident these large messages are neither corrupt or the result of the decoder tripping and mushing together a bunch of smaller messages. There' only one occurrence of `[`, and the payload validates as valid JSON when decoded manually from the Exception output.

[code]

[2015-11-02 16:40] mbroadst commented on #180
@kolonse it's okay, your english is much better than my chinese :smile:

Yes, it seems in the code above that you included an extra `})` on L19 that would prevent the code from running with a parse error. Is that what you're referring to? I don't see that same mistake in the docs (though I'm going to clean up some of the neglected examples now), can you point me to the bad documentation if it exis

[2015-11-02 17:03] noodlefrenzy opened #182 "Add support for sending multi-frame messages"
We don't currently support multi-transfer payloads, so messages that cause us to exceed the max-frame parameter will still be sent, and will cause the other side to abort. We should ideally alter our code to support multi-frame messages, but in the interim we should fail the send request with an appropriate error before attempting to send.

[2015-11-02 17:18] noodlefrenzy commented on #178
This is almost certainly due to large messages being broken up into multiple transfer frames by Event Hub. Our code doesn't support split-frame messages currently (as we've never needed it), and Event Hub is the one enforcing the 64k maximum frame size and forcing themselves to split.

However, that doesn't help you any :( . I now have a repro case, and once I verify explicitly that it's sending v

[2015-11-02 17:44] noodlefrenzy commented on #178
They _are_ sending a multi-frame payload, but the second transfer frame _appears_ to be malformed:
`0x005314c00d0b520740404040424040404040657931...`

I'll reach out to the Service Bus team and see if there's an issue on their end or if it's (the more likely) a PEBKAC issue on my end.

[2015-11-02 19:12] snobu commented on #178
@noodlefrenzy Thank you for your time and efforts looking into this.

[2015-11-02 19:22] noodlefrenzy commented on #178
No worries, I'm just sorry it's not going to be a simple fix. It apparently is a PEBKAC issue on my end - for multi-frame transfers I need to basically stall the parsing until I receive all transfer frames, and only then process the whole shebang as the message payload - that'll take some time and thought to implement.

[2015-11-03 01:02] noodlefrenzy commented on #181
Apparently, you were attempting to connect to a notification hub. Closing.

I understand you were having issues with a different hub as well? Can you please create a separate issue for that one and include the logs for that? I doubt it's also having SASL issues like this one.

[2015-11-03 01:02] #181 closed

[2015-11-03 06:03] kolonse commented on #180
@mbroadst
I'm sorry,I know the question. Because this code on L13 have // mark,so }) of L13 is gray in my JetBrains project! So I think the code leak }) mark
I do not notice it!
Please receive my knees and very thanks!

[2015-11-03 16:13] noodlefrenzy commented on #182
The current plan is to alter `SenderLink._sendMessage` to encode the `message`, determine the size of the resulting payload, and split across multiple `Transfer` frames as appropriate.

[2015-11-03 16:16] noodlefrenzy opened #185 "Add support for receipt of multi-frame messages"
Tracking issue for implementation to mitigate https://github.com/noodlefrenzy/node-amqp10/issues/178, so they don't have to see how the sausage is made unless they want to.

The current plan is to alter `ReceiverLink` to keep track of a `_currentTransferFrame` on receipt of a frame with `more = true`, merging all payloads into a single `BufferList` until it receives the final `Transfer` with `more

[2015-11-03 16:17] noodlefrenzy commented on #178
I'll be tracking the actual work to support this feature in #185 to avoid spamming this issue with sausage-making details.

[2015-11-03 21:14] mbroadst commented on #180
@kolonse glad you figured it out :smile:

[2015-11-03 21:14] #180 closed

[2015-11-03 21:37] noodlefrenzy commented on #179
@timfpark and @wmmihaa - can you please try v2.0.4 (just published)? It has a fix for the message-format of transfer frames that we were incorrectly (not) setting, and apparently EH had tightened their policies on that.

[2015-11-03 22:10] timfpark commented on #179
@noodlefrenzy: works for me now with v2.0.4 - thanks for the fix!

[2015-11-04 22:58] mbroadst commented on #178
@ianwsperber @snobu: we've landed preliminary support for multi-frame messages in the `multi-frame-messages` branch (go figure). This should hopefully resolve the issue you've seen. If you want to try it out before we merge then you need simply update your `package.json` accordingly:

[code]

[2015-11-04 23:42] mbroadst commented on #185
implemented in #186

[2015-11-04 23:42] #185 closed

[2015-11-04 23:42] mbroadst commented on #182
implemented in #186

[2015-11-04 23:42] #182 closed

[2015-11-04 23:43] mbroadst commented on #178
Hey guys, we actually felt that with unit tests around the feature, as well as integration tests against EH and Qpid that we would go ahead and merge it in and publish a minor point release. Please give it a shot with version `2.1.0` (you will automatically get this if you're using `^2.0.0`). Thanks.

[2015-11-05 04:54] ianwsperber commented on #178
Sorry for dropping out of this - this issue was deprioritized at work and I haven't had any free time otherwise.

I just installed version 2.1.0 into our stream processor and it worked perfectly. Can't emphasize how much I appreciate everyone's help with this!

After I've run some more thorough benchmarks/tests on my own I'll be pushing to have this integrated into our stream processing system in

[2015-11-05 08:09] snobu commented on #178
Holy moley! This is the fastest development cycle I've witness.. from bug isolation to fully working patch in under 2 days.

I've run the same batch of messages through the newly commited code and every single message now decodes successfully.

Superb job @mbroadst @noodlefrenzy.

[2015-11-05 10:56] jacoscaz commented on #146
Hello @noodlefrenzy.

1) Nope, I've never heard from them.

2) Yes, I realized a while ago that it had been published on NPM. Unfortunately, I'm still to be scheduled the necessary time to make the switch.

I *really* appreciate your support and I'm sorry I haven't been able to come back at you sooner. I will update you as soon as I get the chance to work on this.

[2015-11-05 12:56] mbroadst commented on #178
Glad to hear it works guys :+1:

@ianwsperber we try to keep a semi up-to-date list of [known issues](https://github.com/noodlefrenzy/node-amqp10#todos-and-known-issues), but generally the rough spots are in line with "the rough spots of using JavaScript". Stuff like the lack of large number support (we overcome this with `node-int64`, but the numbers are still best represented as strings when suf

[2015-11-05 12:57] mbroadst commented on #178
I'm going to go ahead and close this out now, please feel free to reopen if you feel this isn't completely solved.

[2015-11-05 12:57] #178 closed

[2015-11-05 13:23] mbroadst commented on #179
I think we have almost certainly identified this was because the message format wasn't being sent, which it is now, so I'm going to close this one out. Please reopen if you continue to have trouble @wmmihaa, thanks!

[2015-11-05 13:23] #179 closed

[2015-11-05 22:27] noodlefrenzy commented on #146
Let me know if/what I can do to help when you decide to do the switch - I've updated the examples in the `/examples/` directory, but I'm willing to help however you need it. I'm just sorry you ran into such troubles with it - I really hope you won't see those problems when you switch, v2 has a *lot* of bug fixes, and I think the API is cleaner.

[2015-11-18 08:39] kolonse opened #190 "question about "connect""
Hi,I found a question.If I close the amqp server,such as ActiveMQ, and start my client,then start ActiveMQ server, I found this code to run:
[code]
but in my code not run to then method. i guess it is promise problem, so I write a test case for promise,like this:
[code]

the result only output "test" once.
Do you understand me?

[2015-11-18 13:22] mbroadst commented on #190
@kolonse are you saying that when you run this code, you never get to the `console.log('do something here');`:

[code]

If that is the case, could you try running that script with the `DEBUG=amqp*` environment variable set?

[2015-11-19 02:54] kolonse commented on #190
@mbroadst   Yes! I tried it!  Never get to console.log('do something here');  But get to debug('mapped');

[2015-11-19 13:42] mbroadst commented on #190
@kolonse would it be possible for you to provide a trace log using the environment variable "DEBUG=amqp*" before your script? This will help us better diagnose what's happening

[2015-11-19 20:38] NNM11 opened #191 "question: how does amqp10 handle proxy?"
Hi,

Could someone please explain how the amqp10 handled the proxy situation for apps using amq10 running behind a firewall?

I am interested in any additional proxy configuration needed for amqp10 to work.  Or if it handled automatically and transparent for the app.

Thanks,

[2015-11-20 02:52] kolonse commented on #190
@mbroadst  here is my print:
"C:\Program Files (x86)\JetBrains\WebStorm 8.0.3\bin\runnerw.exe" C:\node\node.exe testLogClient.js
Fri, 20 Nov 2015 02:49:35 GMT amqp10:client connecting to: amqp://localhost
run
Fri, 20 Nov 2015 02:49:35 GMT amqp10:connection Connecting to localhost:5672 via straight-up sockets
Fri, 20 Nov 2015 02:49:35 GMT amqp10:connection Transitioning from DISCONNECTED to START d

[2015-11-20 03:08] mbroadst commented on #190
@kolonse one more question: what broker are you running against? (version as well please)

[2015-11-20 03:12] mbroadst commented on #190
@kolonse hmm very strange, I can see right at the end there that it says:
[code]
This indicates that the connect promise should be resolved properly. Could you post the source code for `testLogClient.js`? Maybe there's a typo there we can help sort out for you.

[2015-11-20 03:43] kolonse commented on #190
@mbroadst  OK! testLogClient.js is a test file.  MsgSenderClient.js is my real code!

`MsgSenderClient.js:`
'use strict';
var AMQPClient = require("amqp10").Client;
console.debug = console.trace;
var MsgSenderClient = function(opt){
    opt = opt || {
        reconnect:{
            forever:true,
            strategy: 'fibonacci',
            retries:10
        }
    } ;
    this.opt = opt ;
    t

[2015-11-20 06:17] noodlefrenzy commented on #190
[code]

That second `then(function(err)...` should be `catch(function(err)...`, but other than that the code seems reasonable.

So if you set a breakpoint or add a `console.log` before `createSender` here:
[code]

it never gets hit? @mbroadst is right, if you look at the logs your session is getting mapped, and we're even getting a flow frame back from the server, so we should be resolving the pro

[2015-11-20 12:49] mbroadst commented on #190
yeah that `then` should be a `catch`, but even more confusingly in `MsgSenderClient.prototype.sendMsg` you seem to want a "callback" API for `AMQPClient.send`, but then in `testLogClient.js` you wrap the newly made callback API with another promise! (see: `function job(msg)`) Why not just use the original promise offered by the `amqp10` API? I'll try to run this locally and get a cleaned up versio

[2015-11-20 22:47] mbroadst commented on #190
@kolonse I've run your code locally against qpidd and even without changing that extra `then` to a `catch` it still works for me.

If you're using a broker we don't currently test against then you might have uncovered a bug (either on our side, or the broker's side), so it would be helpful to provide more information about what broker you're using, and how it's configured.

[2015-11-21 06:25] kolonse commented on #190
@mbroadst   I use apache-activemq for broker. config is default!

[2015-11-21 06:28] kolonse commented on #190
@noodlefrenzy   Thanks for you ! You are right!  I will modify it!

[2015-11-21 15:46] mbroadst commented on #190
@kolonse hm I'm not sure what to say. I just downloaded ActiveMQ version 5.12.1, and ran it from the downloads folder completely unmodified. Then I ran your code, also completely unmodified, and here was the output:

[code]

[2015-11-22 06:56] kolonse commented on #190
@mbroadst  Yeah!  If your ActiveMQ is running before the testLogClient run, it's OK! But I want test this case: first, I start `node testLogClient.js` . second, start ActiveMQ!  My question is happen!  Other case is ok!

[2015-11-23 15:28] #190 closed

[2015-11-23 15:43] mbroadst commented on #190
@kolonse hey, thanks for the bug report! I think we finally figured this one out, and I hope you don't mind me changing the title of the issue. I've published version `2.1.2` with an included fix for this reconnect issue, please give it a shot

[2015-11-23 18:20] noodlefrenzy commented on #191
Hey, sorry for the slow response. We haven't implemented any sort of proxying functionality for our client - it's a strict AMQP 1.0 client, speaking on 5672/5671 (non-secure/secure).

I'm assuming you mean tunneling to your AMQP server over HTTP/HTTPS standard 80/443 ports, yes? I came at this library initially to use with Azure Service Bus, which doesn't support HTTPS proxying, and my colleague o

[2015-11-24 01:45] kolonse commented on #190
@mbroadst  Very Thanks! It work! Receive my knees!

[2015-11-24 14:27] jacoscaz commented on #146
Hello @noodlefrenzy and @mbroadst.

Unfortunately we're yet to switch to V2. However, I believe I have some useful feedback (which might also relate to #152).

As partly mentioned in my above comment dated Aug 18th, we've been dealing with this extremely frustrating issue by manually rebooting any VM that stops receiving messages. As we usually don't get any error whatsoever, we've set-up email al

[2015-11-24 16:46] noodlefrenzy commented on #146
What the heck?! Is this still using the same credentials you emailed me to my work address previously? If so, I'll try and get the SB team to start looking at it ASAP and see if they can find the logs on their side.

[2015-11-24 18:38] noodlefrenzy commented on #146
Two more questions for you:

1) Would you be willing to run in "debug mode" (export DEBUG=amqp*)? If not in production, would you be willing to do so against a different queue and on a dedicated VM maybe so you don't interfere with prod? (the latter might not get us the result we need, but is better than nothing). We'd be looking to see if you were getting a disconnect/reconnect loop that might be

[2015-11-24 18:39] noodlefrenzy commented on #146
P.S. I just heard back from Xin, and it looks like there was a networking issue in the data center with your queue last night which resulted in a temporary outage. That's likely what caused the issues you saw with your new VM.

[2015-11-24 18:51] jacoscaz commented on #146
Hello @noodlefrenzy.

Thank you for getting back at me so quickly. Ok, I understand about the networking issue. Will tell the team. Yes, the credentials are still the same.

I can try. It'd help if I had a word or a string to look for in the logs. Is there a specific pattern I can work with?

2) Would you be willing to take a "point release" upgrade (e.g. 1.0.3 to 1.0.4) if we were to try and sele

[2015-11-24 18:54] noodlefrenzy commented on #146
Woohoo, a switch to V2 would be fantastic :) I think that'd almost certainly help clear up a number of issues. I'll take a look at the code for 1.0.3 (it's been a while) and get you something to grep for in debug mode.

[2015-11-24 22:33] noodlefrenzy commented on #146
@jacoscaz I think if you look for the string "Transitioning from" that should give us useful information without disclosing anything from your end - we're just trying to get a handle on how often we're seeing state transitions and why.

Looking for "Processing frame" would give us much more information, but some of it would undoubtedly be sensitive. You could limit it to those containing "DetachFr

[2015-12-02 21:25] damonbarry opened #192 "AMQPError and friends are not exposed through the public API"
There are many places in the amqp10 code where AMQPError objects are returned to the user (e.g., when the user sets up a listener for 'errorReceived' on the client, or on a sender/receiver link).  But AMQPError doesn't appear to be exposed through the public API, i.e., I can't reach the object definition through "require('amqp10')".  I'd like to be able to access the definition of this class becau

[2015-12-03 17:02] noodlefrenzy commented on #192
This makes sense - I'll try and get a new release out today with those enhancements.

[2015-12-03 17:09] mbroadst commented on #192
@noodlefrenzy seeing that the AMQPErrors are the actual descriptors, does it make sense to make a wrapper in `lib/errors.js` for an AMQPError object (to keep exported error consistency)? Not really sure what the best approach is here

[2015-12-03 18:09] noodlefrenzy commented on #192
@mbroadst yes, that's exactly what I was planning :)

[2015-12-04 17:38] noodlefrenzy commented on #192
@damonbarry I have a PR out for the change, all the code is in https://github.com/noodlefrenzy/node-amqp10/tree/expose-amqp-error-symbol if you want to try it before you buy.

[2015-12-04 19:28] noodlefrenzy commented on #192
Hey there, published. @2.1.3 resolves this.

NOTE: There is a change in the returned error in that I now unpack the condition symbol (so you no longer need condition.contents to get the string). Since this was _not_ part of the public API I didn't feel the need for a 2.2 bump, sorry if I'm a bad person for not doing so.

Obviously let me know (and reopen this) if you run into any issues.

[2015-12-07 18:11] noodlefrenzy commented on #192
I misunderstood the need here - he'd like an isolated constructor to avoid having to take dependencies on internal classes while mocking for tests, so will modify to provide that.

[2015-12-10 00:53] noodlefrenzy opened #197 "Bugs surfacing when running EventHub/ServiceBus integration tests without environment variables."
[code]

These look bad, fix them.

[2015-12-16 01:52] noodlefrenzy opened #198 "Investigate: potential bug causing infinite loop on _terminate"
@pierreca was seeing an infinite loop in the -ws transport when we called _terminate due to a timeout on a bad endpoint. See https://github.com/noodlefrenzy/node-amqp10-transport-ws/pull/2.

[2015-12-16 04:06] mbroadst commented on #198
we should be able to recreate this by trying to connect to an invalid host right?

[2015-12-16 05:49] pierreca commented on #198
Yes, using the websocket transport. here's what happens:
- try to connect to an invalid host
- the socket (under websockets) returns an error (ENOTFOUND) that is propagated through events to amqp10
- amqp10 calls _terminate
- _terminate calls transport.end() (from amqp10 to transport)
- transport.end() calls socket.close() (from transport to websocket lib)
- in the websocket library, a 'close' eve

[2016-01-25 06:40] ianwsperber opened #199 "How to handle asynchronous processing in receivers?"
I am using the library to process messages from event hub and would like to do some asynchronous work prior to handling the next message on a receiver. The only way I have found to do so is to set the filter options:

[code]

and then in my receiver:

[code]

Is this the best/only way of achieving my desired behavior?

[2016-01-25 13:21] mbroadst commented on #199
@ianwsperber yep, that's how I do it, are you experiencing any issues?

[2016-01-26 18:52] noodlefrenzy opened #201 "Error when AMQPClient tries to reconnect in Node"
https://github.com/Azure/azure-iot-sdks/issues/249

Seen in Azure IoT's use:

[code]

[2016-01-26 19:04] noodlefrenzy commented on #201
Further relevant conversation from the associated iot bug:

We should probably not just die a terrible death like that. I'll see if I can't repro.

[2016-01-26 19:33] mbroadst commented on #201
likely culprits:
 * https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/amqp_client.js#L283
 * https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/amqp_client.js#L317

[2016-01-30 13:25] gjr-qm opened #202 "AmqpVersionError when trying to connect to Azure Servicebus"
I tried to connect to a queue in our Azure Servicebus, but ended up in an endless loop because of a version mismatch?

Here is (the repeating part of) the log.

[code]
Looks like the conflict is caused by the difference 414d515002010000 vs 414d515000010000, but i don't know what i can do about it.

I'm new to AMQP and hope someone can help me out here.

[2016-01-30 14:02] mbroadst commented on #202
hmm that's pretty weird, I'm going to have to defer to @noodlefrenzy on this one as that version header doesn't seem legal to me (according to the spec). It should either be `414d515000010000` (no sasl) or `414d515002010000` (sasl)

[2016-01-30 15:18] gjr-qm commented on #202
Seems it was my bad!

Somehow i lost the 's' on the protocol in my code (amqp instead of amqps). The '2' in the azure server response is for negotiating a TLS version (and my client code was in non-secure mode because of the missing s in the protocol ).

[2016-01-30 15:18] #202 closed

[2016-02-03 13:26] mbroadst commented on #199
@ianwsperber so flow control in AMQP 1.0 is based on link `credit` (described in the spec [here](http://docs.oasis-open.org/amqp/core/v1.0/os/amqp-core-transport-v1.0-os.html#doc-flow-control), though that can be a little dense), and credit is adjusted based on `disposition` of messages. Credit for a receiver link is basically how many messages you want to permit the remote side to send down to yo

[2016-02-04 00:45] ianwsperber commented on #199
@mbroadst Thanks for the thorough explanation. My specific use case requires processing messages on a single event hub partition in order ("chronologically"). If I continue using settle on disposition but increase the credit quantum will I have a reasonable guarantee that I will be processing messages in order? And is there an "intelligent" way of choosing the right credit quantum value?

It would

[2016-02-04 13:02] mbroadst commented on #199
@ianwsperber Unfortunately I think that this is one of those things you'll need to fine-tune to your application if the defaults aren't working for you. You have an absolute guarantee that you will be processing messages in order, as you are inherently working with queues.  You might find that a sort of sliding window in your custom `credit` function gives you better performance, I think you'll ju

[2016-02-04 15:17] Parsiphal opened #203 "How to Handle connection to jms queue deployed on Wildfly?"
I want to use node-amqp10 in order to create a receiver/sender to a queue/topic deployed on Wildfly. I have enabled, inside the standalone-full.xml of wildfly, the AMQP protocol by this way
[code]
and for simplicity i have disabled security about the messaging configuration.

My queue is configured by this way:
[code]

Then i have create a really simple poc using amqp:
[code]

The problem is that

[2016-02-04 15:37] mbroadst commented on #203
@Parsiphal can you post what the error returned is? I believe this is because JMS has a slightly ~~insane~~ different strategy for endpoints (usually something like `tcp://queue/queueName` or something)

[2016-02-04 15:41] Parsiphal commented on #203
Thanks Mat for the answer. The problems is that no errors are thrown by AMQP indeed the logic does not enter in .spread and .error

[2016-02-04 23:37] ianwsperber commented on #199
Ok, thanks again @mbroadst . If I have some time in the next week or so I'll create a PR drafting some additional documentation in the README (or elsewhere, if you have a better suggestion)

[2016-02-05 04:07] ianwsperber commented on #199
Hi again @mbroadst - unfortunately it appears that setting a credit quantum greater than 1 is preventing me from processing messages in order when I need to do asynchronous work on each message (to return to my original problem). The below snippet fails:

[code]

Any thoughts?

[2016-02-05 10:27] Parsiphal commented on #203
The solution is to configure standalone by this way

[code]

Jboss/Wildfly create an adress for the queue like jms.queue.ExampleQueue
and is necessary to use this name for the creation of a receiver/sender

Thanks all!

[2016-02-05 11:18] Parsiphal commented on #203
Now the problems is that i send a message on queue and i receive a message like
`received:  Message {
  body: <Buffer >,
  header:
   Header {
     descriptor: [Int64 value:112 octets:00 00 00 00 00 00 00 70],
     value: undefined,
     durable: false,
     priority: 0,
     ttl: 0,
     deliveryCount: 1 },
  annotations:
   Annotations {
     descriptor: [Int64 value:114 octets:00 00 00 00 00 00

[2016-02-05 13:16] mbroadst commented on #203
@Parsiphal that means the message body was transferred as a byte array, rather than an encoded string. You just need to do `message.body.toString(<empty or desired encoding>)', the object is of type [Buffer](https://nodejs.org/api/buffer.html)

[2016-02-05 13:28] mbroadst commented on #199
@ianwsperber incoming messages will be in order (just remember, fundamentally you are dequeuing from a FIFO queue). What can't be accounted for is how quickly you process the messages on the client side.  What seems to be happening in your snippet above is that you are setting a creditQuantum of greater than 1, and each time you receive a message incrementing the `lastSequenceNumber`, waiting a ra

[2016-02-06 05:21] ianwsperber commented on #199
The key point I needed clarification on is that messages will still arrive
in order in the receiver. I'll implement the local queue solution and
respond with my implementation, to give a reference for anyone else who
encounters this issue (I believe someone on my team attempted this
previously but caused a memory leak by constructing an enormous promise
chain, or something to that effect). I'll al

[2016-02-08 12:24] Parsiphal opened #205 "Selector management."
I want to use node-amqp10 in order to create a receiver/sender to a queue/topic deployed on Wildfly.
I have succesfull established the bi-directional communication but now i have to manage the concept of selector jms.

In what way i must manage this requirement with your library?

Thanks all

[2016-02-08 14:37] noodlefrenzy commented on #205
Hey @Parsiphal,

I haven't used the library with JMS, but if you take a look at [examples/simple_eventhub_test](https://github.com/noodlefrenzy/node-amqp10/blob/master/examples/simple_eventhub_test.js) you can see me doing something similar (a filter for Event Hubs).

I believe the JMS selector needs to go in the filter while attaching, so it should be similar to the code in that example.  The imp

[2016-02-08 14:55] Parsiphal commented on #205
Seems to be the solution but where i can find a documentation about the syntax that you have used.

Thanks

[2016-02-08 15:31] Parsiphal commented on #205
I have found this http://www.amqp.org/specification/1.0/filters in orther to explain ['symbol', 'apache.org:selector-filter:string']

described seems the translator function creates an object like:
`{ 'apache.org:selector-filter:string':
   DescribedType {
     descriptor: { contents: 'apache.org:selector-filter:string' },
     value: 'amqp.annotation.x-opt-enqueuedtimeutc > 2000' } }`

I have not

[2016-02-08 16:08] noodlefrenzy commented on #205
http://www.amqp.org/specification/1.0/filters was exactly what I was going to link to. It looks like http://people.apache.org/~rgodfrey/amqp-1.0/apache-filters.html specifies some proposed values (including correlation ID), so it's possible that would work.

The `amqp.annotation` piece is Azure ServiceBus specific (see e.g. https://github.com/Azure/amqpnetlite/wiki/Azure%20Service%20Bus%20Event%20

[2016-02-11 03:20] pierreca opened #206 "Consider throwing in ReceiverLink.settle() in case of bad message"
In [receiver_link.js line 94](https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/receiver_link.js#L94)
if the message passed has anything wrong with it, u.DispositionRange() will fail. at this point instead of ignoring the invalid range, consider throwing an exception (IMHO it's a programmer error, no need for an error callback).

[2016-02-11 15:13] mbroadst commented on #206
@pierreca I'm actually working on a huge types refactoring in [this branch](https://github.com/noodlefrenzy/node-amqp10/tree/types-refactor), which will throw errors when we're missing mandatory fields in a composite type (amongst many many other improvements).

[2016-02-15 20:48] gjr-qm opened #207 "Azure Service Bus receive body type string"
An external system sends a message (xml) with body type string from a .NET application (because they had some encoding problems when sending the message as stream). When we receive the message we get:

`@\u0006string\b3http://schemas.microsoft.com/2003/10/Serialization/�9<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<foo><bar/></foo>`

Do i have to deserialize the message body myself or is there s

[2016-02-17 15:56] noodlefrenzy opened #209 "Add send strategy that queues internally until link/session credit exists."
Currently we throw an error when someone tries to send with no credit. It'd be nice if we provided internal queuing as an option. I don't recommend it as the default due to the additional running set size impact.

[2016-02-17 15:58] noodlefrenzy opened #210 "Add receive strategy with more collaborative flow-control"
Add a receive strategy (possibly the default?) that only increases link credit by the amount of messages that have been ACK'd (i.e. have had dispo frames sent back to the sender).

[2016-02-17 16:13] noodlefrenzy commented on #207
Hey, sorry for the delay. If you're using the Service Bus policy, then it should be using the following decoder when messages come in: https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/policies/service_bus_policy.js#L28

This should automagically handle if it's sent as a proper string, but what it looks like is happening is it's being sent as a buffer with an embedded .NET-serialized str

[2016-02-18 16:19] gjr-qm commented on #207
Thank you for your answer. The guys from the external system (BizTalk, Navision) experienced some encoding problems constructing a proper UTF-8 encoded stream with xml content in it.

I think, with the help of your answer, they are on the right track now. Thanks again.

Great library btw! I had it up and running without problems in a very short time.

[2016-02-22 10:25] dmoreland opened #212 "Issue with Azure Iot Hub Code"
[code]
After leaving my code sending messages to Azure after about an hour i get this,

[2016-02-22 16:24] noodlefrenzy commented on #212
I _think_ this is due to SAS Token expiry and the fact that IoT Hub doesn't auto-renew (yet). Looping in @pierreca to weigh in.

However, I agree that this method of erroring out sucks. Which is why I opened this https://github.com/noodlefrenzy/node-amqp10/issues/201 against us.

[2016-02-22 16:32] mbroadst commented on #212
This is definitely an issue with our code, but I'm unsure as to whether its correctly identified as a bug in the reconnect logic (if that is enabled) or rather that we are simply not throwing an error where we should be. I've seen this a number of times in my own code that is just connected to qpidd, it seems that the underlaying connection for the link has died somehow (I suspect something that c

[2016-02-22 23:10] pierreca commented on #212
yes, this happening after 1 hour strongly suggest something is wrong with our SAS token renewal logic. looking into it from https://github.com/Azure/azure-iot-sdks/issues/320 as well.

[2016-02-24 20:11] noodlefrenzy commented on #207
Fantastic! Closing this, let me know if you run across other issues. Also, you can always merge the service bus policy with your own that just declares its own custom encoder/decoder if you need to add your own logic there.

[2016-02-24 20:11] #207 closed

[2016-02-24 21:52] noodlefrenzy opened #213 "Consider adding warning when client send unknown/deprecated section/properties"
This could be for messages, or more broadly for all composite types.

Could be a debug, console.warn, event, throw?

[2016-02-25 16:06] mbroadst commented on #213
This is currently not possible with the way we define properties on composite types. An alternatively proposed solution would be to have `get`/`set` methods on the type's prototype (a la Immutable-JS's [Record](https://github.com/facebook/immutable-js/blob/master/src/Record.js)), at which point we could clearly identify when someone is trying to access/mutate an invalid field. (Further, you could

[2016-02-25 20:34] #210 closed

[2016-02-26 00:02] noodlefrenzy opened #216 "Coercion of string to 'error' type failing"
e.g. in `ReceiverLink.reject(message, error)`, the string is failing to coerce to an AMQP error with an exception thrown from codec.js:167.

[2016-02-29 14:48] jacoscaz opened #218 "Stream support for receivers and senders"
It'd be nice to have senders and receivers either support streaming natively or be made easily trappable into streams. Discussing this on gitter with @mbroadst, seems like the main issue here is the absence of a fine-grained credit setting beside `addCredits()` to drop the credit amount to 0 when `Readable.prototype.push()` calls within `read()` return `false`. Will try manually resetting credits

[2016-03-01 01:57] mbroadst commented on #218
@jacoscaz let's start here, I have a prototype up for the readable receiver stream on [this branch](https://github.com/noodlefrenzy/node-amqp10/tree/readable-stream). There is a lot to be improved here:

  * it just wraps the `ReceiverLink`, we could probably improve performance if this inherited `ReceiverLink` instead and called `push` instead of emitting the message on message receipt

  * it is

[2016-03-01 03:50] mbroadst commented on #218
I've gone ahead and added an even more basic `SenderStream` (`WritableStream`), as well as an integration test piping the two together. We should track discussion of these all on this issue

[2016-03-01 08:59] jacoscaz commented on #218
@mbroadst well, that was fast :).

I started working on an almost identical solution [here](https://github.com/jacoscaz/node-amqp10/commit/a2c381c0a23b22e53252e15e9bef226454cbd35a), although your code looks a lot better.  Didn't have time to get to a PR-worthy commit.

Wouldn't it be better to keep the interface to the messages (stream vs. event) separate from the link's policy? That's why I opted

[2016-03-01 11:54] jacoscaz commented on #218
@mbroadst Done a bunch of testing and small edits in my branch and issued a PR with some ideas. Feel absolutely free to discard parts or all of it. Had switch to using `.then()` in `SenderStream.prototype._write()` as I noticed not using it was messing up message ordering in my tests using servicebus queues (see `test/integration/servicebus/queues/streams.test.js`).

[2016-03-01 12:56] mbroadst commented on #218
@jacoscaz hey, thanks for the response here. Some thoughts:

   * I agree that your idea of `createSenderStream`/`createReceiverStream` lowers the maintenance burden, let's go with that.

   * I left code in the `SenderStream` to do sends both ways because in my testing the speed differential was sort of amazing. I think we should figure out how best to support both scenarios.. perhaps switching o

[2016-03-01 12:59] mbroadst commented on #218
@jacoscaz also wrt the bit of code you used for decoding the JSON payload: if you are always assuming JSON data in `message.body` you can override your receiver link's `decoder`: https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/policies/default_policy.js#L98.

[2016-03-01 13:07] jacoscaz commented on #218
Hey @mbroadst.

- About JSON parsing, yes, my mistake. I removed that in a later commit.
- I like the idea of sending disposition for batches. Sounds good.
- I've just made a dumb test - a sender process, a receiver process - and exchanged little less than 20k messages, 1 message sent every 10ms. When I abruptly stopped the test, the servicebus queue was left with 4 messages on it - zero build up,

[2016-03-01 13:12] mbroadst commented on #218
@jacoscaz fantastic, I'll continue to update the branch here as I have a few hours free before I'm chained back down to reality

[2016-03-02 00:05] #216 closed

[2016-03-02 00:07] noodlefrenzy opened #221 "Client.disconnect leaves link re-attach timeouts running"
If links set re-attach policies, client disconnect fails to clear those timeouts, leading to cases where the links attempt re-attach on a dead connection/session and causing:

https://github.com/Azure/azure-iot-sdks/issues/320

[2016-03-02 13:02] mbroadst commented on #221
isn't this a duplicate of #212 ?

[2016-03-02 20:42] mbroadst commented on #221
@noodlefrenzy I'm not sure that this is happening exactly. If I run the following test:
[code]

I don't see any attempts to reattach the links.

What I DO see is an error about attempting to call `_reconnect` in this test:
[code]

with a resulting output of:
[code]

[2016-03-02 20:42] mbroadst commented on #221
additionally, we have an error in our address parsing. When I tried just `client.connect('bazoongas')` I get:

[code]

[2016-03-02 23:39] noodlefrenzy commented on #221
Yes, this is a dupe. Sorry I missed the original. Love `bazoongas` as an address.

What I was seeing was a `setTimeout` call being in-flight as the connection/session gets torn down, then triggering. Seems like we should ensure that `forceDetach` removes any pending timeouts.

[2016-03-03 14:20] mbroadst commented on #221
@noodlefrenzy yeah, so I immediately pegged that as the location for the fix but I've as of yet been unable to reproduce. Perhaps a unit test would be better for this, I'll give it a shot after lunch

[2016-03-05 21:47] #221 closed

[2016-03-07 13:47] mbroadst commented on #212
@dmoreland @pierreca this should be "handled" by https://github.com/noodlefrenzy/node-amqp10/commit/8eeeb5bfecc9f5fddbf16fea22d0f97eb1533dca, however it remains to be seen whether renewal of the token properly takes place now that the code isn't bombing out on an unhandled exception.

[2016-03-07 13:48] mbroadst commented on #201
man how many issues do we have open for this bug :smile:

fixed with https://github.com/noodlefrenzy/node-amqp10/commit/8eeeb5bfecc9f5fddbf16fea22d0f97eb1533dca

[2016-03-07 13:48] #201 closed

[2016-03-11 14:08] mbroadst commented on #218
@jacoscaz I think we can close this?

[2016-03-11 14:09] mbroadst commented on #212
@dmoreland @pierreca ping. are you still experiencing this issue after having updated node-amqp10?

[2016-03-11 14:09] mbroadst commented on #206
@pierreca my work has now been merged into v3, I believe we can close this issue but I'll wait for your response before doing so

[2016-03-11 14:10] mbroadst commented on #205
@Parsiphal ping. Can we close this issue?

[2016-03-11 14:10] #203 closed

[2016-03-11 14:11] jacoscaz commented on #218
Absolutely, yes! Very happy with it. Thanks a bunch!

Native stream support (rather than going through the current event emitter) might be worth tracking in a separate issue, though.

[2016-03-11 14:12] mbroadst commented on #199
@ianwsperber you might be interested in the support for streams I've recently added for v3, I'll push a semver minor release today if you're interested in using them. `AMQPClient` now has `createSenderStream`/`createReceiverStream`, so you can work with links as an ordered stream. Otherwise, closing this issue now as I believe your question has been resolved.

[2016-03-11 14:12] #199 closed

[2016-03-11 14:12] mbroadst commented on #198
@pierreca @noodlefrenzy what's going on with this issue?

[2016-03-11 14:13] mbroadst commented on #197
@noodlefrenzy I think this is probably fixed by https://github.com/noodlefrenzy/node-amqp10/commit/8eeeb5bfecc9f5fddbf16fea22d0f97eb1533dca ?

[2016-03-11 14:15] #191 closed

[2016-03-11 14:18] mbroadst commented on #218
@jacoscaz agreed, I'll open an issue for it

[2016-03-11 14:18] #218 closed

[2016-03-11 14:19] mbroadst opened #225 "receiver/sender streams should subclass Link rather than wrap a link"
Currently the sender and receiver streams are implemented as wrappers around sender/receiver link instances, mapping their emitted events to the streams api. There is needless overhead here that we can avoid by simply having each stream type directly inherit from their respective link type, and override behavior for event emission.

[2016-03-11 14:21] mbroadst commented on #97
reminder: https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/types/message.js#L175

[2016-03-11 14:28] mbroadst commented on #101
@Romanx @noodlefrenzy ping on this issue

[2016-03-11 15:28] noodlefrenzy commented on #197
Yes it is, good catch.

[2016-03-11 15:28] #197 closed

[2016-03-11 16:58] pierreca commented on #212
@mbroadst I think we're all good from your perspective. I'm now using the correct policies to not reattach and the commit you referenced fixes the problem on your side.
Also FYI, since v 1.0.0 we do renew the SAS token automatically :) not in the most elegant fashion but we do :)

[2016-03-11 17:00] pierreca commented on #206
your call. we haven't moved to v3 yet, but I don't think we're impacted by this anymore. I'm OK to close the issue.

[2016-03-11 17:18] pierreca commented on #198
Looks like we found a solution for that problem with the ws transport but @noodlefrenzy was keeping this open to investigate further. Not sure how it plays with the release of v3 now.

[2016-03-11 17:20] mbroadst commented on #212
@pierreca cool, good to know :smile:

[2016-03-11 17:20] #212 closed

[2016-03-11 17:20] mbroadst commented on #206
Okay sounds good, thanks!

[2016-03-11 17:20] #206 closed

[2016-03-25 21:34] gjr-qm opened #227 "Azure Service Bus: receiving same message again after settle"
I have a queue setup with one-by-one message processing as described in the readme. Strange thing is that sometimes i receive messages more than once (can be 2, 3 or 4 times) even when they are settled. It always happens within a few seconds. Here is an example of the log:

[code]

Here the first time the message is received at 21:05:50 (settled in the same second at 21:05:50). At 21:05:59 a messa

[2016-03-25 23:28] gjr-qm commented on #227
Maybe the problem is caused by the Service Bus Explorer itself. Looks like it sends duplicate messages when Azure is slow and you send more than 1 message...

And duplicate detection is turned off on my queue in the Azure Service Bus.

So i think this issue can be closed.

[2016-03-25 23:28] #227 closed

[2016-03-26 14:14] gjr-qm commented on #227
1 day later and i solved the problem by recreating the Azure Service Bus queue. Scary shit was happening and it looks like this was caused by the ASB queue itself. Symptoms:

- Messages were redelivered, even when they were accepted
- I implemented my own duplicate detection, and accepted redelivered messages again without processing. Then messages were stuck in the queue (deliverycount was 2, but

[2016-03-26 15:15] noodlefrenzy commented on #227
Weird, sorry I didn't get to this before you closed it, glad you found a "solution". I'm not on the service bus team, but if you're willing to send your details (service bus namespace, queue) to milanz@microsoft.com I can forward it to the right people and see if they might have any ideas of what happened.

[2016-03-26 20:06] gjr-qm commented on #227
No problem, appreciate your response. I mailed the info.

[2016-03-30 06:56] kolonse opened #229 "a little question of latest version 3.1.1"
hello~!
I use the version 3.1.1 and find a question. my client connect to apache activemq server, and  let it idle above 30s. my server have a error :
**INFO   | jvm 4    | 2016/03/30 14:53:31 |  WARN | Transport Connection to: tcp://127.0.0.1:49561 failed: org.apache.activemq.transport.InactivityIOException: Channel was inactive for to long
INFO   | jvm 4    | 2016/03/30 14:53:31 |  WARN | Transp

[2016-03-30 11:42] mbroadst commented on #229
@kolonse can you show us some code examples here? Are you making sure to use the ActiveMQ policy? There was a massive overhaul of the protocol internals in 3.x which lead to a 50% improvement in performance, but may have also resulted in bringing to light some bugs we had previously missed. If you're currently experiencing one of those I'd like to fix it quickly :)

[2016-04-01 01:10] kolonse commented on #229
I think this is a config of new version, I will learning the docment and resolve it~!  Now my project use old version. when i know how to use new version, i upgrade my version. Thanks for you!

[2016-04-01 01:12] kolonse commented on #229
My code is here:
`var AMQPClient = require("amqp10").Client;
var moment = require("moment");
console.debug = console.trace;
var MsgSenderClient = function(opt){
    opt = opt || {
        reconnect:{
            forever:true,
            strategy: 'fibonacci',
            retries:10
        }
    } ;
    this.opt = opt ;
    this.logger = opt.logger || console ;
    this.uri = opt.uri || "amqp://l

[2016-04-01 13:03] mbroadst commented on #229
@kolonse thanks for your bug report, I found the error (a typo: `idleTimeOut` vs `idleTimeout` *sigh*) and committed a fix (as well as a unit test this time!) published as v3.1.2. Please do an `npm install` to update, and the problem should be resolved!

[2016-04-02 20:24] gjr-qm opened #230 "Azure Servicebus: Sender TX ERROR on Timeout changed in version 3.x?"
Since i updated to version 3 (on 3.12 right now), my logs show errors that i filtered out in version 2.x.

Here is the error:
[code]

My code that used to work in version 2.x:
[code]

The condition on the tx_err is undefined as of version 3.x

What is the best way to handle these timeout messages in the new version?

[2016-04-02 23:26] mbroadst commented on #230
@gjr-qm hrm that's really strange, can you possibly print out debug information around the time of the force detach? It looks like the condition isn't being properly caught.

You would just run your code with `DEBUG=amqp*` before it (or defined in the env vars on windows iirc)

[2016-04-02 23:27] mbroadst commented on #230
@gjr-qm ah I see the problem right here: https://github.com/noodlefrenzy/node-amqp10/blob/6e20ff9a123b2f78f0fe24401dfc7a3c6a9b3d7d/lib/utilities.js#L265. I'll put together a quick patch and test and we'll get 3.1.3 out the door for you

[2016-04-02 23:53] gjr-qm commented on #230
Cool! Thanks for your quick response (as always). If you need more info from me, i'll be happy to help out.

[2016-04-03 01:02] mbroadst commented on #230
@gjr-qm should be fixed in 3.1.3, cheers

[2016-04-03 01:02] #230 closed

[2016-04-03 10:04] gjr-qm commented on #230
Perfect, it works as before! Thanks again, cheers.

[2016-04-05 05:01] kolonse commented on #229
@mbroadst thanks for you! i'd like to use your open source code. last time, i find other bug,and you fix it very fast. this code be used my project a long time,thanks very much!

[2016-04-08 11:44] MorganLindqvist opened #231 "Add a History.md file"
Hi,

I would like more information about what changes that are included in a new release. Would it be possible to start a History.md file that describes that changes since the last release.

As a user you then know what to pay extra focus on when starting to use the new version.

/Morgan

[2016-04-08 11:50] mbroadst commented on #231
@MorganLindqvist sounds like a great idea, in fact I believe since we've been pretty good about commit formatting I might be able to just get away with using [conventional-changelog](https://www.npmjs.com/package/conventional-changelog). I'll look into it this afternoon.

[2016-04-08 13:28] mbroadst commented on #231
@MorganLindqvist committed: https://github.com/noodlefrenzy/node-amqp10/blob/master/CHANGELOG.md

[2016-04-08 13:28] #231 closed

[2016-04-12 12:46] #229 closed

[2016-04-15 19:15] MorganLindqvist opened #232 "How to use SSL client certificates"
Hi,

Is there an example somewhere which shows how I could use SSL client certificates to connect to a AMQP server?

Best Regards,
Morgan

[2016-04-21 15:20] gjr-qm opened #233 "How to handle throttling in combination with link.release?"
As per the throttlng example is use the 'Policy.Utils.RenewOnSettle(1, 1, Policy.ServiceBusQueue)' policy for my ASB queue.

When i receive a message that i cannot handle (yet), i use link.release to notify this to the ASB.

The problem is that my credits wil not be renewed (since it renews on settle and the message is not settled but released), but even if i put a link.addCredits(1) above or belo

[2016-04-23 15:51] mbroadst commented on #233
@gjr-qm hm that does seems like a bug in our renew on settle policy if that's what's happening. To add a little bit of clarity here: sending a `release` disposition is _indeed_ settling the message (in fact I tried to make this pretty clear in the code itself, as you can see [here](https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/receiver_link.js#L62)). This _might_ be a SB-related bug,

[2016-04-23 16:31] mbroadst commented on #233
@gjr-qm hey so I pushed an integration test for qpid that I _think_ emulates what you've described above in this commit: cc5cc408cb9358a693f3f50bc41f6be20cc1482d

Could you take a look at that and see if I've misinterpreted your use case at all? This will be useful to isolate whether this is indeed a problem with ServiceBus or an issue on our side. Thanks!

[2016-04-23 17:25] gjr-qm commented on #233
@mbroadst that should do the trick. I'll run some test myself too, but if the test you've written resembles my experience, then it will take quite some time until it finishes.

I'll let you know my testresults. Thanks!

[2016-04-23 17:27] mbroadst commented on #233
@gjr-qm well the test I wrote works as expected, so if you could take a look at it and see if I maybe implemented it differently than you have on your side we should make changes to isolate the bug. Otherwise I fear it might just be a SB issue

[2016-04-26 15:26] mbroadst commented on #232
@MorganLindqvist we don't have any examples out of the box, but to give you a quick overview:

SSL information is passed directly to node's tls module from the policy in the form:
[code]

The options themselves are documented here: https://nodejs.org/api/tls.html#tls_tls_connect_options_callback.

HTH

[2016-04-26 15:26] #205 closed

[2016-04-26 15:26] mbroadst commented on #205
closed due to lack of information, will reopen if that comes in

[2016-04-26 15:27] mbroadst commented on #146
@jacoscaz any further information on this? I'd like to close the issue if it's no longer a problem.

[2016-04-26 15:28] mbroadst commented on #45
This was based on an incredibly old version of the code, please try to update to the latest version and let us know if you still have this issue. In the meantime closing for lack of activity.

[2016-04-26 15:28] #45 closed

[2016-04-26 15:29] mbroadst commented on #96
no longer an issue with the new types system

[2016-04-26 15:29] #96 closed

[2016-04-26 22:13] gjr-qm commented on #233
I did some tests and in my code i did not release or accept the message in certain cases. Since i did not accept, release or reject the message it took until the timeout (10 minutes) before the message was redelivered again. And all messages in the queue had to wait until my message was deadlettered after 100 minutes before i could process them.

@mbroadst your test is ok!

I'm still a little conf

[2016-04-27 10:11] MorganLindqvist commented on #232
Hi @mbroadst

I ended up reading all the source code and eventually found how it should be done. It is however not as you describe above. sslOptions is a JSON struct with the following parameters { keyFile:: 'path and file name', certFile: 'path and file name', caFile: 'path and file name', rejectUnauthorized: booleanValue }

Of these four parameters only the last one exists in the "real" sslOptio

[2016-04-27 12:34] mbroadst commented on #232
@MorganLindqvist ah indeed you are correct, my apologies! I think I was just wishfully thinking, considering we _should_ just pass those options wholesale rather than pick out a small amount of supported options. I'll make a note to support all the options.

[2016-04-27 12:34] #232 closed

[2016-04-28 17:38] noodlefrenzy opened #234 "ServiceBusPolicy should pass through Buffers without JSONifying."
Right now they get JSON.stringify'd, which seems wrong and is causing https://github.com/Azure/azure-event-hubs/issues/118

[2016-04-28 19:49] mbroadst commented on #233
@gjr-qm yeah you're not alone, the different disposition outcomes are generally confusing! Our api tries to reflect the spec as much as possible, so I suggest you take a look [there](https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwjs5bnsjLLMAhUkgYMKHR_UAxgQFggcMAA&url=http%3A%2F%2Fdocs.oasis-open.org%2Famqp%2Fcore%2Fv1.0%2Fos%2Famqp-core-complete-v1.0-os.p

[2016-06-02 14:33] MorganLindqvist opened #236 "The changelog was not updated for the release 3.1.5"
The changelog was not updated for the release 3.1.5

[2016-06-02 14:49] mbroadst commented on #236
closed by ccce73272b02e2dc272aacce42ea312248e9932d

[2016-06-02 14:49] #236 closed

[2016-06-07 12:29] hamzaanjum opened #237 "can not read property sendframe of undefined"
I am using the Azure IoT NodeJS Sdk, and the receiver is crashing my application while attempting to reattach. It crashes after about 2 days of running. I have even added manual refreshing of the amqp client every 10 minutes and disconnecting the old one, and now it managed to run for about 5 days, but then crashed with the same error.

<img width="601" alt="node error" src="https://cloud.githubus

[2016-06-07 12:51] mbroadst commented on #237
@hamzaanjum hey, sorry you're having this issue! We have notoriously had issues with the reconnect/reattach code because they are incredibly difficult to track down. It would be incredibly helpful if it was possible for you to run a session with debugging information enabled (`DEBUG=amqp*` as an environment variable) and try to isolate the conditions which caused the connection to fail, and thus l

[2016-06-16 19:51] geoffreysamper opened #240 "question about client.createsender"
I want to test some code against azure event hub pretty simple process a forever loop that keep sending messages. On every message I call the createsender method of the amqp client. After sending 255 message i received  **AmqpOverCapacityError: Out of available handles (Max = 255)**. So what i instead of creating a sender on for each message I reused the sender.
**BEFORE**
[code]

**AFTER**

[code

[2016-06-16 20:07] mbroadst commented on #240
You should absolutely use the same sender for multiple messages. Here's a cleaned up example:

[code]

The issue you were running into in the `before` case is that you never actually closed/detached the sender links you were creating, and therefore ran out of handles for the connection.

[2016-06-16 20:30] geoffreysamper commented on #240
How can i close or detach the sender form the connection? I can't find any method on the sender object to do that

[2016-06-16 20:32] mbroadst commented on #240
https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/link.js#L110

[2016-06-16 20:33] mbroadst commented on #240
Furthermore, if you use [this](https://github.com/mbroadst/amqp10-link-cache) module, you can maintain a cache for links which will automatically expire unused links after a defined TTL

[2016-06-17 07:53] geoffreysamper commented on #240
Ok thanks for the help

[2016-06-17 10:55] hamzaanjum commented on #237
It has been almost 2 weeks that the service is running on debug mode without any issues, using the following command on command prompt (app is built on express framework).
`node debug ./bin/www`

Waiting for it to crash before I run the session with your asked way of enabling debugging information

[2016-06-17 11:54] mbroadst commented on #237
@hamzaanjum yeah, as you can see these issues are incredibly difficult to pinpoint as they happen to infrequently (and only with Azure to boot). Please keep us up to date if/when you run into this again, we certainly want to make sure it doesn't happen again.

[2016-06-23 14:36] grill2010 opened #241 "Apache ActiveMQ create topic"
Hi,

I could not create any topic on Apache ActiveMQ. Below you can find my code:

[code]

Did I do something wrong? The weird thing is that when I look on the ActiveMQ Webinterface the only thing which was created is a queue element with the name topic:
Many thanks for your help.

[2016-06-23 14:55] mbroadst commented on #241
@grill2010 hmm that looks like it should work. We don't actively test ActiveMQ, but have in the past.. could you possibly provide the debug logs for this attempt? (add the following environment variable: `DEBUG=amqp*`)

[2016-06-23 15:18] grill2010 commented on #241
Hi, many thanks for your quick response. I figured out the problem. It seems that I have to pass the ActiveMQ standard policy to the AMQPClient.

[code]

It works as expected now.

best wishes

[2016-06-23 15:20] mbroadst commented on #241
👍

[2016-06-23 15:20] #241 closed

[2016-06-28 10:53] Alex-Wauters opened #242 "Unable to connect to azure queues (AmqpMalformedPayloadError)"
Hi,

we are using node-amqp10 to receive messages from a queue hosted on Azure Service Bus.
This has worked fine for weeks. Since today, our code is failing with the following error:

[code]
Full logs with debug mode enabled:

[code]

Simplification of our amqp10 code and settings:

[code]

We're in touch with Azure just in case it is something on their end, any hints as to how we can circumvent t

[2016-06-28 11:33] Luzenna commented on #242
+1

I have the exact same issue.

[2016-06-28 11:40] mbroadst commented on #242
@Alex-Wauters hi, can you please confirm what version of `amqp10` you are running? If you're using semver, could you please try pinning your version to `3.1.5`? I might have screwed something up in that last release

[2016-06-28 11:43] Alex-Wauters commented on #242
Hi @mbroadst, thank you for your answer; we are using 3.2.0

I installed amqp10@3.1.5 and still experience the same issue

[2016-06-28 11:47] mbroadst commented on #242
@Alex-Wauters okay that sounds like it's an issue with Azure itself unfortunately. I'll try to inspect the bits that are actually failing, but we'll have to get some feedback from @noodlefrenzy as to what might have changed on the Azure side of things. Sorry for the trouble!

[2016-06-28 11:50] Alex-Wauters commented on #242
Thank you very much, that was my assumption as well, I will keep this issue updated in case MS support discover something / resolve the issue.
@Luzenna: is this issue also new for you since today?

[2016-06-28 11:51] Luzenna commented on #242
@Alex-Wauters Yes, it started today.

[2016-06-28 11:54] mbroadst commented on #242
@Alex-Wauters yeah I just ran this through our handy little tool for inspecting amqp frames and it came up with a number of "unexpected" sequences. It's possible that Microsoft has rolled out an update to Azure that includes an amqp framing error. Let's see what they say

[2016-06-28 14:49] Alex-Wauters commented on #242
According to Azure Support, there seems to be a problem with the scale unit on which our namespaces reside. The status has been updated on https://azure.microsoft.com/en-us/status/#current

Thanks a lot for checking the issue @mbroadst ; you can close this issue if you wish, otherwise I'll update it when I hear more on when the issue is resolved on Azure side.

[2016-06-28 14:51] mbroadst commented on #242
@Alex-Wauters glad to hear it wasn't us 😄

[2016-06-28 19:07] jtaubensee commented on #242
Hey @Luzenna - Can you create a support ticket for this? The support team will make sure to prioritize your location to receive the update first.

@Alex-Wauters - You have already created one, correct?

[2016-06-28 22:04] Alex-Wauters commented on #242
Correct, thank you for checking!

[2016-06-29 05:28] Luzenna commented on #242
@jtaubensee No, I don't think I can. I tried to send a ticket to the technical support team through the azure portal when I first noticed this issue, however it wanted to sell me a support plan, which I do not really want at this moment. I reached out to you guys through twitter, where I got a message back after some hours (I was off work at that time) saying it should be resolved. However, it has

[2016-06-29 06:18] Alex-Wauters commented on #242
It seems several things were going on yesterday and our issue was not the one resolved in the first fixes.

The fix is still getting deployed; as a short term solution you could use non-partitioned entities as the change only affects partitioned entities

[2016-06-29 06:39] Luzenna commented on #242
@Alex-Wauters Thanks for the updates.

@jtaubensee I contacted Azure Support twitter and they were generous enough to give us a one-off free support to help me out with this issue. A support ticket have been created in the Azure Portal.

[2016-06-29 15:58] jtaubensee commented on #242
@Luzenna - Glad to hear that you were able to get support! Let me know if things aren't fixed in the time-frame they provided. Thanks!

[2016-06-29 18:22] ragnarol opened #243 "Cannot connect to Azure Service Bus"
Since 27th of June I have started to get an error when I try to create a receiver to one Azure Servicebus subscription.

This has been working flawlessly till now so not sure if the problem is on Azure or the library side.

The error I get is:

The code I use to create the receiver is like the following (typescript)

[code]

Any ideas what that 71 on the payload could be? The subscription is empty

[2016-06-29 18:29] mbroadst commented on #243
this is a duplicate of https://github.com/noodlefrenzy/node-amqp10/issues/242

It's a problem that the Azure team is working on, please keep discussion limited to that issue thanks!

[2016-06-29 18:29] #243 closed

[2016-06-29 18:30] mbroadst commented on #242
I'm going to open this back up until someone confirms the problem has been solved since we're now getting duplicate tickets for the issue.

[2016-06-29 18:33] ragnarol commented on #242
@mbroadst thanks! dont know how I missed this ticket!

[2016-06-29 18:34] mbroadst commented on #242
@ragnarol I can! It's hard to remember to look through closed tickets as well (they look like they're not a problem anymore) 😄

[2016-06-30 06:12] hamzaanjum commented on #237
@mbroadst is there a way to write all this log with debugging information enabled (DEBUG=amqp* as an environment variable) to a file?
I have tried the **npm start >> outputfile** command, but it only writes those lines, that I am logging.
Because I am on a windows machine, and I can't scroll much on command prompt, and only the smallest fraction of the log would be retrievable at the end.

[2016-06-30 08:18] Alex-Wauters commented on #242
The issue is resolved for us! Thank you very much for all the help and info everyone

[2016-06-30 12:37] mbroadst commented on #237
@hamzaanjum in looking at this article https://support.microsoft.com/en-us/kb/110930 it looks like your windows shell supports general posix formatting for this. Try out `npm start 1> outputfile 2>&1`

[2016-06-30 12:38] #240 closed

[2016-06-30 12:38] mbroadst commented on #242
@Alex-Wauters glad to hear it, can we get confirmation from @Luzenna and @ragnarol please?

[2016-06-30 12:46] mbroadst commented on #14
we have pretty robust support for disposition, which I believe meets the criteria here

[2016-06-30 12:46] #14 closed

[2016-06-30 13:00] ragnarol commented on #242
@mbroadst fixed for us as well. Thanks!

[2016-06-30 13:20] Luzenna commented on #242
@mbroadst All good on our end! :)

[2016-06-30 13:21] mbroadst commented on #242
thanks everybody

[2016-06-30 13:21] #242 closed

[2016-06-30 13:43] hamzaanjum commented on #237
@mbroadst yeah, it works. Though it would be a pretty huge file by the time it crashes :D

[2016-06-30 13:46] mbroadst commented on #237
@hamzaanjum unfortunately yeah 😳 I can give you an address to upload the file to, it should zip down to a reasonable size? You might also be able to determine yourself what parts of the log are relevant as they should differ around the error site.

[2016-06-30 13:54] hamzaanjum commented on #237
@mbroadst I'll surely upload the file, if I won't be able to figure out the problem. But right now, the main problem is, that last time it crashed after almost 3.5 weeks :(

[2016-06-30 22:45] jtaubensee commented on #242
Would you be interested in joining our Yammer Service Bus Advisors group? I'd like to get as many customers as possible in there who use Node, as you guys are a little under-represented at the moment. If you are interested, just let me know!

[2016-07-13 06:37] hamzaanjum commented on #237
Here is the last section of the log just before the crash, before this, the heartbeat was working just fine.

[code]

[2016-07-13 12:25] mbroadst commented on #237
@hamzaanjum thank you very much for the report! I think I see where the issue is in our code, but it still seems like the remote side shouldn't be disconnecting us this way. I'll try to put together a unit test later to emulate what happened here and hopefully we can close this once and for all.

[2016-07-14 19:18] mbroadst commented on #237
fixed in 3a7272d307f3ef19ff01ccbfe1db1536b627592e, and release in 3.2.2

[2016-07-14 19:31] hamzaanjum commented on #237
thanks, updated the sdk, and start the service again. Let's test it for a final time :)

[2016-07-14 19:36] mbroadst commented on #237
@hamzaanjum I hope so! Thanks for sticking with us on this one, it was a particularly nasty race condition

[2016-07-16 13:26] gjr-qm opened #245 "ASB: client just stops receiving (node-amqp10 version 3.1.3)"
On our production machine 3 times now, the receiver spontaneously stops working. New messages are delivered to the queue, but we never receive them from the ASB (receiver.on('message'... is not called anymore). No error, no nothing.

The first time it happened was after about a week uptime. After that it took 4 weeks before it stopped working and yesterday after only a couple of hours it happened

[2016-07-16 15:02] mbroadst commented on #245
@gjr-qm we pushed a fix out in 3.2.1 that might help you: https://github.com/noodlefrenzy/node-amqp10/blob/master/CHANGELOG.md#bug-fixes-1. Specifically, we weren't making deep copies of the policy (in your case the SB policy), and so the outgoing window was being incremented and not reset on the creation of new clients.

This should technically only affect you if you are indeed using multiple cli

[2016-07-16 23:05] gjr-qm commented on #245
@mbroadst thanks for your response. We actually use multiple clients in the application. We do have a listener to the `errorReceived` event.

Here is a more complete version of the code we use:

[code]

So for every queue we call the setupQueue function with the relevant data/settings and a function that should be called when a message is received. The message is accepted if this function returns

[2016-07-17 15:57] mbroadst commented on #245
@gjr-qm thanks, and I hope so too! The client was originally designed mostly with the intention of using a single client (we have tools like `amqp10-link-cache` to help manage tons of similar link connections as well), since AMQP 1.0's preferred behavior is to multiplex over a single socket.

Having said that we do support multiple clients. This issue slipped through the cracks mostly because I'm

[2016-07-17 17:45] gjr-qm commented on #245
@mbroadst i was not aware of the `amqp10-link-cache` module. I will look into that too, because at the moment we use our own caching of sender links (for the topics). Caching receiver links (for the queues) is nog something we need, because the listeners for each queue should run always during the lifetime of the application.

[2016-08-02 09:04] gjr-qm commented on #245
Updating to the last version of node-amqp10 didn't solve the problem. We had 2 more occurences of queues that just stopped. Could it be it has something to do with the throttling we use on the receiver links? We got the throttling implementation from the documentation. Maybe the credits are not added in the following code:

[code]

What would be the best way to check this?

[2016-08-02 10:42] torgeir opened #246 "Question: Policy.merge()"
Just starting out with node-amqp10 I was trying to create a QpidJava policy with some of the `sslOptions` overridden.

Browsing through the code I got the impression that something along the lines of this would work. Should this be working, or am I misunderstanding things?

[code]

It dies with

[code]

Fell back to this, which does seems to work, but is unfortunate as it overrides the defaults.

[2016-08-02 13:36] mbroadst commented on #246
Hey it looks like this is a bug with our `deepMerge` implementation, but it also seems to work if you just flip the order of the merged objects:
[code]

Sorry for the confusion, maybe @noodlefrenzy can speak to this - otherwise we can change the docs to reflect this form.

[2016-08-02 13:38] torgeir commented on #246
Alright.

But that would merge the other way around, no? My extensions into the QpidJava object, which I was trying to avoid.

[2016-08-02 13:47] mbroadst commented on #246
yup totally :) give me a minute maybe I can solve this quickly. Another alternative is that the `Policy` class itself takes overrides as its first argument, so you can just do `let myPolicy = new Policy({ /* all the overrides from the existing qpidjava policy */});`

[2016-08-02 13:49] torgeir commented on #246
Hehe, np. An `Object.assign` will do for now :)

[2016-08-02 13:50] mbroadst commented on #245
hrm sorry to hear that, there definitely was an error but maybe we're working against a few issues here. Unfortunately the best way to check what's going on is going to be grabbing some debug logs and/or printing out important values at critical junctures (such as the credit function you posted above).

Can you easily reproduce this issue, or is it another long-running issue?

[2016-08-02 13:51] mbroadst commented on #246
@torgeir oh how I desperately wish to update the codebase to es6... that's sort of on the docket for a v4, but for now we have to deal with all this

[2016-08-02 14:14] donaldjarmstrong commented on #209
+1.

[2016-08-02 14:50] gjr-qm commented on #245
The issue is not reproducible unfortunately...

One time the service runs for 4 weeks without problems, sometimes it takes a couple of days. And we never had it on our development or test-environment. I think i will put some extra logging in, because i'm afraid that the debug functionality will cause other issues because it's so intense.

[2016-08-10 07:27] Alex-Wauters commented on #242
Hi @jtaubensee, thanks for the invitation, I'll send our details over linkedIn

[2016-08-15 06:40] hamzaanjum commented on #237
@mbroadst Its been a full month, and the service is still running, so I guess it won't cause any trouble in the future.
Thanks ...

[2016-08-15 06:40] #237 closed

[2016-09-15 15:07] vIceBerg opened #248 "Is there an automatic reconnection when a "detached" error occurs?"
HI!

Here`s my code:

[code]

And I use myFirstSender and mySecondSender in code to send messages

So, when I receive a "detached" event, my code disconnect the client, wait 1 seconds and reconnect using the provided function (connect1 or connect2).

I thought it was a proper pattern.

But when I get a "detached" event,  after that I get TimeOut error every 10 minutes... So it makes me think that

[2016-09-15 15:36] mbroadst commented on #248
first of all, the default behavior is to auto reconnect and restablish links on reconnect unless you specify otherwise in your policy - just so you're aware of that.

I'm not really sure about the 10min timeout errors, that sounds like maybe a setting specific to azure. You could potentially monitor the `_senderLinks` and `_receiverLinks` of your client's `_session`, in order to determine how many

[2016-09-15 15:45] vIceBerg commented on #248
Hi!

So my reconnect code is not needed, isn't that right?

I'll enable the debug variable and get back to you.

[2016-09-15 15:48] mbroadst commented on #248
@vIceBerg yep! if you check [this](https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/policies/policy.js#L39) you'll see the default settings for `reconnect`, which are used unless otherwise specified. Furthmore, we have sender and receiver link `reattach` settings [here](https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/policies/service_bus_policy.js#L19) and [here](https://git

[2016-09-23 08:47] dnwe opened #249 "Unable to specify `closed=false` when sending Link @detach frame"
Currently the internal Link detach operation has a hard-coded value of `closed=true`

[code]

Ideally it would be possible to override this as a parameter to the public Link.prototype.detach function. The use case for this is on a receiver Link where it may be used to indicate whether a durable subscription with remaining ttl should continue to store messages at the remote end (ready for delivery

[2016-09-23 12:08] mbroadst commented on #249
@dnwe agreed. In fact the definition of the performative indicates an additional `error` field which we should support from the public API:
[code]

The error type should probably be required to be e.g. an `errors.ProtocolError`.

[2016-09-27 11:47] dnwe opened #250 "Unable to connect using SASL ANONYMOUS"
Currently node-amqp10 supports either the raw AMQP protocol (for non-authenticated connections), or AMQP with a SASL PLAIN security layer (for authenticated connections). It would be helpful to additionally provide a policy for connecting with a SASL ANONYMOUS layer when no credentials are provided.

(I'll submit a PR shortly with an initial proposal)

[2016-09-27 14:43] dnwe opened #253 "`make coverage` failing on master"
This appears to be failing both on Travis and on local `make coverage` runs.

[code]

[2016-09-27 14:55] dnwe commented on #253
(actually the local ones I'm guessing its just because I haven't set serviceBusHost env, but I assume Travis is meant to be able to run these?)

[2016-09-27 14:59] dnwe commented on #253
Ah yes, I see from the main master travis build log:
[code]

However, this does mean that the status checks on pull requests will always fail?

[2016-09-27 15:12] mbroadst commented on #253
@dnwe yes, to conserve resource usage on the ServiceBus/EventHub servers that @noodlefrenzy set up, these values are only injected on the main repo. As a consequence, PRs that aren't from us will fail, which generally wasn't a problem since we were the only ones committing to the repo.

If you don't mind, a very simply solution could be implemented to simply `skip` those tests instead of throwing

[2016-09-27 21:54] dnwe commented on #253
@mbroadst out of interest is there any automation for standing up the resources in azure needed to run the suite, or is it just default config?

[2016-09-27 22:03] mbroadst commented on #253
You'd have to speak to @noodlefrenzy about that, but I believe it can be set up somewhat easily with the basic credits provided with a developer account. I'll let him chime in, but he might be out of town for a bit here.

[2016-09-27 22:45] dnwe opened #255 "Unable to choose AMQP encoding for Buffer or Array types"
Currently the `encodeMessage` function in `lib/types/message.js` makes the following encoding decisions based upon the type of the `message.body`
[code]

However, it is equally valid to take Buffer data and put it into a Binary type within an AMQPValue, or to take Array data and put it into an Array/List in an AMQPValue. Whilst the `codec.encode(..)` supports both of these, there doesn't appear to

[2016-09-27 22:53] mbroadst commented on #255
related: https://github.com/noodlefrenzy/node-amqp10/issues/97

[2016-09-27 23:01] #249 closed

[2016-09-28 10:34] dnwe commented on #253
Happy to close this one off now that the servicebus tests are just being skipped if the env vars aren't available. Thanks @mbroadst

[2016-09-28 10:34] #253 closed

[2016-10-06 16:44] tirithen opened #258 "No callback triggered on ECONNREFUSED"
Hi, I'm having troubles that the promise rejection callback is not executed when the connection fails, if I run with DEBUG=amqp* I get these repeated logs:

[code]

I need to have a working error callback somewhere but it never seem to trigger. In desperation I added client.on('error', () => {}) without knowing if that even exists.

The code that I use are:

[code]

[2016-10-06 16:59] tirithen commented on #258
I found something that might be the answer, if I set the event listener to

this.client.on(AMQP.Client.ErrorReceived, error => console.error(error));

[2016-10-06 16:59] #258 closed

[2016-10-06 16:59] mbroadst commented on #258
@tirithen this is most likely because you have reconnect set to retry forever (the default). You could for instance try: `this.client = new AMQP.Client({ reconnect: { retries: 1, forever: false } });`

[2016-10-06 17:00] tirithen commented on #258
Also thanks for fast response :)

[2016-10-06 18:02] tirithen opened #259 "Unablt to connect, stuck on "Transitioning from START to IN_SASL due to connected""
I can't get to any of the callbacks on the connection, neither with correct/invalid authentication credentials. It gets stuck on the state "Transitioning from START to IN_SASL due to connected". I have auto reconnect setup so the same message is printed over and over. Why are the this.client.connect call neither resolving as success nor failure? Is there some event somewhere that I should be liste

[2016-10-06 18:05] mbroadst commented on #259
@tirithen do the logs stop there? There's no further data sent?

[2016-10-06 18:05] tirithen commented on #259
Yes, they stop there

[2016-10-06 18:07] mbroadst commented on #259
That looks like the amqp server isn't responding to anything on that port, are you sure you have an AMQP 1.0 listener on that port? (I noticed in the log you are connecting to port 61613 but default to the expected 5672 in your code snippet)

[2016-10-06 18:07] mbroadst commented on #259
Oh. Port 61613 is for the STOMP protocol, we do not support that with this library.

[2016-10-06 18:07] tirithen commented on #259
I thought so, using docker image from https://hub.docker.com/r/webcenter/activemq/

[2016-10-06 18:08] tirithen commented on #259
Ah, guess I need to find out more about that docker image as well. Would still be great with a failed to connect callback somewhere even in that case though. :)

[2016-10-06 18:10] mbroadst commented on #259
Well that's exactly it, from our perspective we did not fail. This is like sending ssh commands to a telnet server, at what point do you say this failed to a user? We could theoretically time out on the connection attempt I guess

[2016-10-06 18:12] tirithen commented on #259
Okay, yes maybe that makes sense. But what if you have configured the ports in a bad way for example. If nothing is listening I do get an error.

[2016-10-06 18:13] tirithen commented on #259
Anyway, it's probably mostly me that is new to this and need to find a docker image with ActiveMQ that works.

[2016-10-06 18:16] mbroadst commented on #259
@tirithen let's look at it another way. When you screw up the ports, and we connect and give you an error that's like making a telephone call and getting an "out of service" error from the telephone company - you're right, we propagate that error from the operating system in that case. In your case here, it's like you are a person who speaks english calling what they _think_ is another person who

[2016-10-06 18:19] mbroadst commented on #259
WRT your docker image, iirc ActiveMQ comes with support for AMQP 1.0 and STOMP out of the box. You simply need to make sure you enable the AMQP 1.0 backend, and connect on the default port of 5672

[2016-10-06 18:20] tirithen commented on #259
:) Okay, it's okay

Yes, realized that now, so enabled port 5672 but instead got some protocol version problem

Server AMQP Version: 6976654d51000000 vs 414d515000010000

[2016-10-06 18:24] tirithen commented on #259
Nevermind now everything works! :D

[2016-10-06 18:24] #259 closed

[2016-10-06 23:37] #250 closed

[2016-10-12 13:25] mbroadst commented on #248
@vIceBerg are you still having an issue here?

[2016-10-13 16:51] princjef opened #263 "deliveryTag not exposed on message"
First of all, thanks for all of your work on this library! It makes working with AMQP a breeze.

I am trying to do some AMQP request/response operations on messages that come in on a receiver attached to Service Bus. As part of my request, I need to pass the deliveryTag of the message I want to work with. However, it looks like the deliveryTag is never passed from the transfer frame into the messa

[2016-10-13 17:04] mbroadst commented on #263
@princjef hey, what if we extended the `ReceiverLink` `message` emission to include the original frame? For instance you would have:

[code]

[2016-10-13 17:21] mbroadst commented on #263
btw doing something with that extra argument is completely opt-in, so this would _not_ break the following:
[code]

[2016-10-13 17:55] princjef commented on #263
@mbroadst I like that approach a lot. It exposes the information only if someone wants it and also future-proofs in case there is other information from the frame that people need down the line.

[2016-10-13 17:56] mbroadst commented on #263
@princjef great. Your timing is impeccable, today is my amqp10 day :) I'll put together a PR quickly if you have some time to give it a spin on your side.

[2016-10-13 17:58] princjef commented on #263
Yeah definitely! Let me know when you've got something

[2016-10-13 18:11] mbroadst commented on #263
Give it a spin on this branch: https://github.com/noodlefrenzy/node-amqp10/tree/emit-transfer-frame.

It should be noted that we don't provide a way for you to _set_ the `deliveryTag` from the `SenderLink` side of the equation - but my interpretation of the spec is that that's the way it should be 😄

[2016-10-13 18:26] princjef commented on #263
Works as expected. Nice!

Yeah that seems reasonable. The deliveryTag ends up getting passed in the body of the message I need to send on the other side so no issues there 😄

[2016-10-13 18:27] mbroadst commented on #263
added in cd59fecb940dd9462841c08e94c43055712f67c8

[2016-10-13 18:27] #263 closed

[2016-10-13 21:30] pierreca opened #265 "Send promise not rejected when disconnected"
Followup on https://github.com/Azure/azure-iot-sdks/issues/852

Repro steps:
1. connect a client
2. create a sender
3. start sending messages at interval
4. verify it works
5. pull the network cable
6. wait

subsequent promises are never resolved or rejected, even after the disconnected event is received.
Please find below code/console output to repro:
[code]
[code]

[2016-10-14 14:44] vIceBerg commented on #248
Hi!

I removed my reconnection logic and it seams to work now.

Thanks

From: Matt Broadstone [mailto:notifications@github.com]
Sent: 12 octobre 2016 09:26
To: noodlefrenzy/node-amqp10
Cc: vIceBerg; Mention
Subject: Re: [noodlefrenzy/node-amqp10] Is there an automatic reconnection when a "detached" error occurs? (#248)

@vIceBerg <https://github.com/vIceBerg>  are you still having an issue here?

[2016-10-14 14:47] #248 closed

[2016-10-19 15:50] wingedfox opened #267 "Allow to process sender/receiver address in Policy"
Hi,

I met an issue with ApacheArtemis bundled with Fabric8 - fabric8io/fabric8-ipaas#465
Artemis forces to use `jms.queue.` prefix and you already have similar issue #48 with ActiveMQ.

For rather small projects this might be not an issue, but for bigger project it is, because it blocks cluster-wide queue/topic naming.

What do you think about applying some policy-based processing to `linkPolicy`

[2016-10-19 18:33] pierreca opened #268 "amqp10@3.3.0 breaks support for x509 certificates"
This change: https://github.com/noodlefrenzy/node-amqp10/commit/d0672022f57d979c7645117ccb197fc2f19bc373

uses `deepMerge` but `deepMerge` doesn't support duplicating objects of type `Buffer`, which are used to store certificates and keys in the `sslOptions` field (`Buffer` constructors require arguments, and
https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/utilities.js#L120 will not pa

[2016-10-19 19:05] #268 closed

[2016-10-20 09:41] dnwe commented on #255
Fixed.

[2016-10-20 09:41] #255 closed

[2016-10-20 09:42] dnwe commented on #268
@mbroadst oops. As this is a breaking regression, should we be pushing out a 3.3.1?

[2016-10-20 09:47] dnwe opened #269 "api/README.md seems pretty out-of-date"
The [api/README.md](/noodlefrenzy/node-amqp10/tree/master/api) hasn't been rebuilt in over a year and is pretty out-of-date since all the types refactoring etc.

I did investigate bumping up [jsdoc2md/jsdoc-to-markdown](/jsdoc2md/jsdoc-to-markdown) version (to avoid a npm install error about deprecated minimatch) and re-building, but it seemed like we have a lot less jsdoc than we used to and so t

[2016-10-20 12:40] mbroadst commented on #269
@dnwe a good point indeed. The api/README.md traditionally documented _everything_, but I wonder if we should actually just be documenting the user-facing API. What are your thoughts on this?

[2016-10-20 13:12] mbroadst commented on #267
@wingedfox The solution was actually to move `parseAddress` to the base `Policy` itself (see [here](https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/policies/policy.js#L115)). You can modify that in your `Policy` subclass now to handle whatever special cases you run into.

It does appear that maybe you're specifically asking about parsing link addresses in particular, in which case it m

[2016-10-20 13:36] wingedfox commented on #267
@mbroadst Solution works with an url, not queue/topic name referred as `address` in
createSender - https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/amqp_client.js#L186
createReceiver - https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/amqp_client.js#L253

I am looking for a way to process link address in order to have a policy with queue/topic name mangling for different MQ im

[2016-10-20 13:39] mbroadst commented on #267
@wingedfox right, and those are using [this method](https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/utilities.js#L100). I'm proposing we move that method to `Policy` (similar to `parseAddress`), so that users can implement their own logic. Does that sound reasonable?

[2016-10-20 14:02] wingedfox commented on #267
Sure it is.

[2016-10-20 15:10] #267 closed

[2016-10-20 15:34] mbroadst commented on #267
@wingedfox okay I've pushed the fix in d1ae649, perhaps you can give it a try? The idea here would be that you have something like:

[code]

[2016-10-24 07:56] 7chandan commented on #265
Hi, any idea on when this issue will be solved? Thanks.

[2016-10-24 13:32] mbroadst commented on #265
@pierreca @7chandan I've pushed a fix to the `issue265` branch, please test it and confirm whether it fixes your problem.

[2016-10-25 21:12] pierreca commented on #265
LGTM :shipit: :)

[2016-10-27 15:17] anthonyvercolano opened #273 "Request for support of SASL MSSBCBS"
We (the Azure IoT SDK) team would like to see support for the SASL MSSBCBS protocol.  There is a specification for this in

https://www.google.com/url?sa=t&source=web&rct=j&url=https://www.oasis-open.org/committees/download.php/50506/amqp-cbs-v1%25200-wd02%25202013-08-12.doc&ved=0ahUKEwjF7PmFmfrPAhVrwlQKHR9xA8cQFggnMAA&usg=AFQjCNG1UOY6yJRcy_3OK8jKzFsZt5mGmg&sig2=0I0xrCCbwzxVeMdunaW73Q

However for

[2016-10-27 15:42] mbroadst commented on #265
fixed in db93618f86415ff51d5f87226969400d4d4526f2

[2016-10-27 15:42] #265 closed

[2016-10-27 16:01] mbroadst commented on #273
From what I can tell this would appear to require some refactoring of our SASL code, which was already showing its age when @dnwe had to work with it a few weeks ago.

If I'm not mistaken the refactor would basically require:
- splitting the existing `sasl.js` into "SASL plugins"
- pass the `AMQPClient` to the plugin's `negotiate` method
  - this allows the plugin to maintain extra state using the

[2016-10-27 17:01] princjef opened #274 "Error Decoding AMQP Array"
I am trying to receive a message whose body is an AMQP value with the following format:

[code]

However, when the message comes in, I get the following exception while decoding (types.js, line 210):

[code]

Looking at [codec._readFullValue](https://github.com/noodlefrenzy/node-amqp10/blob/master/lib/codec.js#L46), it looks like there is an off-by-one error when using `forcedCode` with fixed-widt

[2016-10-27 17:22] mbroadst commented on #274
fixed in #275

[2016-10-27 17:22] #274 closed

[2016-10-27 17:42] princjef opened #276 "Export ForcedType and AMQPArray"
Sorry for the blitz of issues. I was working through a long scenario and wanted to make sure it worked end-to-end before raising issues for the things I needed to get it working 😄

I am trying to send a message whose body is an AMQP value with the following format:

[code]

The problem is that the service I'm talking to specifically expects a map with an array as the value for key "lock-tokens" an

[2016-10-27 18:07] princjef opened #277 "Can't change source link address on `createSender()` or target link address on `createReceiver()`"
I have been trying to implement the request/response pattern in the [AMQP Management working draft](https://www.oasis-open.org/committees/download.php/52425/amqp-man-v1%200-wd08.pdf) on top of node-amqp10.

It works by using a sender/receiver link pair, where the sender sets the `replyTo` property to the address of the receiver so that the response is sent to the correct place. In the spec, the se